Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Specify owner value in GenTensorVariable
  pymc/data.py
Due: no-relative-imports

Update clone_replace strict keyword name
  pymc/aesaraf.py
  pymc/smc/smc.py
Due: no-relative-imports

Pin aesara 2.7.0. Remove some dev envs for older python versions. Remove pandas from envs.
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: none

Make readthedocs use python 3.9.
  .readthedocs.yml
Due: none

Resolve conflcits
  requirements-dev.txt
  requirements.txt
Due: none

add deprecation warning for pm.constant
  pymc/distributions/discrete.py
Due: no-relative-imports

updated sampling test to use DiractDelta
  pymc/tests/test_sampling.py
Due: no-relative-imports

add pm.constant to imports for deprecation to work
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
Due: no-relative-imports

alphabetize imports
  pymc/distributions/__init__.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Expand dimensionality notebook
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

Update and remove size discussion
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

Disable dark mode in docs
  docs/source/conf.py
Due: no-relative-imports

test that pm.constant returns a diracdelta with warning
  pymc/tests/test_distributions.py
Due: no-relative-imports

update api docs to reflect diracdelta substitution
  docs/source/api/distributions/discrete.rst
Due: none

match against deprecation warning
  pymc/tests/test_distributions.py
Due: no-relative-imports

fixed linting issue
  pymc/tests/test_distributions.py
Due: no-relative-imports

Disable dark mode in docs (#5904)
  docs/source/conf.py
Due: no-relative-imports

Accommodate feedback and add small section on observed variables
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

move constant test out of TestMatchesScipy
  pymc/tests/test_distributions.py
Due: no-relative-imports

remove root user from Dockerfile
  scripts/Dockerfile
Due: none

update documents on running PyMC in Docker
  CONTRIBUTING.md
  docs/source/contributing/docker_container.md
Due: none

update running docker container from juppyter notebook
  scripts/run_container_jupyter.sh
Due: none

update Dockerfile with pymc v4
  scripts/Dockerfile
Due: none

simplify into one bash script
  scripts/build_container.sh
  scripts/docker_container.sh
  scripts/run_container_bash.sh
  scripts/run_container_jupyter.sh
Due: none

rename and update build docker container
  scripts/build_container.sh
  scripts/start_container.sh
Due: none

add a script for running docker container from bash
  scripts/run_container_bash.sh
Due: none

remove obsolete scripts
  scripts/create_testenv.sh
  scripts/install_miniconda.sh
Due: none

Rename pm.Constant to pm.DiracDelta (#5903)
  docs/source/api/distributions/discrete.rst
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Update dockerfile to PyMC v4 (#5881)
  CONTRIBUTING.md
  docs/source/contributing/docker_container.md
  scripts/Dockerfile
  scripts/create_testenv.sh
  scripts/docker_container.sh
  scripts/install_miniconda.sh
  scripts/start_container.sh
Due: none

refactor sampling_jax postrocessing to avoid jit
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

Align conda env files for easier maintenance
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
Due: pip-from-conda

Avoid writing \r for new lines when generating pip deps on Windows
  scripts/generate_pip_deps_from_conda.py
Due: no-relative-imports

Add Windows 3.9 conda env files
  conda-envs/windows-environment-dev-py39.yml
  conda-envs/windows-environment-test-py39.yml
Due: none

Make conda env comments more formal
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-dev-py39.yml
  conda-envs/windows-environment-test-py38.yml
  conda-envs/windows-environment-test-py39.yml
Due: pip-from-conda

Remove conda sorter from `pre-commit` config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

replace loop with a single call
  pymc/sampling_jax.py
Due: no-relative-imports

add timestams, no jitting
  pymc/sampling_jax.py
Due: no-relative-imports

fix no observed in compute log likelihood
  pymc/sampling_jax.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
