Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

tests fix imports
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_dist_math.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_transform.py
  tests/gp/test_hsgp_approx.py
  tests/logprob/test_abstract.py
  tests/logprob/test_basic.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/logprob/test_transform_value.py
  tests/logprob/utils.py
  tests/model/test_core.py
  tests/sampling/test_mcmc.py
  tests/test_math.py
Due: no-relative-imports

fix scripts
  scripts/check_all_tests_are_covered.py
Due: no-relative-imports

ruff formatter changes
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
  pymc/model/core.py
  pymc/ode/ode.py
  pymc/printing.py
  pymc/step_methods/metropolis.py
  pymc/tuning/starting.py
  pymc/variational/approximations.py
  pymc/variational/operators.py
  pymc/variational/opvi.py
  versioneer.py
Due: no-relative-imports

suppressed pip install bambi output in GLM core notebook
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

Update pymc/model/core.py
  pymc/model/core.py
Due: no-relative-imports

fix line length
  .pre-commit-config.yaml
  pymc/backends/arviz.py
Due: no-relative-imports

revert line length part 1
  pymc/backends/arviz.py
  pymc/distributions/continuous.py
  pymc/gp/hsgp_approx.py
  pymc/logprob/__init__.py
  pymc/logprob/rewriting.py
  pymc/sampling/mcmc.py
  pymc/smc/sampling.py
  pymc/testing.py
Due: no-relative-imports

undo :
  pymc/testing.py
Due: no-relative-imports

remove pylint and isort mentions
  docs/source/conf.py
  pymc/__init__.py
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/gp/util.py
  pymc/logprob/__init__.py
  pymc/logprob/rewriting.py
  pymc/math.py
  pymc/model/core.py
  pymc/sampling_jax.py
  pymc/stats/log_likelihood.py
  tests/backends/test_arviz.py
  tests/distributions/test_continuous.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_timeseries.py
  tests/logprob/test_transform_value.py
  tests/model/test_core.py
  tests/sampling/test_forward.py
  versioneer.py
Due: no-relative-imports

remove setup.cgf
  pyproject.toml
  setup.cfg
Due: none

remove global ignore
  pymc/tuning/starting.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_timeseries.py
Due: no-relative-imports

undo remove setup.cfg
  pyproject.toml
  setup.cfg
Due: none

add explanation __init__ ignore
  pyproject.toml
Due: none

Support discrete negation and addition
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Add logprob for discrete minimum of IID variables
  pymc/logprob/order.py
  pymc/logprob/utils.py
  tests/logprob/test_order.py
Due: no-relative-imports

add isort
  pyproject.toml
Due: none

fix isort
  docs/source/conf.py
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  pymc/math.py
  tests/distributions/test_mixture.py
Due: no-relative-imports

Report divergences from JAX samplers
  pymc/sampling/mcmc.py
Due: no-relative-imports

Update mcmc.py
  pymc/sampling/mcmc.py
Due: no-relative-imports

Added icdf for Rice and skewnormal distributions
  pymc/distributions/continuous.py
Due: no-relative-imports

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

fix UP
  docs/source/contributing/python_style.md
  pymc/_version.py
  pymc/gp/util.py
  pymc/sampling/population.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/hmc/integration.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  versioneer.py
Due: no-relative-imports, no-internal-links

add D
  .pre-commit-config.yaml
  pymc/testing.py
  pymc/variational/opvi.py
  pyproject.toml
Due: no-relative-imports

add W
  pyproject.toml
Due: none

add E and ignore E501
  pyproject.toml
Due: none

extend dataset_to_point_dict
  pymc/util.py
  tests/test_util.py
Due: no-relative-imports

update jitter boolean type specification
  pymc/sampling/jax.py
Due: no-relative-imports

fixing type definition of jitter line 571
  pymc/sampling/jax.py
Due: no-relative-imports

LKJCorr now has an option of returning n by n matrix instead of just the upper triangular part as vector
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Fixes to PR according to comments
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Update continuous.py
  pymc/distributions/continuous.py
Due: no-relative-imports

try making numpy happy
  pymc/util.py
Due: no-relative-imports

Extend `dataset_to_point_dict` to accept both dataset and dict of dataarray (#7097)
  pymc/util.py
  tests/test_util.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Gitpod instructions: latest version of pymc
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

add example output
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

rm trailing whitespace
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
