Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Removed **kwargs from sample_numpyro_nuts and sample_blackjax_nuts
  pymc/sampling/jax.py
Due: no-relative-imports

Removed **kwargs from sample_numpyro_nuts and sample_blackjax_nuts (#6768)
  pymc/sampling/jax.py
Due: no-relative-imports

add ODSC sponsor logo to README.rst
  README.rst
  docs/logos/sponsors/odsc.png
Due: none

add line at end of file
  README.rst
Due: none

rm line at end of file
  README.rst
Due: none

Fix missing new-line.
  README.rst
Due: none

Fix docstring header
  pymc/distributions/discrete.py
Due: no-relative-imports

Add logprob submodule to API
  docs/source/api.rst
  docs/source/api/logprob.rst
  pymc/logprob/basic.py
Due: no-relative-imports, no-internal-links

Rename `warn_missing_rvs` to `warn_rvs`
  pymc/logprob/basic.py
  tests/logprob/test_basic.py
Due: no-relative-imports

Reorder API entries and remove less useful ones
  docs/source/api.rst
  docs/source/api/misc.rst
  docs/source/api/shape_utils.rst
  docs/source/api/tuning.rst
Due: no-internal-links

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Simplify Potential docstrings and examples
  pymc/model.py
Due: no-relative-imports

new arc transforms added and tests pass for those transforms
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Fixed Installation Reference Bad Link Issue #6732
  docs/source/installation.md
  docs/source/installation.rst
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

Fixed Installation Reference Bad Link Issue #6732
  docs/source/installation.rst
Due: no-internal-links

changed branch & ran pre-commit
  docs/source/installation.rst
Due: no-internal-links

Fix mypy and test errors
  pymc/gp/cov.py
  tests/gp/test_cov.py
Due: no-relative-imports

Probabilty inference for arc transformations
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Fix PolyaGamma's docstring (#6672)
  conda-envs/environment-docs.yml
  pymc/distributions/continuous.py
Due: no-relative-imports

fixing links to images (#6739)
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
Due: no-internal-links

speed-up doc building and fix several issues
  .gitignore
  .readthedocs.yml
  Makefile
  docs/source/PyMC_and_PyTensor.rst
  docs/source/_templates/distribution.rst
  docs/source/api.rst
  docs/source/api/distributions.rst
  docs/source/api/distributions/censored.rst
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/misc.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/truncated.rst
  docs/source/api/distributions/utilities.rst
  docs/source/api/gp.rst
  docs/source/api/pytensorf.rst
  docs/source/conf.py
  docs/source/contributing/build_docs.md
  docs/source/contributing/index.md
  docs/source/contributing/jupyter_style.md
  docs/source/glossary.md
  docs/source/installation.md
  docs/source/learn.md
  docs/source/learn/core_notebooks/dimensionality.ipynb
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
Due: no-relative-imports, no-internal-links

squeeze dim_0 dimensions for scalars away (#6764)
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
Due: no-relative-imports

Make tests compatible with latest release of PyTensor
  pymc/model.py
  tests/distributions/test_multivariate.py
  tests/logprob/test_basic.py
  tests/test_pytensorf.py
Due: no-relative-imports

Update pymc/model.py
  pymc/model.py
Due: no-relative-imports

Simplify Potential docstrings and examples (#6772)
  pymc/model.py
Due: no-relative-imports

Fix broken link
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

adding icdf function for Cauchy and Logistic with tests (#6747)
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Add warning about future change in hessian sign
  pymc/model.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/tuning/scaling.py
  tests/test_model.py
  tests/test_pytensorf.py
Due: no-relative-imports

undo misc page
  docs/source/api/distributions.rst
  docs/source/api/distributions/censored.rst
  docs/source/api/distributions/misc.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/truncated.rst
  docs/source/api/distributions/utilities.rst
Due: no-internal-links

try making censored/truncated/simulator nicer
  docs/source/_templates/distribution.rst
  docs/source/api/distributions/censored.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/truncated.rst
  docs/source/api/distributions/utilities.rst
Due: no-internal-links

fix methods rubric
  docs/source/api/distributions/censored.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/truncated.rst
Due: no-internal-links
