Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Remove unused Model functionality
  pymc/model.py
Due: no-relative-imports

Fix AePPL copyright notice
  pymc/distributions/continuous.py
Due: no-relative-imports

Remove unneccessary MeasurableVariable registration
  pymc/distributions/truncated.py
Due: no-relative-imports

Allow non-scalar measurable switch mixtures
  pymc/logprob/mixture.py
  tests/logprob/test_mixture.py
Due: no-relative-imports

Derive probability for broadcast operation
  .github/workflows/tests.yml
  mypy.ini
  pymc/logprob/__init__.py
  pymc/logprob/shape.py
  tests/logprob/test_shape.py
Due: no-relative-imports

Use "unobserved" as imputed variable suffix instead of "missing"
  pymc/model.py
  tests/backends/test_arviz.py
  tests/test_model.py
  tests/test_model_graph.py
  tests/tuning/test_starting.py
Due: no-relative-imports

Raise informative error when passing masked data to `Data`
  pymc/data.py
  tests/test_data.py
Due: no-relative-imports

Extend support for automatic imputation
  pymc/distributions/distribution.py
  pymc/model.py
  tests/backends/test_arviz.py
  tests/distributions/test_distribution.py
  tests/test_model.py
Due: no-relative-imports

Derive probability for transforms with implicit broadcasting
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Prevent unbound trace
  pymc/model.py
Due: no-relative-imports

adding description to Gumbel Distribution"
  pymc/distributions/continuous.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

move enter and exit into metaclass
  pymc/model.py
Due: no-relative-imports

simpler, a bit more correct approach
  pymc/model.py
Due: no-relative-imports

add comment
  pymc/model.py
Due: no-relative-imports

replacing pytensor-devs for aesara-devs
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
  pymc/distributions/shape_utils.py
  pymc/logprob/rewriting.py
  pymc/sampling/jax.py
  tests/distributions/test_distribution.py
  tests/sampling/test_jax.py
Due: no-relative-imports, no-internal-links

fix typo
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
Due: no-internal-links

Update docs/source/learn/core_notebooks/pymc_pytensor.ipynb
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
Due: no-internal-links

replacing pytensor-devs for aesara-devs (#6817)
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
  pymc/distributions/shape_utils.py
  pymc/logprob/rewriting.py
  pymc/sampling/jax.py
  tests/distributions/test_distribution.py
  tests/sampling/test_jax.py
Due: no-relative-imports, no-internal-links

add tests for code-cov
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Fix mathematical notation in conditional_logprob docstrings
  pymc/logprob/basic.py
Due: no-relative-imports

logp test, test rename, np.all - > np.any
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Allow creating CustomDist inside another CustomDist
  pymc/distributions/distribution.py
  pymc/model.py
  tests/distributions/test_distribution.py
Due: no-relative-imports

Prevent unbound trace due to type hints (#6809)
  pymc/model.py
Due: no-relative-imports

Update pymc/logprob/basic.py
  pymc/logprob/basic.py
Due: no-relative-imports

Apply suggestions from code review
  pymc/logprob/basic.py
Due: no-relative-imports

s_vv to s2_vv
  pymc/logprob/basic.py
Due: no-relative-imports

Fix mathematical notation in conditional_logprob docstrings (#6821)
  pymc/logprob/basic.py
Due: no-relative-imports

chore: fix scipy version temp lock problem and chore to master
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements.txt
Due: none

Implement transforms for discrete variables
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/transforms.py
  tests/distributions/test_distribution.py
  tests/distributions/test_transform.py
  tests/smc/test_smc.py
  tests/test_model.py
Due: no-relative-imports

Update hyperlinks in GLM core notebook
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

Update metropolis.py
  pymc/step_methods/metropolis.py
Due: no-relative-imports

Apply suggestions from code review
  pymc/distributions/continuous.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
