Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

update BAP to third edition
  README.rst
  docs/source/learn.md
Due: no-internal-links

Reduce number of minimum draw in warning message
  pymc/sampling/mcmc.py
Due: no-relative-imports

fix compute_log_prior default var_names
  pymc/stats/log_density.py
  tests/stats/test_log_density.py
Due: no-relative-imports

run pre-commit
  tests/stats/test_log_density.py
Due: no-relative-imports

Fix `compute_log_prior` in models with `Deterministics` (#7168)
  pymc/stats/log_density.py
  tests/stats/test_log_density.py
Due: no-relative-imports

rename moment in timeseries.py and truncated.py
  pymc/distributions/truncated.py
Due: no-relative-imports

rename moment in simulator.py
  pymc/distributions/simulator.py
Due: no-relative-imports

rename moment in tests/distributions/
  pymc/testing.py
  tests/distributions/test_censored.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_truncated.py
Due: no-relative-imports

rename moment in mixture.py
  pymc/distributions/mixture.py
Due: no-relative-imports

rename moment in timeseries.py
  pymc/distributions/timeseries.py
Due: no-relative-imports

rename moment in distribution.py
  pymc/distributions/distribution.py
Due: no-relative-imports

rename moment in censored.py and discrete.py
  pymc/distributions/censored.py
  pymc/distributions/discrete.py
Due: no-relative-imports

rename moment in multivariate.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

rename moment on continuos.py
  pymc/distributions/continuous.py
Due: no-relative-imports

fix typo in method name
  pymc/distributions/distribution.py
Due: no-relative-imports

rename variables in other tests
  pymc/initial_point.py
  tests/test_initial_point.py
Due: no-relative-imports

Fix typo in developer_guide.md
  docs/source/contributing/developer_guide.md
Due: no-internal-links

rename moment method in implementing distribution doc
  docs/source/contributing/implementing_distribution.md
Due: no-internal-links

add sitemap to docs
  conda-envs/environment-docs.yml
  docs/source/conf.py
Due: no-relative-imports

Fix typo in developer_guide.md (#7170)
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Always run divergence and treedepth checks in `run_convergence_checks`
  pymc/stats/convergence.py
Due: no-relative-imports

Refactor duplicated jax sampler code and emit convergence warnings by default
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_jax.py
Due: no-relative-imports

rename finite_logp_point to support_point
  docs/source/contributing/implementing_distribution.md
  pymc/distributions/censored.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/timeseries.py
  pymc/distributions/truncated.py
  pymc/initial_point.py
  pymc/testing.py
  tests/distributions/test_censored.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_truncated.py
  tests/test_initial_point.py
Due: no-relative-imports, no-internal-links

add FutureWarning for using old moment name
  pymc/distributions/distribution.py
  pymc/initial_point.py
Due: no-relative-imports

add tests for future warning raising
  pymc/distributions/distribution.py
  tests/distributions/test_distribution.py
  tests/test_initial_point.py
Due: no-relative-imports

Reduce chance to fail for test case
  tests/test_pytensorf.py
Due: no-relative-imports

Update tests/test_pytensorf.py
  tests/test_pytensorf.py
Due: no-relative-imports

add future warning for assert_moment_is_expected
  pymc/testing.py
Due: no-relative-imports

Reduce chance to fail for `test_replace_vars_in_graphs_nested_reference` test case (#7174)
  tests/test_pytensorf.py
Due: no-relative-imports

Rename moment to finite_logp_point (#7166)
  docs/source/contributing/implementing_distribution.md
  pymc/distributions/censored.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/timeseries.py
  pymc/distributions/truncated.py
  pymc/initial_point.py
  pymc/testing.py
  tests/distributions/test_censored.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_truncated.py
  tests/test_initial_point.py
Due: no-relative-imports, no-internal-links

Remove deprecated Bound distribution
  .github/workflows/tests.yml
  pymc/distributions/__init__.py
  pymc/distributions/bound.py
  tests/distributions/test_bound.py
  tests/test_printing.py
Due: check-no-tests-are-ignored, no-relative-imports

Add gufunc_signature to SymbolicRandomVariables
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/timeseries.py
  tests/distributions/test_distribution.py
Due: no-relative-imports

Remove sample_posterior_predictive_w, previously deprecated
  pymc/sampling/forward.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
