Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.10.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: no-print-statements
      files: ^pymc3/
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/environment-dev-py37\.yml$
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Deprecate Model.update_start_vals method
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Manage initial values by RV var instead of RV value var
  pymc/model.py
  pymc/tests/test_initvals.py
  pymc/tests/test_model.py
Due: no-relative-imports

Evaluate initial values lazily
  pymc/model.py
  pymc/tests/test_initvals.py
  pymc/tests/test_model.py
Due: no-relative-imports

Skip test_init_jitter
  pymc/tests/test_sampling.py
Due: no-relative-imports

Implement aesara function that computes all the initial values of a model
  .github/workflows/pytest.yml
  benchmarks/benchmarks/benchmarks.py
  pymc/initial_point.py
  pymc/model.py
  pymc/sampling.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_model.py
  pymc/tests/test_sampling.py
  pymc/tuning/starting.py
  pymc/variational/approximations.py
Due: check-no-tests-are-ignored, no-relative-imports

Switch from test_value to "moment"/"prior" based initvals
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
  pymc/model.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_initvals.py
  pymc/tests/test_sampling.py
  pymc/tests/test_tuning.py
Due: no-relative-imports

Update aesara dependency version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda

XFAIL tests that depend on #5007
  pymc/tests/test_ndarray_backend.py
Due: no-relative-imports

Add LBS podcast to resources
  README.rst
Due: none

Add Thomas' change
  README.rst
Due: none

Change order
  README.rst
Due: none

black
  pymc/tests/test_data_container.py
Due: no-relative-imports

Fix tests missing
  pymc/tests/test_missing.py
Due: no-relative-imports

Fix tests shared
  pymc/tests/test_shared.py
Due: no-relative-imports

Fix tests distributions random
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fix tests distributions
  pymc/tests/test_distributions.py
Due: no-relative-imports

black
  pymc/tests/test_sampling.py
Due: no-relative-imports

Fix tests idata conversion
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Stop caching initial points and wrap function creation
  pymc/model.py
Due: no-relative-imports

Remove XFAIL mark on passing tests
  pymc/tests/test_distributions_random.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Remove unnecessary warning in rvs_to_value_vars
  aeppl/utils.py
Due: no-relative-imports

Replace use of tag.ignore_logprob with custom instance dispatching
  aeppl/mixture.py
Due: no-relative-imports

Fix a forgotten rename to exclude tests from coverage
  .coveragerc
Due: none

black on smc
  pymc/smc/smc.py
Due: no-relative-imports

Fix tests SMC
  pymc/tests/test_smc.py
Due: no-relative-imports

make linear response more robust and fix bug with predictions
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Black on test_sampling
  pymc/tests/test_sampling.py
Due: no-relative-imports

Reinstate test_normal_scalar_idata
  pymc/tests/test_sampling.py
Due: no-relative-imports

Remove Black line length 100 in pyproject.toml
  pyproject.toml
Due: none

Black on test_distributions_random
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Reinstate Black line length 100 in pyproject
  pyproject.toml
Due: none
