Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Revert changes in `rng_fn` signatures
  pymc/distributions/continuous.py
Due: no-relative-imports

Deleted flows and code for local and batched kwarg
  pymc/tests/test_variational_inference.py
  pymc/variational/__init__.py
  pymc/variational/approximations.py
  pymc/variational/flows.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

Remove size from Distribution signatures (#5788)
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
Due: no-relative-imports

add xarray to possible datatypes to determine coords
  pymc/data.py
Due: no-relative-imports

Refactor RandomState/Generator reseeding logic in initial_point into aesaraf
  pymc/aesaraf.py
  pymc/initial_point.py
  pymc/tests/test_aesaraf.py
Due: no-relative-imports

Fix default use of global seeding
  pymc/parallel_sampling.py
  pymc/sampling.py
Due: no-relative-imports

Update expected behavior of `sample`-related tests in relation to global seeding.
  pymc/tests/test_sampling.py
Due: no-relative-imports

Seed sampling in TestNutsCheckTrace.test_linalg
  pymc/tests/test_step.py
Due: no-relative-imports

Remove model.rng_seeder and allow compile_pymc to reseed RNG variables in compiled function
  RELEASE-NOTES.md
  benchmarks/benchmarks/benchmarks.py
  pymc/aesaraf.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/timeseries.py
  pymc/model.py
  pymc/sampling.py
  pymc/sampling_jax.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_sampling.py
  pymc/tests/test_sampling_jax.py
  pymc/tests/test_step.py
  pymc/tuning/starting.py
  pymc/variational/opvi.py
Due: no-relative-imports

Fix non-deterministic NUTS initialization when using ADVI
  pymc/sampling.py
  pymc/tests/test_sampling.py
  pymc/variational/opvi.py
Due: no-relative-imports

removed rowwise from opvi.py
  pymc/variational/opvi.py
Due: no-relative-imports

redo the test_variational_inference.py
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

Fix ReleaseNotes
  RELEASE-NOTES.md
Due: none

Limit model graph nodes to named model variables
  pymc/model_graph.py
Due: no-relative-imports

refactored some test cases
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

removed mention of local from docstring
  pymc/variational/opvi.py
Due: no-relative-imports

corrected 'MeanFieldGroup' object has no attribute 'rng'
  pymc/tests/test_variational_inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

Pin blackjax version for testing to fix failing CI
  .github/workflows/tests.yml
Due: none

Fix shape problem in GP priors
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Due: no-relative-imports

Forward `dims` to reparametrized `Deterministic`
  pymc/gp/gp.py
Due: no-relative-imports

Update Aeppl dependency
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Fallback to Aeppl when logp is not implemented
  pymc/distributions/logprob.py
  pymc/tests/test_logprob.py
Due: no-relative-imports

Write instructions on running the test suite
  docs/source/contributing/running_the_test_suite.md
Due: none

Add troubleshooting tips on pre-commit
  docs/source/contributing/python_style.md
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

Update guide on implementing new distributions
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

Update dev guide introduction
  docs/source/contributing/developer_guide.rst
Due: none

refactor some test in varialional_inference
  pymc/tests/test_variational_inference.py
Due: no-relative-imports
