Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

change naming shape->size where appropriate
  pymc/gp/util.py
Due: no-relative-imports

Compute logprob constants using Aesara
  aeppl/logprob.py
Due: no-relative-imports

add deprecation warning for is_observed
  pymc/gp/gp.py
Due: no-relative-imports

fix deprecation messages
  pymc/backends/ndarray.py
Due: no-relative-imports

add jitter arg for covs headed for cholesky decomps, previously fixed at 1e-6. add deprecation warning for is_observed arg
  pymc/gp/gp.py
  pymc/gp/util.py
Due: no-relative-imports

clean up trivial aesara.function usage to .eval() instead
  pymc/tests/test_gp.py
Due: no-relative-imports

replace deprecationwarning with futurewarning
  pymc/backends/tracetab.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/gp/gp.py
  pymc/math.py
  pymc/model.py
  pymc/plots/__init__.py
  pymc/plots/posteriorplot.py
  pymc/sampling.py
  pymc/smc/sample_smc.py
  pymc/tests/test_dist_math.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_math.py
  pymc/tests/test_model.py
  pymc/tests/test_smc.py
  pymc/util.py
Due: no-relative-imports

revert change
  pymc/tests/test_distributions.py
Due: no-relative-imports

fix gp.util.replace_with_values to handle case with no symbolic values, .eval() works
  pymc/gp/util.py
Due: no-relative-imports

jitter=0 for conditonals/predicts, fix replace_with_values calls
  pymc/gp/gp.py
Due: no-relative-imports

fix more tests
  pymc/tests/test_gp.py
Due: no-relative-imports

black stuff
  pymc/tests/test_gp.py
Due: no-relative-imports

replace deprecationwarning with futurewarning (#5109)
  pymc/backends/tracetab.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/gp/gp.py
  pymc/math.py
  pymc/model.py
  pymc/plots/__init__.py
  pymc/plots/posteriorplot.py
  pymc/sampling.py
  pymc/smc/sample_smc.py
  pymc/tests/test_dist_math.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_math.py
  pymc/tests/test_model.py
  pymc/tests/test_smc.py
  pymc/util.py
Due: no-relative-imports

Fix minor typo
  docs/source/developer_guide_implementing_distribution.md
Due: none

Change V4 reference
  docs/source/developer_guide_implementing_distribution.md
Due: none

small fixes to get kronlatent and kronmarginal to pass
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Due: no-relative-imports

remove leftover prints
  pymc/tests/test_gp.py
Due: no-relative-imports

Update a couple PyMC references
  docs/source/developer_guide_implementing_distribution.md
Due: none

Allow both edges of IntervalTransform to be None
  aeppl/transforms.py
  tests/test_transforms.py
Due: no-relative-imports

dep warning -> future warning
  pymc/gp/gp.py
Due: no-relative-imports

4801 fix indentation and remove extra backslash on n variable
  pymc3/distributions/multivariate.py
Due: no-relative-imports

add explanation of MAP to glassor
  docs/source/glossary.md
Due: none

CU-5t5y0p updated glossary term HMC
  docs/source/glossary.md
Due: none

Add testimonials to docs homepage
  docs/source/index.md
Due: none

minor change
  docs/source/glossary.md
Due: none

fix typo
  docs/source/glossary.md
Due: none

Adding an example for model to graphviz
  docs/source/api/model_graph.rst
  docs/source/images/model_to_graphviz.png
  pymc/model_graph.py
Due: no-relative-imports

Revert "Adding an example for model to graphviz"
  docs/source/api/model_graph.rst
  docs/source/images/model_to_graphviz.png
  pymc/model_graph.py
Due: no-relative-imports

Replacing with
  pymc/model_graph.py
Due: no-relative-imports

pre commit message
  pymc/model_graph.py
Due: no-relative-imports

pre commit correction
  docs/source/api/model_graph.rst
  pymc/model_graph.py
Due: no-relative-imports

Model graphviz (#5118)
  docs/source/api/model_graph.rst
  docs/source/images/model_to_graphviz.png
  pymc/model_graph.py
Due: no-relative-imports

remove sphinx panels and other changes
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/conf.py
  docs/source/learn/books.md
  docs/source/learn/notebooks.md
  docs/source/learn/videos_and_podcasts.md
  docs/source/learning.md
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

center buttons
  docs/source/index.md
Due: none

minor changes
  docs/source/glossary.md
Due: none

fix broken link
  CONTRIBUTING.md
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  conda-env-sort: any of: ^conda-envs/environment-dev-py37\.yml$ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/tests/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
