Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Add ZarrTrace compatibility checks
  pymc/backends/zarr.py
Due: none

Disambiguate DEMetropolis tune and tune_target
  pymc/step_methods/metropolis.py
  tests/step_methods/test_metropolis.py
Due: none

WithSamplingState now checks for dataclass compatibility before setting values
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/state.py
  pymc/step_methods/step_sizes.py
  requirements.txt
  tests/step_methods/test_state.py
Due: none

QuadPotential initial values were never supposed to be frozen
  pymc/step_methods/hmc/quadpotential.py
Due: none

Refactor ZarrTrace to write directly to warmup and final groups
  pymc/backends/zarr.py
  tests/backends/test_zarr.py
Due: none

Adapt to updates in upstream behavior
  pymc/backends/ndarray.py
  pymc/sampling/mcmc.py
  pymc/step_methods/hmc/base_hmc.py
Due: none

Fix compatibility test error message
  tests/backends/test_zarr.py
Due: none

Fix typing issue
  pymc/backends/zarr.py
  scripts/run_mypy.py
Due: none

Fix independent_rvs determination in vectorize_over_posterior
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: none

refactor: move _precition_mv_normal_logp into a seperate function
  pymc/distributions/multivariate.py
Due: none

Draft external sampler API
  pymc/__init__.py
  pymc/sampling/external/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/external/jax.py
  pymc/sampling/external/nutpie.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Due: none

Second iteration
  pymc/sampling/external/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/external/jax.py
  pymc/sampling/external/nutpie.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_jax.py
  tests/sampling/test_mcmc_external.py
Due: none

add documentation for math.rst
  docs/source/api/dims/math.rst
Due: no-internal-links

got rid of generated files due to testing frontend
  docs/source/api/dims/math.rst
Due: no-internal-links

Use rst code-block over code directive (#7882)
  docs/source/contributing/developer_guide.md
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/hsgp_approx.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/sampling/deterministic.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/variational/opvi.py
Due: no-internal-links

Remove deprecated classes from API docs
  docs/source/api/data.rst
Due: no-internal-links

Replace MutableData with Data
  pymc/gp/hsgp_approx.py
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: none

docs: improve clarity and linking in dims module notebook
  docs/source/learn/core_notebooks/dims_module.ipynb
Due: no-internal-links

fix links that should be references
  docs/source/learn/core_notebooks/dims_module.ipynb
Due: no-internal-links

use preliz under the hood of find_constrained_prior
  pymc/func_utils.py
  requirements-dev.txt
  tests/test_func_utils.py
Due: none

update envs
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
Due: pip-from-conda

move import inside function
  pymc/func_utils.py
Due: none

Allow for specification of 'var_names' in 'mock_sample'
  pymc/testing.py
  tests/test_testing.py
Due: none

Use `dict_to_dataset_drop_incompatible_coords` everywhere
  pymc/backends/arviz.py
  pymc/sampling/mcmc.py
  pymc/smc/sampling.py
  tests/backends/test_arviz.py
Due: none

Allow for specification of 'var_names' in 'mock_sample' (#7906)
  pymc/testing.py
  tests/test_testing.py
Due: none

account for empty dict and coord, update tests
  pymc/backends/arviz.py
  tests/distributions/test_timeseries.py
  tests/sampling/test_forward.py
Due: none

account for empty dict and coord, update tests
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
  tests/distributions/test_timeseries.py
  tests/sampling/test_forward.py
Due: none

Add transform_coords abstract method. SimplexTransform drops last coordinate. All others added identity function. Fixes #7907
  pymc/logprob/transforms.py
Due: none

Add numpyro to conda-envs/environment-dev.yml
  conda-envs/environment-dev.yml
Due: pip-from-conda

Add numpyro to requirements-dev.yml
  requirements-dev.txt
Due: none

added logit normal icdf and test
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Add icdf functions for Inverse Gamma distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Add blackjax as a dev depeendency
  conda-envs/environment-dev.yml
  requirements-dev.txt
Due: pip-from-conda

pre-commit linting
  pymc/distributions/continuous.py
Due: none

fix ruff-format
  pymc/distributions/continuous.py
Due: none

Generalize data input to support Narwhals-compatible Series or DataFrames
  pymc/data.py
Due: none

Added icdf for HalfStudentT; tests
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Implemented icdf for Categorical distribution and add shape/broadcasting tests.
  pymc/distributions/discrete.py
  tests/distributions/test_discrete.py
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
