Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Update pytest.yml to install using mamba
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Added miniforge variant and version
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Added miniforge to windows job
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

add RV for AR
  pymc/distributions/timeseries.py
Due: no-relative-imports

Backwards-compatible rename `Lognormal`→`LogNormal`
  RELEASE-NOTES.md
  pymc3/distributions/__init__.py
  pymc3/distributions/continuous.py
Due: no-relative-imports

Warn about removal of trace-continuation support
  pymc3/sampling.py
Due: no-relative-imports

Fixup lognormal rename
  pymc3/distributions/__init__.py
Due: no-relative-imports

Revert "add RV for AR"
  pymc/distributions/timeseries.py
Due: no-relative-imports

AR RV
  pymc/distributions/timeseries.py
Due: no-relative-imports

More fixup
  pymc3/distributions/__init__.py
Due: no-relative-imports

trying stuff
  pymc/distributions/AR1.ipynb
  pymc/distributions/timeseries.py
Due: no-relative-imports

Disable C++ exception handling
  pymc3/__init__.py
Due: no-relative-imports

Add additional compiler flag to work around GCC bug.
  pymc3/__init__.py
Due: no-relative-imports

Remove automatic normalization in Categorical and Multinomial distributions
  RELEASE-NOTES.md
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Add moments for CAR distribution
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Switched clone to True in FunctionGraph calls for sample_jax
  pymc/sampling_jax.py
Due: no-relative-imports

Added blas to conda dev envs
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
Due: pip-from-conda

Fix docstring section underlines
  pymc3/distributions/continuous.py
  pymc3/distributions/timeseries.py
  pymc3/distributions/transforms.py
Due: no-relative-imports

add martin to recurrent contributors
  GOVERNANCE.md
Due: none

Temporarily pin upper numpydoc version
  requirements-dev.txt
Due: none

Temporarily pin upper numpydoc version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
Due: pip-from-conda

Temporarily pin upper numpydoc version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Due: pip-from-conda

keep name alphabetical order
  GOVERNANCE.md
Due: none

add martin to recurrent contributors (#5400)
  GOVERNANCE.md
Due: none

Disable C++ exception handling
  pymc/__init__.py
Due: no-relative-imports

Temporarily pin upper numpydoc version (#5402)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Due: pip-from-conda

remove self from core devs list
  GOVERNANCE.md
Due: none

Add test name check in BaseTestDistribution
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Allow for scalar or size 1 `mu` in `MvNormal` and `MvStudentT`
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Add DiscreteWeibull moment
  pymc/distributions/discrete.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Switch GitHub Actions to install environments with mamba #5375 (#5387)
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Add missing assertion in DiscreteUniform moment unittest
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Changed workflows to run with mamba
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
