Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
    -   id: end-of-file-fixer
    -   id: check-toml
- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.4.1
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
    - id: pyupgrade
      args: [--py36-plus]
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)
      types: [jupyter]
    - id: check-toc
      entry: python scripts/check_toc_is_complete.py
      language: python
      name: Check all notebooks appear in table of contents
      pass_filenames: false
      types: [jupyter]
    - id: check-no-tests-are-ignored
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false

document
  scripts/check_all_tests_are_covered.py
Due: none

remove unreachable code
  pymc3/sampling.py
Due: none

consolidate regression test into existing one + test_issue_4186 was merged into TestStrAndLatexRepr and now all 4 formatting options are covered.
  pymc3/tests/test_distributions.py
Due: none

check graphviz results with all four formatting options
  pymc3/tests/test_data_container.py
Due: none

clarify docs, invert guard
  pymc3/sampling.py
Due: none

clarify that steps is a sequence
  pymc3/sampling.py
Due: none

Fix non-ignored test, check all tests are executed (#4262)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  scripts/check_all_tests_are_covered.py
Due: check-no-tests-are-ignored

fix test_examples.py
  pymc3/tests/test_examples.py
Due: none

fix test_step.py
  pymc3/tests/test_step.py
Due: none

remove unnecessary import
  pymc3/tests/test_step.py
Due: none

make test less strict
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  pymc3/tests/test_gp.py
Due: check-no-tests-are-ignored

Add str/repr formatting options and change defaults accordingly (#4260)
  pymc3/distributions/bart.py
  pymc3/distributions/bound.py
  pymc3/distributions/distribution.py
  pymc3/distributions/simulator.py
  pymc3/model.py
  pymc3/model_graph.py
  pymc3/tests/test_data_container.py
  pymc3/tests/test_distributions.py
  pymc3/util.py
Due: none

Test model logp before starting any MCMC chains (#4211)
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/sampling.py
  pymc3/tests/test_examples.py
  pymc3/tests/test_hmc.py
  pymc3/tests/test_step.py
  pymc3/tests/test_util.py
  pymc3/tuning/starting.py
  pymc3/util.py
Due: none

Add experimental JAX samplers (#4247)
  RELEASE-NOTES.md
  docs/source/notebooks/GLM-hierarchical-jax.ipynb
  docs/source/notebooks/table_of_contents_examples.js
  pymc3/sampling_jax.py
Due: watermark, check-toc

:memo: update docstring
  pymc3/sampling.py
Due: none

no parallel testing
  .github/workflows/pytest.yml
  environment-dev.yml
Due: check-no-tests-are-ignored

dont parallelise arviz tests either
  .github/workflows/arviz_compat.yml
Due: none

Less strict test, don't parallelise tests (#4265)
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  environment-dev.yml
  pymc3/tests/test_gp.py
Due: check-no-tests-are-ignored

Remove unreachable lines of sampling code (#4261)
  pymc3/sampling.py
Due: none

add release manager name to release notes
  RELEASE-NOTES.md
Due: none

adding Alex for 3.9.2
  RELEASE-NOTES.md
Due: none

run arviz compat on mac and windows
  .github/workflows/arviz_compat.yml
Due: none

windows too
  .github/workflows/windows.yml
Due: none

improve coverage
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
  pyproject.toml
Due: none

redistribute tests
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

run test_distributions_random.py too on mac
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

use np.shape
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Due: none

fixup model_averaging
  docs/source/notebooks/model_averaging.ipynb
Due: watermark, check-toc

Fixed MvNormal.random method
  pymc3/distributions/multivariate.py
Due: none

Added some comments
  pymc3/distributions/multivariate.py
Due: none

Handled corner case when self.shape is not provided
  pymc3/distributions/multivariate.py
Due: none

Fixed comments
  pymc3/distributions/multivariate.py
Due: none

Considered the corner case of 'point' as well.
  pymc3/distributions/multivariate.py
Due: none

Make test passes :crossed_fingers: hopefully
  pymc3/tests/test_mixture.py
Due: none

Modified logic and added tests
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: none

Handled sample and batch dimensions in tau parametrization using numpy
  pymc3/distributions/multivariate.py
Due: none

Modified logic while inserting batch dimensions to parametrization
  pymc3/distributions/multivariate.py
Due: none

Used shapes_utils.broadcast_dist_samples_to function for broadcasting
  pymc3/distributions/multivariate.py
Due: none
