Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

fix rename function
  pymc/bart/__init__.py
  pymc/tests/test_bart.py
Due: no-relative-imports

CLN Remove pandas from bart.utils.plot_dependence (#5558)
  pymc/bart/utils.py
  pymc/tests/test_bart.py
Due: no-relative-imports

use new token name
  .github/workflows/nightly.yml
Due: none

use new secret for nightly build
  .github/workflows/nightly.yml
Due: none

Automatically resize `sd_dist` in `_LKJCholeskyCov`
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

Added Maintenance section to release notes with VI update notice
  RELEASE-NOTES.md
Due: none

Clean release notes
  RELEASE-NOTES.md
Due: none

Removed Cholesky from non-working section of release notes
  RELEASE-NOTES.md
Due: none

fix predictions when using 1 chain
  pymc/bart/bart.py
  pymc/bart/pgbart.py
Due: no-relative-imports

Initiate v4.0.0b3 release (#5562)
  RELEASE-NOTES.md
  pymc/__init__.py
Due: no-relative-imports

Update imports for relocated C types
  aeppl/utils.py
Due: no-relative-imports

Fix `RVTransform.log_jac_det` method for vector values
  aeppl/transforms.py
  tests/test_transforms.py
Due: no-relative-imports

raise a TypeEror when ode_func returns an unexpected type
  pymc/ode/utils.py
  pymc/tests/test_ode.py
Due: no-relative-imports

Move mixture random tests from test_distributions_random to test_mixture
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Add Mixture moments
  pymc/distributions/mixture.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Update Mixture docstrings
  pymc/distributions/mixture.py
Due: no-relative-imports

Reenable Mixture tests in pytest workflow
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Set `expand=True` when calling `change_size` in `SymbolicDistribution`
  pymc/distributions/distribution.py
Due: no-relative-imports

Remove MixtureSameFamily
  docs/source/api/distributions/mixture.rst
  pymc/distributions/__init__.py
  pymc/distributions/mixture.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Add warning when using iterable with single Mixture component
  pymc/distributions/mixture.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Refactor NormalMixture
  pymc/distributions/mixture.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Refactor Mixture distribution
  pymc/distributions/mixture.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Move NormalMixture tests to their own class
  pymc/tests/test_mixture.py
Due: no-relative-imports

Refactor TestMixtureVsLatent
  pymc/tests/test_mixture.py
Due: no-relative-imports

Use specific imports in test_mixture
  pymc/tests/test_mixture.py
Due: no-relative-imports

Update release notes
  RELEASE-NOTES.md
Due: none

fixed pymc.Kumaraswamy docsting (#5550)
  pymc/distributions/continuous.py
Due: no-relative-imports

Refactor Mixture distribution for V4 (#5438)
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  docs/source/api/distributions/mixture.rst
  pymc/distributions/__init__.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
Due: check-no-tests-are-ignored, no-relative-imports

remove bart
  .github/workflows/pytest.yml
  docs/source/api.rst
  docs/source/api/bart.rst
  pymc/__init__.py
  pymc/bart/__init__.py
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/bart/utils.py
  pymc/sampling.py
  pymc/step_methods/hmc/nuts.py
  pymc/tests/test_bart.py
Due: check-no-tests-are-ignored, no-relative-imports

allow external step method
  pymc/sampling.py
  pymc/step_methods/__init__.py
  pymc/step_methods/hmc/nuts.py
  pymc/tests/test_step.py
Due: no-relative-imports

use grep from __init__.py to get version
  .github/workflows/nightly.yml
Due: none

update release note
  RELEASE-NOTES.md
Due: none

Move all mypy config to mypy.init
  mypy.ini
  pyproject.toml
  setup.cfg
Due: none

Remove numpy Tester instance from public API
  pymc/__init__.py
  pymc/tests/__init__.py
Due: no-relative-imports

Fix typing problems and add pre-commit mypy step
  .pre-commit-config.yaml
  pymc/backends/arviz.py
  pymc/blocking.py
  pymc/data.py
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/initial_point.py
  pymc/model.py
  pymc/parallel_sampling.py
  pymc/tuning/starting.py
  scripts/run_mypy.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
