Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.10
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Blackjax sampler fix for breaking change / enable progress bar under parallel chain_method (#7453)
  pymc/sampling/jax.py
Due: no-relative-imports

chunking jax samplers
  pymc/sampling/jax.py
Due: no-relative-imports

fix print
  pymc/sampling/jax.py
Due: no-relative-imports

add test
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

add test
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

add numpyro test
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

fix
  pymc/sampling/jax.py
Due: no-relative-imports

remove overarching jit
  pymc/sampling/jax.py
Due: no-relative-imports

Clarified 0-based indexing requirement for OrderedLogistic and OrderedProbit in discrete.rst
  docs/source/api/distributions/discrete.rst
Due: no-internal-links

Fix end of file issue in discrete.rst
  docs/source/api/distributions/discrete.rst
Due: no-internal-links

Add FutureWarning
  pymc/func_utils.py
Due: no-relative-imports

Update LICENSE
  LICENSE
Due: none

.
  pymc/sampling/jax.py
Due: no-relative-imports

Clarified 0-based indexing requirement for OrderedLogistic and OrderedProbit (#7457)
  docs/source/api/distributions/discrete.rst
Due: no-internal-links

fix jit
  pymc/sampling/jax.py
Due: no-relative-imports

fix docstring
  pymc/sampling/jax.py
Due: no-relative-imports

update docstrings
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

fix lint
  pymc/sampling/jax.py
Due: no-relative-imports

Updated text
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Added support for polars dataframes and series
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/data.py
  pymc/pytensorf.py
  requirements-dev.txt
  tests/test_data.py
  tests/test_pytensorf.py
Due: pip-from-conda, no-relative-imports

Make polars optional
  pymc/data.py
  pymc/pytensorf.py
Due: no-relative-imports

Remove polars from envs
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
Due: pip-from-conda

Remove polars from envs
  conda-envs/environment-jax.yml
Due: none

Remove polars import
  tests/test_pytensorf.py
Due: no-relative-imports

enhance test
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

fix _get_log_likelihood / numpyro rng
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Due: no-relative-imports

add postprocessing on different device
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

Allow logcdf inference of discrete variables
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Remove special logprob case for MaxNeg (used for Min logprob)
  pymc/logprob/order.py
  tests/logprob/test_order.py
Due: no-relative-imports

Fix typo in the docstring of the Beta distribution
  pymc/distributions/continuous.py
Due: no-relative-imports

Update edit to Beta docstring
  pymc/distributions/continuous.py
Due: no-relative-imports

Fix typo in the docstring of the Beta distribution (#7469)
  pymc/distributions/continuous.py
Due: no-relative-imports

Trigger tests
  pymc/gp/gp.py
Due: no-relative-imports

Port 7226 and add dims support
  pymc/gp/gp.py
  tests/gp/test_gp.py
Due: no-relative-imports

Compile logp functions in SMC_KERNEL.__init__
  pymc/smc/kernels.py
Due: no-relative-imports

Helper function for reseeding SMC_KERNEL.rng
  pymc/smc/kernels.py
Due: no-relative-imports

Option to pass a precalculated initial_point for SMC_KERNEL
  pymc/smc/kernels.py
Due: no-relative-imports
