Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Eval symbolic shapes before warning condition
  pymc/gp/cov.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config (#5687)
  .pre-commit-config.yaml
Due: none

Remove unused variables from Mixture dist
  pymc/distributions/mixture.py
Due: no-relative-imports

remove about section and add external links
  docs/source/_templates/navbar-version.html
  docs/source/about/citing_pymc.md
  docs/source/about/featured_testimonials.md
  docs/source/about/history_and_versions.md
  docs/source/about/index.md
  docs/source/about/pymc_for_enterprise.md
  docs/source/about/testimonials.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/learn/books.md
Due: no-relative-imports

Some further fixes to references and style
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.md
  docs/source/learning.md
Due: no-relative-imports

Allow passing `compile_pymc` kwargs to sampling functions
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Revert "tighten test_sample_after_set_data bound"
  pymc/tests/test_data_container.py
Due: no-relative-imports

Do not use tag in Mixture classmethods
  pymc/distributions/mixture.py
Due: no-relative-imports

Create dispatched ndim_supp_dist
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/model.py
Due: no-relative-imports

Create dispatched resize_dist
  pymc/aesaraf.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/sampling.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
  pymc/tests/test_shape_handling.py
Due: no-relative-imports

Some updates to how docs look (#5684)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/source/_static/custom.css
  docs/source/_templates/donate.html
  docs/source/_templates/edit-this-page.html
  docs/source/_templates/navbar-version.html
  docs/source/about/citing_pymc.md
  docs/source/about/featured_testimonials.md
  docs/source/about/history_and_versions.md
  docs/source/about/index.md
  docs/source/about/pymc_for_enterprise.md
  docs/source/about/testimonials.md
  docs/source/api.rst
  docs/source/conf.py
  docs/source/contributing/index.md
  docs/source/contributing/jupyter_style.md
  docs/source/contributing/pr_checklist.md
  docs/source/contributing/pr_tutorial.md
  docs/source/contributing/running_the_test_suite.md
  docs/source/index.md
  docs/source/installation.md
  docs/source/learn/books.md
  docs/source/learn/core_notebooks/GLM_linear.ipynb
  docs/source/learn/core_notebooks/dimensionality.ipynb
  docs/source/learn/core_notebooks/index.md
  docs/source/learn/core_notebooks/model_comparison.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
  docs/source/learn/examples.md
  docs/source/learn/examples/dimensionality.ipynb
  docs/source/learning.md
Due: no-relative-imports

Add `model_to_networkx` function
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/__init__.py
  pymc/model_graph.py
  requirements-dev.txt
Due: pip-from-conda, no-relative-imports

Remove tidelift.
  README.rst
  docs/source/contributing/index.md
Due: none

start private API section (#5625)
  .gitignore
  Makefile
  docs/source/contributing/index.md
  docs/source/contributing/private_api/index.md
  docs/source/contributing/private_api/tests.rst
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Include endpoint in `pymc_random_discrete`
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Ignore variables out of idata as inputs in sample_posterior_predictive
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

improve total_size
  pymc/distributions/logprob.py
  pymc/tests/test_minibatches.py
Due: no-relative-imports

add one more test case
  pymc/tests/test_minibatches.py
Due: no-relative-imports

Ignore variables out of idata as inputs in sample_posterior_predictive (#5699)
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config (#5706)
  .pre-commit-config.yaml
Due: none

update governance
  GOVERNANCE.md
  docs/community_diagram.png
Due: none

Update pymc/distributions/logprob.py
  pymc/distributions/logprob.py
Due: no-relative-imports

Add how to review pymc-examples PRs page (#5569)
  docs/source/contributing/index.md
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

Preserve mode in MeasurableScans
  aeppl/scan.py
  tests/test_scan.py
Due: no-relative-imports

Remove Python 3.6 from setup.py and add 3.9 and 3.10
  setup.py
Due: no-relative-imports

Use Variable.clone in create_discrete_mc_op
  aeppl/dists.py
Due: no-relative-imports

Fixed bug causing the group order of Approximations to be non-determinstics
  pymc/variational/opvi.py
Due: no-relative-imports

typo fix
  pymc/variational/opvi.py
Due: no-relative-imports

renamed compute_initial_point to initial_point
  pymc/model.py
Due: no-relative-imports

fix pre-commit issue
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

removed @property from initial_point
  pymc/model.py
Due: no-relative-imports

Renamed compute_initial_point to initial_point
  pymc/backends/base.py
  pymc/model.py
  pymc/smc/smc.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_step.py
  pymc/tests/test_transforms.py
  pymc/tests/test_variational_inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

undoing my hard work
  .github/workflows/nightly.yml
  setup.py
Due: no-relative-imports

Rename model.compute_initial_point to model.initial_point (#5661)
  pymc/backends/base.py
  pymc/model.py
  pymc/smc/smc.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_step.py
  pymc/tests/test_transforms.py
  pymc/tests/test_variational_inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
