Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Add Model class to numpydoc aliases
  docs/source/conf.py
Due: no-relative-imports

MNT Removes pandas dependence in data module
  pymc/data.py
Due: no-relative-imports

CLN Use list
  pymc/data.py
Due: no-relative-imports

Revert "CLN Use list"
  pymc/data.py
Due: no-relative-imports

replace rv.logp(x) to pm.logp(rv,x)
  pymc/distributions/distribution.py
Due: no-relative-imports

Addressed review comments to changes to GWR docstring
  pymc/distributions/timeseries.py
Due: no-relative-imports

fixed Gamma docstring or -> of (#5501)
  pymc/distributions/continuous.py
Due: no-relative-imports

Add tensor_like to glossary (#5498)
  docs/source/conf.py
  docs/source/glossary.md
Due: no-relative-imports

Updated pymc.GaussianRandomWalk docstring (#5492)
  pymc/distributions/timeseries.py
Due: no-relative-imports

Update pymc/variational/opvi.py
  pymc/variational/opvi.py
Due: no-relative-imports

run upgraded pre-commit
  pymc/variational/opvi.py
Due: no-relative-imports

move pipe back
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Updated docstring for model.point_logps
  pymc/model.py
Due: no-relative-imports

Updated pr_tutorial.md
  docs/source/contributing/pr_tutorial.md
Due: none

remove get_versions()
  setup.py
Due: no-relative-imports

more functions, less faff
  setup.py
Due: no-relative-imports

nicer f string
  setup.py
Due: no-relative-imports

Fix aesara name
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

:wrench: exclude files
  .pre-commit-config.yaml
Due: none

Make defaulting more transparent in test suite
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fix aesara name (#5509)
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

NIGHTLY is a global variable
  setup.py
Due: no-relative-imports

testing nightly install with date in workflow
  .github/workflows/nightly.yml
Due: none

Remove or
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Add self to properly override class parameters
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Remove more ors
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Fix the non-tuple indexing deprecated warning for Minibatch
  pymc/data.py
Due: no-relative-imports

simplify serveral tests in TestMinibatch
  pymc/tests/test_minibatches.py
Due: no-relative-imports

add a test for get_data function
  pymc/tests/test_data_container.py
Due: no-relative-imports

Adds tests and mode for dirichlet multinomial distribution
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

:pencil: add ignore file
  .pre-commit-config.yaml
Due: none

:pencil2: remove duplicated
  .pre-commit-config.yaml
Due: none

Fix ref in developer_guide.rst
  docs/source/contributing/developer_guide.rst
Due: none

Fix reference in developer_guide.rst
  docs/source/contributing/developer_guide.rst
Due: none

Fix ref in examples.md
  docs/source/learn/examples.md
Due: none

Fix ref in learn/examples.md
  docs/source/learn/examples.md
Due: none
