Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Fix test incompatibility with newer PyTensor check
  tests/distributions/test_custom.py
Due: none

Change order of arguments in `get_related_valued_nodes`
  pymc/logprob/basic.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/transform_value.py
  pymc/logprob/utils.py
Due: none

Bump numpy dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Explain difference between BinaryMetropolis and BinaryGibbsMetropolis
  pymc/step_methods/metropolis.py
  tests/step_methods/test_metropolis.py
Due: none

fix flaky test, remove high tolerance (#7567)
  tests/gp/test_gp.py
Due: none

Remove unnecessary BLAS deps from environment-test.yml
  conda-envs/environment-test.yml
Due: none

Bump PyTensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/logprob/tensor.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Only allow measurable transpositions in univariate Elemwise chains or direct valued nodes
  pymc/logprob/tensor.py
  pyproject.toml
  tests/logprob/test_tensor.py
Due: none

Rename `compile_pymc` to `compile`
  docs/source/api/pytensorf.rst
  pymc/backends/base.py
  pymc/func_utils.py
  pymc/gp/util.py
  pymc/initial_point.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/smc/kernels.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/testing.py
  pymc/variational/opvi.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_shape_utils.py
  tests/distributions/test_simulator.py
  tests/model/test_core.py
  tests/sampling/test_forward.py
  tests/stats/test_log_density.py
  tests/test_pytensorf.py
Due: no-internal-links

Include unconditional constant_fold rewrite
  pymc/pytensorf.py
  tests/test_pytensorf.py
Due: none

Fix pre-commit
  pymc/step_methods/hmc/nuts.py
Due: none

Traces are already closed on `finally`
  pymc/sampling/mcmc.py
Due: none

Avoid deprecation warnings
  pymc/distributions/continuous.py
  pymc/distributions/moments/means.py
Due: none

Add warning about changed behavior when passing Sequence for random_seed
  pymc/sampling/mcmc.py
Due: none

Unorphan the model transform doc page
  docs/source/api/model.rst
Due: no-internal-links

ValueGradFunction inner function now accepts a raveled input
  pymc/model/core.py
  pymc/sampling/mcmc.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/integration.py
  pymc/step_methods/hmc/nuts.py
  tests/distributions/test_multivariate.py
  tests/model/test_core.py
  tests/step_methods/hmc/test_hmc.py
  tests/step_methods/hmc/test_nuts.py
Due: none

Allow passing compile_kwargs to step inner functions
  pymc/sampling/mcmc.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  tests/helpers.py
  tests/step_methods/test_metropolis.py
Due: none

Automatically label PRs based on *closing* issues (#7547)
  .github/workflows/pr-auto-label.yml
Due: none

Deprecate `random_seed=-1` behavior
  pymc/sampling/mcmc.py
Due: none

Do not mutate Scan inner graph when deriving logprob
  pymc/logprob/scan.py
  tests/logprob/test_scan.py
Due: none

Exponential scale default to 1.0
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Reduce attribute accesses on point record
  pymc/backends/ndarray.py
Due: none

Remove unused pre-commit workflow
  .github/workflows/dispatched_pre-commit.yml
Due: none

Cache size in DictToArrayBijection
  pymc/blocking.py
  pymc/sampling/parallel.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/tuning/starting.py
Due: none

Add example on freeze_data_and_dims
  pymc/model/transform/optimization.py
Due: none

Update pr-auto-label.yml
  .github/workflows/pr-auto-label.yml
Due: none

Optimize NUTS
  pymc/step_methods/hmc/nuts.py
Due: none

Fix error in docstring example for MatrixNormal (#7599)
  pymc/distributions/multivariate.py
Due: none

Derive matmul probability
  .github/workflows/tests.yml
  pymc/logprob/__init__.py
  pymc/logprob/abstract.py
  pymc/logprob/linalg.py
  pymc/logprob/rewriting.py
  tests/logprob/test_linalg.py
Due: check-no-tests-are-ignored

Split model transform in API listing
  docs/source/api/model.rst
  docs/source/api/model/conditioning.rst
  docs/source/api/model/optimization.rst
Due: no-internal-links

pre-commit ruff 0.8.0 update (#7595)
  .pre-commit-config.yaml
  pymc/backends/__init__.py
  pymc/data.py
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  pymc/exceptions.py
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/mean.py
  pymc/logprob/__init__.py
  pymc/math.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/tuning/scaling.py
  pymc/variational/approximations.py
  pymc/variational/callbacks.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  pymc/vartypes.py
  tests/model/test_core.py
Due: none

Switch to setup-micromamba action
  .github/workflows/mypy.yml
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Probability distributions guide update
  docs/source/guides/Probability_Distributions.rst
Due: no-internal-links

Probability distributions guide update (#7671)
  docs/source/guides/Probability_Distributions.rst
Due: no-internal-links

Update starting.py
  pymc/tuning/starting.py
Due: none

bump pytensor version dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

case that doesnt work now
  tests/test_data.py
Due: none

change the error message
  pymc/data.py
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
