Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Infer logprob of trunc and round_half_away_from_zero rounding
  pymc/logprob/censoring.py
  tests/logprob/test_censoring.py
Due: none

Fix copy-pasted MeasurableRound docstring
  pymc/logprob/censoring.py
Due: none

Infer logprob of maximum/minimum censoring
  pymc/logprob/censoring.py
  tests/logprob/test_censoring.py
Due: none

Infer logprob of casts that discretize a continuous variable
  pymc/logprob/censoring.py
  pymc/logprob/tensor.py
  tests/logprob/test_tensor.py
Due: none

Remove unused kwargs from the logcdf, logccdf and icdf dispatchers
  pymc/dims/distributions/core.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/truncated.py
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/logprob/binary.py
  pymc/logprob/censoring.py
  pymc/logprob/tensor.py
  pymc/logprob/transforms.py
Due: none

Stop passing the RV name to the logcdf and logccdf dispatchers
  pymc/logprob/abstract.py
Due: none

Establish the support of a rounding base before deriving its logprob
  pymc/logprob/censoring.py
  tests/logprob/test_censoring.py
Due: none

Fix bare except: replace with except Exception: in tests/backends/fixtures.py
  tests/backends/fixtures.py
Due: none

Compatibility with pytensor 3.2
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/logprob/mixture.py
  pymc/logprob/rewriting.py
  pymc/logprob/tensor.py
  pymc/logprob/transforms.py
  pymc/pytensorf.py
  requirements-dev.txt
  requirements.txt
  tests/backends/test_arviz.py
  tests/logprob/test_mixture.py
Due: pip-from-conda

Implement icdf for Truncated distributions
  pymc/distributions/truncated.py
  tests/distributions/test_truncated.py
Due: none

Fix flaky plot test
  tests/gp/test_util.py
Due: none

Test is supposed to be deterministic
  tests/step_methods/hmc/test_hmc.py
Due: none

Pin numba CPU target in CI
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Rework jax NUTS kwarg forwarding: explicit detection + FutureWarning/UserWarning
  pymc/sampling/mcmc.py
Due: none

Test jax kwarg forwarding rework: FutureWarning + stray-kwarg UserWarning (GH #8369)
  tests/sampling/test_mcmc_external.py
Due: none

Update progress_bar handling in jax.py for blackjax
  pymc/sampling/jax.py
Due: none

Implement tests for blackjax NUTS progress bar handling
  tests/sampling/test_jax.py
Due: none

Remove unnecessary blank line in jax.py
  pymc/sampling/jax.py
Due: none

Add progress bar support for blackjax sampling
  pymc/sampling/jax.py
Due: none

Implement icdf for TruncatedNormal distribution, Related to #6612
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Use ndtri_exp in TruncatedNormal icdf
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Compute TruncatedNormal icdf in logspace for numerical stability
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

cleanup
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Deprecate SumTo1 transform
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

cleanup
  pymc/distributions/continuous.py
Due: none

Address review: FrozenModel subclass, initval guard, isinstance linker check
  docs/source/api/model/core.rst
  pymc/model/core.py
  pymc/model/transform/__init__.py
  pymc/model/transform/optimization.py
  pymc/util.py
  tests/model/test_core.py
Due: no-internal-links

Address review: full BaseModel/Model/FrozenModel split, direct linker isinstance
  docs/source/api/model/core.rst
  pymc/model/core.py
  tests/model/test_core.py
Due: no-internal-links

Preserve initial values in freeze_dims_and_data
  pymc/model/transform/optimization.py
  tests/model/transform/test_optimization.py
Due: none

Fix mypy: BaseModel annotations for read-only model consumers
  pymc/backends/arviz.py
  pymc/backends/zarr.py
  pymc/data.py
  pymc/dims/model.py
  pymc/model/transform/conditioning.py
  pymc/model/transform/optimization.py
  pymc/model/transform_values.py
  pymc/sampling/deterministic.py
  pymc/sampling/forward.py
  pymc/stats/log_density.py
Due: none

Cache compiled model functions on frozen models
  docs/source/api/model/optimization.rst
  pymc/model/core.py
  pymc/model/transform/optimization.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/util.py
  tests/model/test_core.py
  tests/sampling/test_forward.py
  tests/test_initial_point.py
Due: no-internal-links

Assert FrozenModel/Model isinstance relationship explicitly
  tests/model/test_core.py
Due: none

Implement icdf for TruncatedNormal distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Add entropy dispatch for distributions
  pymc/distributions/moments/__init__.py
  pymc/distributions/moments/entropy.py
  tests/distributions/moments/test_entropy.py
Due: none

Register test_entropy.py in CI test matrix
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Use pytensor-distributions for Normal logp, logcdf, logccdf and icdf
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/distributions/continuous.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda
