Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Use set_subtensor instead of inc_subtensor in Ordered transform
  pymc/distributions/transforms.py
Due: no-relative-imports

Handle multivariate transforms of univariate distributions correctly
  docs/source/api/distributions/transforms.rst
  pymc/distributions/discrete.py
  pymc/distributions/mixture.py
  pymc/distributions/transforms.py
  pymc/logprob/transforms.py
  tests/distributions/test_transform.py
Due: no-relative-imports, no-internal-links

Do not predefine custom Cholesky and SolveTriangular Ops
  pymc/distributions/multivariate.py
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/math.py
Due: no-relative-imports

Remove unused MvNormalLogp Op
  pymc/distributions/dist_math.py
  pymc/distributions/multivariate.py
  tests/distributions/test_dist_math.py
Due: no-relative-imports

Bump Pytensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/data.py
  pymc/distributions/bound.py
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/distributions/simulator.py
  pymc/gp/cov.py
  pymc/gp/util.py
  pymc/initial_point.py
  pymc/logprob/basic.py
  pymc/logprob/censoring.py
  pymc/logprob/mixture.py
  pymc/logprob/order.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/model/core.py
  pymc/model_graph.py
  pymc/pytensorf.py
  pymc/variational/approximations.py
  requirements-dev.txt
  requirements.txt
  tests/distributions/test_transform.py
  tests/model/test_core.py
  tests/test_data.py
  tests/test_model_graph.py
  tests/test_pytensorf.py
Due: pip-from-conda, no-relative-imports

Add helper to convert model coords and dims into format accepted by InferenceData
  pymc/backends/arviz.py
  pymc/model/core.py
  pymc/sampling/jax.py
  pymc/stats/log_likelihood.py
  tests/stats/test_log_likelihood.py
Due: no-relative-imports

np.pi in w0
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

change postprocessing chunks to postprocessing_vectorize
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Due: no-relative-imports

cupdate blackjax sampler to use the latest api
  pymc/sampling/jax.py
Due: no-relative-imports

update test target blackjax
  .github/workflows/tests.yml
Due: none

fix do with transformed
  pymc/model/fgraph.py
  tests/model/transform/test_conditioning.py
Due: no-relative-imports

update docs, add deprecations
  pymc/sampling/jax.py
  pymc/sampling_jax.py
Due: no-relative-imports

apply suggstions
  pymc/sampling/jax.py
Due: no-relative-imports

Change test
  tests/model/test_fgraph.py
  tests/model/transform/test_conditioning.py
Due: no-relative-imports

Update pymc_overview.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

Fix fgraph_from_model with multivariate transformed variables (#6924)
  pymc/model/fgraph.py
  tests/model/test_fgraph.py
Due: no-relative-imports

Update pymc_overview.ipynb (#6925)
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

apply suggestions from Ricardo
  pymc/sampling/jax.py
Due: no-relative-imports

Update jax.py
  pymc/sampling/jax.py
Due: no-relative-imports

Fix jax sampling (#6922)
  .github/workflows/tests.yml
  pymc/sampling/jax.py
  pymc/sampling_jax.py
  tests/sampling/test_jax.py
Due: no-relative-imports

fix docs distribution
  docs/source/api.rst
  docs/source/api/model/core.rst
  docs/source/api/model/fgraph.rst
  docs/source/api/model/transform/conditioning.rst
Due: no-internal-links

fix code blocks
  pymc/model/transform/conditioning.py
Due: no-relative-imports

fix model drop down
  docs/source/api.rst
  docs/source/api/model.rst
  docs/source/api/model/conditioning.rst
  docs/source/api/model/creation.rst
  docs/source/api/model/fgraph.rst
Due: no-internal-links

fix subsection redundant name
  docs/source/api/model.rst
  docs/source/api/model/core.rst
  docs/source/api/model/creation.rst
Due: no-internal-links

fxt others
  docs/source/api/model/core.rst
Due: no-internal-links
