Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

use positional arg for draws like in actual sample
  pymc/testing.py
  tests/test_testing.py
Due: none

better for mypy
  pymc/testing.py
Due: none

provide the setup and breakdown for pytest fixtures
  pymc/testing.py
  tests/test_testing.py
Due: none

change name for testing convention
  pymc/testing.py
  tests/test_testing.py
Due: none

Generalize ordered transform
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

bit more explicit on the test
  tests/test_testing.py
Due: none

add to the documentation
  docs/source/api/testing.rst
Due: no-internal-links

use expand_dims method
  pymc/testing.py
  tests/test_testing.py
Due: none

add to the toc
  docs/source/api.rst
Due: no-internal-links

alterations to docstrings
  pymc/testing.py
Due: none

change format and provide links
  pymc/testing.py
Due: none

link to the functions in the docstring
  pymc/testing.py
Due: none

add gp.util to toc
  docs/source/api/gp/util.rst
Due: no-internal-links

fix spacing in numpy style docs
  pymc/gp/util.py
Due: none

change spacing
  docs/source/api/gp/util.rst
Due: no-internal-links

add to the toc
  docs/source/api/gp.rst
Due: no-internal-links

chore: adding NoneConst and None check
  pymc/logprob/mixture.py
Due: none

chore: fixing pre-commit
  pymc/logprob/mixture.py
Due: none

chore: proper fix of pre-commit
  pymc/logprob/mixture.py
Due: none

Add gp util module to docs (#7763)
  docs/source/api/gp.rst
  docs/source/api/gp/util.rst
  pymc/gp/util.py
Due: no-internal-links

moved logdet for correct computation of logp
  pymc/distributions/multivariate.py
Due: none

chore: add Codecov test analytics
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

chore: as per suggestion of @ricardoV94
  pymc/logprob/mixture.py
Due: none

Use model context in `logp_dlogp_function` to respect `check_bounds`
  pymc/model/core.py
  tests/model/test_core.py
Due: none

Propagate check_bounds over model transformations
  pymc/model/fgraph.py
  tests/model/test_fgraph.py
Due: none

Use static shape in join_nonshared_inputs
  pymc/pytensorf.py
Due: none

Do not garbage collect logp_dlogp function
  pymc/step_methods/hmc/integration.py
Due: none

Add public testing function to mock `sample` (#7761)
  docs/source/api.rst
  docs/source/api/testing.rst
  pymc/testing.py
  tests/test_testing.py
Due: no-internal-links

Fix setting initvals on ZeroSumTransform rv
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Remove unused cruft
  .mailmap
  RELEASE-NOTES.md
Due: none

Added .jupyter and .claude to .gitignore
  .gitignore
Due: none

Rename Twitter to X
  GOVERNANCE.md
Due: none

Alternative fix attempt of progressbar with nested compound step samplers
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/util.py
Due: none

Rename Twitter to X in GOVERNANCE.md (#7650)
  GOVERNANCE.md
Due: none

try updated theme
  conda-envs/environment-docs.yml
Due: none

updates to conf.py
  docs/source/conf.py
Due: none

configure search and use conda-forge release
  .readthedocs.yml
  conda-envs/environment-docs.yml
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
