Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.2.0
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Make default STEP_METHODS a list that can be modified
  pymc/step_methods/__init__.py
  tests/sampling/test_mcmc.py
  tests/step_methods/test_compound.py
Due: no-relative-imports

Bump PyTensor version and drop Python 3.9
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/pytensorf.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

Fix UP007 (Typealias Unions and Optionals)
  pymc/backends/__init__.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  pymc/model/transform/basic.py
  pymc/pytensorf.py
  pymc/util.py
Due: no-relative-imports

Fix UP038 (isinstance(..., X | Y))
  pymc/backends/arviz.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  pymc/gp/util.py
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/logprob/binary.py
  pymc/logprob/mixture.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model/transform/basic.py
  pymc/model/transform/conditioning.py
  pymc/ode/ode.py
  pymc/ode/utils.py
  pymc/printing.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
  pymc/util.py
  pymc/variational/minibatch_rv.py
  pymc/variational/opvi.py
  tests/backends/test_arviz.py
  tests/distributions/test_simulator.py
  tests/logprob/test_basic.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/test_model_graph.py
  tests/test_pytensorf.py
Due: no-relative-imports

Fix RUF007 (itertools.pairwise)
  pymc/distributions/mixture.py
  tests/distributions/test_discrete.py
Due: no-relative-imports

Bump mypy target python version
  mypy.ini
Due: none

Add utility to compute deterministics
  .github/workflows/tests.yml
  docs/source/api/samplers.rst
  pymc/sampling/__init__.py
  pymc/sampling/deterministic.py
  tests/sampling/test_deterministic.py
Due: check-no-tests-are-ignored, no-relative-imports, no-internal-links

Move dataset_to_point_list to arviz module
  pymc/backends/arviz.py
  pymc/sampling/forward.py
  pymc/stats/log_density.py
  pymc/util.py
  tests/backends/test_arviz.py
  tests/test_util.py
Due: no-relative-imports

Refactor utility to apply a PointFunc over a dataset
  pymc/backends/arviz.py
  pymc/stats/log_density.py
Due: no-relative-imports

Overload return type of compile_fn
  pymc/model/core.py
Due: no-relative-imports

document sampling related functions as users should import them
  docs/source/api/samplers.rst
Due: no-internal-links

Add Oriol's comments
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Fix link and typo in developer_guide.md
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Update docs/source/contributing/developer_guide.md
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Test for using CustomDist in multiprocess smc sampling
  tests/smc/test_smc.py
Due: no-relative-imports

Register custom overloads in all processes
  pymc/smc/sampling.py
Due: no-relative-imports

fix pre-commit
  pymc/gp/gp.py
  tests/gp/test_gp.py
Due: no-relative-imports

fixed docstring of BinaryGibbsMetropolis
  pymc/step_methods/metropolis.py
Due: no-relative-imports

Fixed docstring based on Oriol's suggestions
  pymc/step_methods/metropolis.py
Due: no-relative-imports

Update metropolis.py
  pymc/step_methods/metropolis.py
Due: no-relative-imports

fix TensorVariable typo in CustomDist
  pymc/distributions/distribution.py
Due: no-relative-imports

Fix join logp for multivariate RVs
  pymc/logprob/tensor.py
  tests/logprob/test_tensor.py
Due: no-relative-imports

Automatically retrieve updates from OpFromGraph nodes
  pymc/distributions/distribution.py
  pymc/pytensorf.py
  tests/distributions/test_distribution.py
  tests/test_pytensorf.py
Due: no-relative-imports

Allow Truncation of CustomDists
  pymc/distributions/truncated.py
  tests/distributions/test_mixture.py
  tests/distributions/test_truncated.py
Due: no-relative-imports

Manage SharedVariables explicitly in SymbolicRandomVariable
  pymc/distributions/distribution.py
  pymc/distributions/timeseries.py
  pymc/distributions/truncated.py
  pymc/pytensorf.py
  tests/distributions/test_distribution.py
Due: no-relative-imports

Solve computation of L
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

Fix DOI visibility badge in README
  README.rst
Due: none

add default transform argument
  pymc/distributions/distribution.py
  pymc/model/core.py
Due: no-relative-imports

fix failed tests
  pymc/model/core.py
  tests/distributions/test_mixture.py
  tests/distributions/test_transform.py
  tests/sampling/test_mcmc.py
Due: no-relative-imports
