Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Raise NotImplementedError in not yet refactored timeseries distributions
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Raise NotImplementedError in sample_posterior_predictive_w
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

use sys instead of print
  pymc/smc/smc.py
Due: no-relative-imports

isort
  pymc/smc/smc.py
Due: no-relative-imports

add comment
  pymc/smc/smc.py
Due: no-relative-imports

Fix tests and add doc for new statistics
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/tests/test_step.py
Due: no-relative-imports

start updating navbar
  docs/source/_templates/navbar-version.html
  docs/source/community.md
  docs/source/community/calendar.md
  docs/source/community/code_of_conduct.md
  docs/source/community/how_to_ask_on_discourse.md
  docs/source/conf.py
  docs/source/index.md
Due: no-relative-imports

get navbar and redirects to work
  docs/source/conf.py
  docs/source/index.md
Due: no-relative-imports

make search bar return the same results from all websites
  docs/source/_templates/search-field.html
Due: none

update requirements
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  requirements-dev.txt
Due: pip-from-conda

remove search bar from sidebar
  docs/source/conf.py
Due: no-relative-imports

Supress warning SMC initialization (#5827)
  pymc/smc/smc.py
Due: no-relative-imports

fix urls and add extra page
  .pre-commit-config.yaml
  docs/source/contributing/index.md
  docs/source/contributing/versioned_vs_gallery_explanation.md
  docs/source/index.md
Due: none

Make Metropolis cope better with multiple dimensions
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/test_step.py
Due: no-relative-imports

Move TestMetropolisProposal tests to TestMetropolis
  pymc/tests/test_step.py
Due: no-relative-imports

Experiment a bit
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update navbar (#5830)
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  docs/source/_templates/navbar-version.html
  docs/source/_templates/search-field.html
  docs/source/community.md
  docs/source/community/calendar.md
  docs/source/community/code_of_conduct.md
  docs/source/community/how_to_ask_on_discourse.md
  docs/source/conf.py
  docs/source/contributing/index.md
  docs/source/contributing/versioned_vs_gallery_explanation.md
  docs/source/index.md
  requirements-dev.txt
Due: pip-from-conda, no-relative-imports

1st try at restructuring
  RELEASE-NOTES.md
Due: none

Add emojis and do-not-miss section
  RELEASE-NOTES.md
Due: none

Bring back learning page.
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.md
  docs/source/learn.md
Due: no-relative-imports

Remove no-sidebar.
  docs/source/learn.md
Due: none

Do not issue warning when default transform of Mixture is None
  pymc/distributions/mixture.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Rename GaussianRandomWalk `init` argument to `init_dist` and fix some type hints
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Use more wide default init_dist in GaussianRandomWalk and AR and raise UserWarning when not explicitly defined
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Updates to user guide.
  docs/source/conf.py
  docs/source/index.md
  docs/source/learn/books.md
  docs/source/learn/videos_and_podcasts.md
  docs/source/learning.md
Due: no-relative-imports

Remove learn.md.
  docs/source/learn.md
Due: none

Add link to PyMC Labs.
  docs/source/learn/consulting.md
  docs/source/learning.md
Due: none

Link to correct image.
  docs/source/learn/consulting.md
Due: none

Improve cosulting page. Rename to learn.
  docs/source/index.md
  docs/source/learn.md
  docs/source/learn/consulting.md
Due: none

Apply suggestions from code review
  RELEASE-NOTES.md
Due: none

Remove user-facing mentions of size in timeseries distributions
  pymc/distributions/timeseries.py
Due: no-relative-imports

move wiki page installation to docs
  docs/source/installation.md
Due: none

Improve structure based on review
  RELEASE-NOTES.md
Due: none

add pymc to the command line
  docs/source/installation.md
Due: none

refactor test_init_groups
  pymc/tests/test_variational_inference.py
Due: no-relative-imports
