Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

dont need conditional_components, use pm.set_data
  pymc/gp/hsgp.py
Due: no-relative-imports

Register Op as subclass of Distributions with `rv_type` defined (#6493)
  pymc/distributions/distribution.py
  pymc/tests/distributions/test_distribution.py
Due: no-relative-imports

Pin docker/setup-buildx-action to 2.4.0
  .github/workflows/devcontainer-docker-image.yml
Due: none

Update isort pre-commit rev to 5.12.0 to avoid a poetry deprecation bug
  .pre-commit-config.yaml
Due: none

Add step to pre-commit that inserts or updates Apache v2 license header
  .pre-commit-config.yaml
Due: none

Align DEMetropolis defaults with literature recommendations (#6488)
  pymc/step_methods/metropolis.py
  pymc/tests/step_methods/test_metropolis.py
Due: no-relative-imports

Add git-blame-ignore-revs file. Ignoring apache header commit in blame
  .git-blame-ignore-revs
Due: none

Docstring for Potential function updated
  pymc/model.py
Due: no-relative-imports

Updated model.py with all the suggestions
  pymc/model.py
Due: no-relative-imports

Create traces with `init_traces` helper function
  pymc/backends/__init__.py
  pymc/sampling/mcmc.py
Due: no-relative-imports

Fix `test_weibull_logp` flakyness
  pymc/tests/distributions/test_continuous.py
Due: no-relative-imports

Modify internal sampling functions from `BaseTrace` to `IBaseTrace`
  pymc/sampling/mcmc.py
Due: no-relative-imports

Introduce `IBaseTrace` with minimal API for chain backends
  pymc/backends/__init__.py
  pymc/backends/base.py
  pymc/backends/ndarray.py
Due: no-relative-imports

Fix pre-commit
  pymc/distributions/continuous.py
  pymc/tests/distributions/test_continuous.py
Due: no-relative-imports

Fix pre-commit
  pymc/distributions/continuous.py
Due: no-relative-imports

Add nu parametrization to beta distribution (#6344)
  pymc/distributions/continuous.py
  pymc/tests/distributions/test_continuous.py
Due: no-relative-imports

Update discrete.py
  pymc/distributions/discrete.py
Due: no-relative-imports

Update continuous.py
  pymc/distributions/continuous.py
Due: no-relative-imports

adding
  pymc/distributions/continuous.py
Due: no-relative-imports

Allow for `StatsBijection.rmap` of incomplete stat dicts
  pymc/step_methods/compound.py
  pymc/tests/step_methods/test_compound.py
Due: no-relative-imports

More robust tune stat fetching and type hints
  pymc/backends/base.py
  pymc/backends/ndarray.py
  pymc/sampling/mcmc.py
Due: no-relative-imports

Default to using McBackend
  pymc/backends/__init__.py
Due: no-relative-imports

Add optional McBackend support
  .github/workflows/tests.yml
  pymc/backends/__init__.py
  pymc/backends/mcbackend.py
  pymc/sampling/mcmc.py
  pymc/tests/backends/test_mcbackend.py
  pymc/tests/sampling/test_mcmc.py
Due: no-relative-imports

Test McBackend support
  conda-envs/environment-dev.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
Due: pip-from-conda

Additional codeblocks added and theory reduced
  pymc/model.py
Due: no-relative-imports
