Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.10
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Type `get_tau_sigma` correctly and fix comment
  pymc/distributions/continuous.py
Due: no-relative-imports

Fix tuple type
  pymc/distributions/continuous.py
Due: no-relative-imports

Type rv_op based on behaviour rather than type
  pymc/distributions/distribution.py
Due: no-relative-imports

Fix incorrect type hinting syntax
  pymc/distributions/distribution.py
Due: no-relative-imports

Try setting rv_op: Any = None
  pymc/distributions/distribution.py
Due: no-relative-imports

Ignore pixi files
  .gitignore
Due: none

Added .pixi directory to .gitignore
  .gitignore
Due: none

Updates to first section of developers guide
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Revert accidental commit
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Ignore pixi files (#7493)
  .gitignore
Due: none

Deprecate Generator
  pymc/pytensorf.py
Due: no-relative-imports

Wrap Minibatch Operation in OpFromGraph
  pymc/data.py
  pymc/logprob/rewriting.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/variational/opvi.py
  tests/test_data.py
  tests/test_pytensorf.py
  tests/variational/test_inference.py
  tests/variational/test_minibatch_rv.py
Due: no-relative-imports

Allow Minibatch logp on derived RVs
  pymc/variational/minibatch_rv.py
  tests/variational/test_minibatch_rv.py
Due: no-relative-imports

Don't name unused variables
  pymc/logprob/basic.py
Due: no-relative-imports

Add test for scan logp with multiple valued output types
  tests/logprob/test_scan.py
Due: no-relative-imports

Remove unused naive_bcast_rv_lift rewrite
  pymc/logprob/tensor.py
  tests/logprob/test_tensor.py
Due: no-relative-imports

Rename MeasurableVariable to MeasurableOp
  pymc/logprob/basic.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/utils.py
  pymc/testing.py
  tests/logprob/test_transform_value.py
Due: no-relative-imports

Remove MeasurableOpMixin
  pymc/logprob/abstract.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/order.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
Due: no-relative-imports

Remove stale xfail scan test
  tests/logprob/test_scan.py
Due: no-relative-imports

moved gaussian process checking from clone_model to lower level fgraph_from_model
  pymc/model/fgraph.py
Due: no-relative-imports

added __copy__ and __deepcopy__ methods to Model and added unit tests
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

changed raise to warning, moved warning to low level clone_graph, added doc example, updated pytest
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/model/test_core.py
Due: no-relative-imports

added docs to methods
  pymc/model/core.py
Due: no-relative-imports

Allow access to different nutpie backends via pip-style syntax
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

Update pm.sample docstring
  pymc/sampling/mcmc.py
Due: no-relative-imports

Make mypy happy
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Due: no-relative-imports

`importorskip` nutpie backend test
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

Introduce valued variables in logprob IR
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/logprob/binary.py
  pymc/logprob/censoring.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/order.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  pymc/logprob/transform_value.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  tests/logprob/test_basic.py
  tests/logprob/test_censoring.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
  tests/logprob/test_transforms.py
  tests/logprob/test_utils.py
Due: no-relative-imports

Add a pre-commit hook to validate CITATION.cff
  .pre-commit-config.yaml
Due: none

implemented fix for escaping underscores in latex repr and added a unit test
  pymc/printing.py
  tests/test_printing.py
Due: no-relative-imports

updated unit test staticmethod to include underscore in var name
  tests/test_printing.py
Due: no-relative-imports

add underscore escape fix to distribution repr as well as model repr, fixed testing to expect underscores in LaTeX representation to be escaped
  pymc/printing.py
  tests/test_printing.py
Due: no-relative-imports

Update GLM_linear.ipynb to correct the URL for statsmodels on sourceforge
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links
