Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

removed measurable rewrite
  pymc/logprob/transforms.py
Due: no-relative-imports

written test place holder
  tests/logprob/test_transforms.py
Due: no-relative-imports

tests running but log2, log10, and expm1 failing
  tests/logprob/test_transforms.py
Due: no-relative-imports

log1p, softplus, and log1mexp now working
  pymc/logprob/transforms.py
Due: no-relative-imports

reverted back to just allowing exp2
  pymc/logprob/transforms.py
Due: no-relative-imports

expm1 test now passing
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

merge conflicts in tests_transforms
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

LogTransform with arb base n now works
  pymc/logprob/transforms.py
Due: no-relative-imports

3 tests failing
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Update pymc/logprob/transforms.py
  pymc/logprob/transforms.py
Due: no-relative-imports

log2 and log10 now working
  pymc/logprob/transforms.py
Due: no-relative-imports

implemented rewrites and reverted Transform classes
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

generalised expotential function added
  pymc/logprob/transforms.py
Due: no-relative-imports

updated tests but failing
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

removed additions to node rewriter
  pymc/logprob/transforms.py
Due: no-relative-imports

Update pymc/logprob/transforms.py
  LLB_issue_notes_untracked.ipynb
Due: none

fixed test failing for log2 and log10 (due to floating point inprecision in the graph)
  tests/logprob/test_transforms.py
Due: no-relative-imports

accidently committed notebook
  LLB_issue_notes_untracked.ipynb
Due: none

Deny broadcasting of the measurable input
  pymc/logprob/binary.py
  tests/logprob/test_binary.py
Due: no-relative-imports

Cast `ZeroSumNormal` shape operations to `config.floatX` (#6889)
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Update README with current DBDA repo and link
  README.rst
Due: none

fixed removed code from rebase
  tests/logprob/test_transforms.py
Due: no-relative-imports

ENH: Add logcdf implementation for CensoredRV
  pymc/distributions/censored.py
Due: no-relative-imports

TST: Add tests for CensoredRV
  tests/distributions/test_censored.py
Due: no-relative-imports

Fix Indentation
  tests/distributions/test_censored.py
Due: no-relative-imports

Update censored.py
  pymc/distributions/censored.py
Due: no-relative-imports

moved test back into TestClass after rebase
  tests/logprob/test_transforms.py
Due: no-relative-imports

fixed duplicat test and removed negation from log1mexp logprob conversion
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Derive logprob for exp2, log2, log10, log1p, expm1, log1mexp, log1pexp (softplus), and sigmoid transformations (#6826)
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config (#6901)
  .pre-commit-config.yaml
Due: none

Fix wrong ZeroSumNormal logp expression
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Implementation of Maxwell Distribution
  docs/source/api/distributions/continuous.rst
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports, no-internal-links

Handle multivariate transforms of univariate distributions correctly
  docs/source/api/distributions/transforms.rst
  pymc/distributions/discrete.py
  pymc/distributions/mixture.py
  pymc/distributions/transforms.py
  pymc/logprob/transforms.py
  tests/distributions/test_transform.py
Due: no-relative-imports, no-internal-links
