Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

update codecov action to v2
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

upload all reports to codecov
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Use ifelse in Mixture logprob when index, not value, is scalar
  aeppl/mixture.py
Due: no-relative-imports

Workaround Theano issue w/ NumPy>=1.22.0 (#5310)
  RELEASE-NOTES.md
  pymc3/__init__.py
Due: no-relative-imports

Workaround Theano issue with NumPy>=1.22.0 (#5310) (see #5316)
  RELEASE-NOTES.md
  pymc3/__init__.py
Due: no-relative-imports

fix cross-references
  docs/source/learn/examples/pymc_overview.ipynb
Due: none

update governance after election and add discourse team (#5238)
  GOVERNANCE.md
Due: none

Updates to getting started, GLM and model comparison notebooks (#5269)
  README.rst
  docs/source/learn/examples.md
  docs/source/learn/examples/GLM_linear.ipynb
  docs/source/learn/examples/getting_started.ipynb
  docs/source/learn/examples/model_comparison.ipynb
  docs/source/learn/examples/pymc_overview.ipynb
  docs/source/learning.md
Due: none

Add Censored distributions
  RELEASE-NOTES.md
  docs/source/api/distributions.rst
  docs/source/api/distributions/censored.rst
  pymc/distributions/__init__.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/tests/test_distributions.py
  pymc/util.py
Due: no-relative-imports

Small fixes to pm.Bound
  pymc/distributions/bound.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

Make get_moment Op agnostic
  pymc/distributions/distribution.py
  pymc/distributions/simulator.py
Due: no-relative-imports

Create base SymbolicDistribution
  docs/source/api/distributions/utilities.rst
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
Due: no-relative-imports

Remove unused return value from helper functions
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
Due: no-relative-imports

Restore support for passing `dims` alongside `shape` or `size`
  pymc/distributions/distribution.py
  pymc/tests/test_shape_handling.py
Due: no-relative-imports

Extract RV creation and `resize_shape` determination code
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
Due: no-relative-imports

Add aeppl logp reference
  pymc/distributions/continuous.py
Due: no-relative-imports

Warnings of theano and pymc3 has been deleted
  pymc/__init__.py
Due: no-relative-imports

Warnings about parallel Theano or PyMC3 installation were removed (#5328)
  pymc/__init__.py
Due: no-relative-imports

Add aeppl logp reference (#5327)
  pymc/distributions/continuous.py
Due: no-relative-imports

Re-enable passing `dims` alongside `shape` or `size` (#5325)
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/tests/test_shape_handling.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Pin NumPy to <1.22.0 temporarily
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Only pack variables for which prior samples are available
  pymc/backends/arviz.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Only pack variables for which prior samples are available (#5338)
  pymc/backends/arviz.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Fix scalar mixture distributions with non-scalar index case
  aeppl/mixture.py
  tests/test_mixture.py
Due: no-relative-imports

Remove unnecessary assert in naive_bcast_rv_lift
  aeppl/opt.py
  tests/test_opt.py
Due: no-relative-imports

Make nested models share coords with parents
  RELEASE-NOTES.md
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Make nested models share coords with parents (#5344)
  RELEASE-NOTES.md
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Removed packaging dependency in data.py
  pymc/data.py
Due: no-relative-imports

Changed list comprehension to iterator
  pymc/data.py
Due: no-relative-imports

Add a Dirac-delta distribution
  aeppl/dists.py
  aeppl/logprob.py
  aeppl/mixture.py
  aeppl/opt.py
  tests/test_dist.py
  tests/test_logprob.py
  tests/test_mixture.py
  tests/test_opt.py
Due: no-relative-imports

add test cases for draw function
  pymc/tests/test_sampling.py
Due: no-relative-imports

add Examples for draw function
  pymc/sampling.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
