Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.10.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: no-print-statements
      files: ^pymc3/
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/environment-dev-py37\.yml$
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Applies Osvaldo's semantic / syntactic suggestions
  docs/source/glossary.md
Due: none

Add prominent warnings about having theano/pymc3 installed in parallel
  pymc/__init__.py
Due: no-relative-imports

Added sources, applied revisions.
  docs/source/glossary.md
Due: none

Apply link rename
  pymc/__init__.py
Due: no-relative-imports

updated governance proposal
  GOVERNANCE.md
  docs/community_diagram.png
Due: none

address feedback and todos
  GOVERNANCE.md
Due: none

add documentation for logit p in Bernoulli
  pymc/distributions/discrete.py
Due: no-relative-imports

fix the formula latex
  pymc/distributions/discrete.py
Due: no-relative-imports

Remove quotations on definitions and link term
  docs/source/glossary.md
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Applies Oriol's formatting suggestions
  docs/source/glossary.md
Due: none

Adds {term} "roles" (links within glossary terms).
  docs/source/glossary.md
Due: none

Adds :sorted:
  docs/source/glossary.md
Due: none

Add prior, posterior and related definitions to glossary (#4987, CU-5t5y0p)
  docs/source/glossary.md
Due: none

Fix trailing whitespace
  docs/source/glossary.md
Due: none

class and function deprecation helper
  pymc3/deprecated.py
Due: no-relative-imports

Update deprecated.py
  pymc3/deprecated.py
Due: no-relative-imports

param deprecation sphinx + tests for deprecator
  pymc/deprecator.py
  pymc/deprecator_test.py
  pymc3/deprecated.py
Due: no-relative-imports

making changes according to ravin's comments
  pymc/deprecator.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
  pymc/gp/mean.py
  pymc/tests/helpers.py
  pymc/util.py
  pymc/variational/operators.py
Due: no-relative-imports

Enable zerosum_dims
  pymc3/distributions/continuous.py
  pymc3/distributions/distribution.py
Due: no-relative-imports

add linear response, increase number of trees fitted per step
  pymc/distributions/bart.py
  pymc/distributions/tree.py
  pymc/step_methods/pgbart.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Handle value mappings for Scans with taps and initial values
  aeppl/scan.py
  tests/test_scan.py
Due: no-relative-imports

Make tests.utils.assert_no_rvs check Scan inner-graphs
  tests/utils.py
Due: no-relative-imports

Implement log-probability support for Scan Ops
  aeppl/__init__.py
  aeppl/scan.py
  setup.py
  tests/test_scan.py
Due: no-relative-imports

Add PyMC
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add PyMC to config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

removed extra space, reinstated definitions deleted by previous change
  docs/source/glossary.md
Due: none

added linebreaks between definitions to make it neater
  docs/source/glossary.md
Due: none

trim trailing whitespace
  docs/source/glossary.md
Due: none

add tests for logit_p parametrization
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

add 404 page to docs
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/404.md
  docs/source/conf.py
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

tweak page a bit
  docs/source/404.md
Due: none
