Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Redirect explicit sparse casts in model_to_float32
  pymc/model/transform/optimization.py
  tests/model/transform/test_optimization.py
Due: none

Defer pytensor.sparse import in model_to_float32
  pymc/model/transform/optimization.py
Due: none

Make ZeroSumNormal zero-sum check tolerance dtype-aware
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: none

feat: store zarr warning stats as typed columns
  pymc/backends/zarr.py
  tests/backends/test_zarr.py
Due: none

feat: add ZarrTrace.to_datatree
  pymc/backends/zarr.py
  tests/backends/test_zarr.py
Due: none

feat: record pickle protocol in zarr root attrs
  pymc/backends/zarr.py
  tests/backends/test_zarr.py
Due: none

feat: add struct_dtype descriptor to sampling states
  pymc/step_methods/state.py
  tests/step_methods/test_state.py
Due: none

feat: store sampling states as zarr struct arrays
  .gitignore
  pymc/backends/zarr.py
  pymc/step_methods/state.py
  tests/backends/test_zarr.py
  tests/step_methods/test_state.py
Due: none

fix: store unbounded sampling state fields outside the struct
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/backends/zarr.py
  pymc/step_methods/state.py
  requirements-dev.txt
  setup.py
  tests/backends/test_zarr.py
  tests/step_methods/test_state.py
Due: pip-from-conda

Forward direct JAX sampler options in pm.sample
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

Add explicit dtype support to Data
  pymc/data.py
  pymc/model/core.py
  pymc/pytensorf.py
  tests/test_data.py
  tests/test_pytensorf.py
Due: none

Pass matrix linker to PYTENSOR_FLAGS in float32 CI job
  .github/workflows/tests.yml
  tests/distributions/test_transform.py
Due: check-no-tests-are-ignored

Support pymc.dims models in vectorize_over_posterior
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: none

Don't resize RVs that are only reachable through replaced RVs
  pymc/sampling/forward.py
Due: none

Address review feedback on data dtype handling
  pymc/model/core.py
  tests/test_data.py
  tests/test_pytensorf.py
Due: none

Fix dims type in model_from_fgraph, and test dims preservation
  pymc/model/fgraph.py
  tests/model/test_fgraph.py
  tests/model/transform/test_conditioning.py
Due: none

Fix Moyal lower-tail regression test reference
  tests/distributions/test_continuous.py
Due: none

Remove setup.py in favor of pyproject.toml
  .pre-commit-config.yaml
  MANIFEST.in
  docs/source/contributing/pr_tutorial.md
  pymc/_version.py
  pyproject.toml
  requirements.txt
  setup.py
Due: no-internal-links

Store L-BFGS-B's inverse Hessian as its correction pairs instead of densifying it
  pymc/tuning/starting.py
  tests/tuning/test_starting.py
Due: none

Defer better_optimize and scipy.optimize imports to first use
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
Due: none

Keep init="map" unjittered; jitter+map is the jittered variant
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Due: none

Deprecate find_MAP's dict return; route internal callers through _find_MAP_point
  pymc/model/transform/conditioning.py
  pymc/sampling/mcmc.py
  pymc/tuning/starting.py
  tests/distributions/test_truncated.py
  tests/gp/test_gp.py
  tests/model/transform/test_conditioning.py
  tests/tuning/test_starting.py
Due: none

Self-review fixes
  ARCHITECTURE.md
  pymc/gp/gp.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  tests/tuning/test_starting.py
Due: none

Address review: exact inverse Hessian, robust optimizer_result, powell fallback
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: none

Use an already-frozen model as is in find_MAP
  pymc/tuning/starting.py
  tests/tuning/test_starting.py
Due: none

Skip a redundant compile in find_MAP's jitter check; fast compile mode in tests
  pymc/tuning/starting.py
  tests/tuning/test_starting.py
Due: none

Address second review round
  pymc/sampling/mcmc.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  tests/sampling/test_mcmc.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: none

Cover find_MAP error branches in tests
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: none

Register test_scipy_interface.py in the CI test matrix
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Port find_MAP from pymc-extras and align it with pm.sample
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/model/transform/conditioning.py
  pymc/sampling/mcmc.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  pyproject.toml
  requirements-dev.txt
  tests/distributions/test_truncated.py
  tests/gp/test_gp.py
  tests/model/transform/test_conditioning.py
  tests/sampling/test_mcmc.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: pip-from-conda

Rename init="map" to init="jitter+map"; init="map" warns
  pymc/sampling/mcmc.py
  pymc/tuning/starting.py
  tests/sampling/test_mcmc.py
  tests/tuning/test_starting.py
Due: none

Drop the freeze_model and gradient_backend options
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: none

Check jittered starts with the optimizer's own compiled loss
  pymc/sampling/mcmc.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
Due: none

Pin better-optimize below 0.5
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pyproject.toml
  requirements-dev.txt
Due: pip-from-conda

Move find_MAP out of tuning/starting.py into pymc/optimization
  .github/workflows/tests.yml
  docs/source/api.rst
  docs/source/api/optimization.rst
  pymc/__init__.py
  pymc/optimization/__init__.py
  pymc/optimization/map.py
  pymc/optimization/scipy_interface.py
  pymc/sampling/mcmc.py
  tests/optimization/__init__.py
  tests/optimization/test_map.py
  tests/optimization/test_scipy_interface.py
  tests/step_methods/test_metropolis.py
  tests/test_root_namespace.py
Due: check-no-tests-are-ignored, no-internal-links

Align find_MAP further with pm.sample
  pymc/sampling/mcmc.py
  pymc/tuning/starting.py
  tests/tuning/test_starting.py
Due: none

Move find_MAP back to tuning/starting.py
  .github/workflows/tests.yml
  docs/source/api.rst
  docs/source/api/optimization.rst
  docs/source/api/tuning.rst
  pymc/__init__.py
  pymc/optimization/__init__.py
  pymc/sampling/mcmc.py
  pymc/tuning/__init__.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  tests/optimization/__init__.py
  tests/step_methods/test_metropolis.py
  tests/test_root_namespace.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: check-no-tests-are-ignored, no-internal-links
