Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Test multiple `None` dims work together
  tests/model/test_core.py
Due: no-relative-imports

Raise when number of dims does not match var.ndim
  pymc/distributions/discrete.py
  pymc/model/core.py
  tests/distributions/test_discrete.py
  tests/model/test_core.py
Due: no-relative-imports

pull out function `get_constant_coords` fn and add test
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: no-relative-imports

include value coord in test
  tests/sampling/test_forward.py
Due: no-relative-imports

wrap each plate in single class
  pymc/model_graph.py
Due: no-relative-imports

no plate for scalars
  pymc/model_graph.py
Due: no-relative-imports

Add Conda Downloads Badge
  README.rst
Due: none

pull out methods into functions
  pymc/model_graph.py
Due: no-relative-imports

change name and loop over at begining
  pymc/model_graph.py
Due: no-relative-imports

test none dim
  tests/test_model_graph.py
Due: no-relative-imports

rename away from meta
  pymc/model_graph.py
  tests/test_model_graph.py
Due: no-relative-imports

test for scalar case
  tests/test_model_graph.py
Due: no-relative-imports

dim info with empty tuples
  pymc/model_graph.py
Due: no-relative-imports

test square None dim case and change scalar expected
  tests/test_model_graph.py
Due: no-relative-imports

change sizes to lengths
  pymc/model_graph.py
  tests/test_model_graph.py
Due: no-relative-imports

use resized banners 910x483
  .github/config.yml
Due: none

Add Oriol's comments
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

type check instead of attr check
  pymc/sampling/forward.py
Due: no-relative-imports

remove var_name parameter
  pymc/model_graph.py
Due: no-relative-imports

workthrough mypy
  pymc/model_graph.py
Due: no-relative-imports

Fix typing in `logprob.tensor`
  pymc/logprob/rewriting.py
  pymc/logprob/tensor.py
  pymc/logprob/utils.py
  scripts/run_mypy.py
Due: no-relative-imports

add integration test
  tests/sampling/test_forward.py
Due: no-relative-imports

change rendering to fit into page
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Change type checks to use is rather than =
  tests/backends/fixtures.py
  tests/variational/test_inference.py
Due: no-relative-imports

Add how to identify anchor_id
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Add link example
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Fix typo
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

use inline in generator
  pymc/model_graph.py
Due: no-relative-imports

adjust previous tests
  pymc/model_graph.py
  tests/test_model_graph.py
Due: no-relative-imports

get rid of protocol
  pymc/model_graph.py
Due: no-relative-imports

Refactor model graph and allow suppressing dim lengths (#7392)
  pymc/model_graph.py
  tests/test_model_graph.py
Due: no-relative-imports

also test if trace has same len but dim set to diff len
  tests/sampling/test_forward.py
Due: no-relative-imports

comment wording
  tests/sampling/test_forward.py
Due: no-relative-imports

Do not consider dims without coords volatile if length has not changed (#7381)
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
