Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/examples/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.5.4
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
- repo: https://github.com/PyCQA/isort
  rev: 5.6.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
    - id: pyupgrade
      args: [--py36-plus]
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)
      types: [jupyter]
    - id: check-toc
      entry: python scripts/check_toc_is_complete.py
      language: python
      name: Check all notebooks appear in table of contents
      types: [jupyter]
    - id: check-no-tests-are-ignored
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-to-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$
      language: python
      name: Generate pip dependency from conda
      pass_filenames: false
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Add more comprehensive bound check for impossible parameters
  pymc3/distributions/discrete.py
Due: no-relative-imports

Used np.swapaxes to take transpose
  pymc3/distributions/multivariate.py
Due: no-relative-imports

Fix bounds for logcdf of DiscreteUniform
  pymc3/distributions/discrete.py
Due: no-relative-imports

:pencil2: Normal Dist PDF slight update on where conditional
  docs/source/developer_guide.rst
Due: none

:pencil2: Change evaluated at to 3rd operand and minor update
  docs/source/developer_guide.rst
Due: none

Add safe values/ parameters for `BetaBinomial`, `Poisson`, and `HyperGeometric` to avoid errors when evaluating negative logcdfs.
  pymc3/distributions/discrete.py
Due: no-relative-imports

Change `check_selfconsistency_discrete_logcdf` to work with negative domains, such as the DiscreteUniform.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Fix cutoff value in `log1mexp` and redundant reimplementation in `Exponential.logcdf()`
  pymc3/distributions/continuous.py
  pymc3/math.py
Due: no-relative-imports

Get more digits :)
  pymc3/math.py
Due: no-relative-imports

Given a mention in release notes
  RELEASE-NOTES.md
Due: none

Fix MatrixNormal.random (#4368)
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Update JAX imports
  pymc3/sampling_jax.py
Due: no-relative-imports

Update Theano-PyMC version
  requirements.txt
Due: none

Update RandomStream imports and arguments
  pymc3/tests/helpers.py
  pymc3/theanof.py
  pymc3/variational/opvi.py
Due: no-relative-imports

Update use of theano.config.change_flags in pymc3.tests.test_variational_inference
  pymc3/tests/test_variational_inference.py
Due: no-relative-imports

Fix pymc3 to work with latest theano-pymc master (#4382)
  pymc3/sampling_jax.py
  pymc3/tests/helpers.py
  pymc3/tests/test_variational_inference.py
  pymc3/theanof.py
  pymc3/variational/opvi.py
  requirements.txt
Due: no-relative-imports

Raise TypeError in logcdf methods that only accept scalar values. Fix docstring formatting.
  pymc3/distributions/discrete.py
Due: no-relative-imports

less strict pin
  conda-envs/environment-dev-py37.yml
  requirements-dev.txt
Due: conda-env-sort, pip-to-conda

Small change to logcdf methods of `DiscreteWeibull` and `ZeroInflated` making use of `tt.log1p` and `logaddexp`. More informative comment on workaround for `Poisson.logcdf`.
  pymc3/distributions/discrete.py
Due: no-relative-imports

try 1.15 pin
  conda-envs/environment-dev-py37.yml
  requirements-dev.txt
Due: conda-env-sort, pip-to-conda

Implement logcdf method for discrete distributions (#4387)
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

try pinning pandas and scipy too
  conda-envs/environment-dev-py37.yml
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-to-conda

only test betabinom if scipy modern enough
  .codecov.yml
  .github/workflows/arviz_compat.yml
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Update legibility of formula to proper Latex Format (#4390)
  docs/source/developer_guide.rst
Due: none

Remove redundant reimplementation in Weibull
  pymc3/distributions/continuous.py
  pymc3/math.py
Due: no-relative-imports

Tiny rewrite to use `|` instead of `tt.or_`. Remove TODO comments.
  pymc3/distributions/continuous.py
Due: no-relative-imports

Change `check_logcdf` to test that values below or above domain are properly evaluated. Fix issues with `Uniform`, `HalfNormal`, `Gamma`, and `InverseGamma` distributions.
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Add multiple value test for logcdf. Add more informative comment for Gamma and InverseGamma hack. Update Release note.
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Update release note
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
Due: no-relative-imports

Update docstrings with valid value types
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

Add more informative comments and remove TODO
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

TypeError: format -> f-strings
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
Due: no-relative-imports

Ignore finite upper limit in Nat domains. Move new checks to `check_logcdf`.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Use `tt.switch` in `DiscreteUniform` for hard boundary (addresses previously failing test in 32bit OS)
  pymc3/distributions/discrete.py
Due: no-relative-imports

Update `log1mexp` and remove redundant local reimplementations in the library (#4394)
  pymc3/distributions/continuous.py
  pymc3/math.py
Due: no-relative-imports

Increase unittest `check_logcdf` coverage and fix issues with some distribution methods (#4393)
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Pass entire shape to MvNormal
  pymc3/distributions/timeseries.py
Due: no-relative-imports

Update docstring for GaussianRandomWalk._random()
  pymc3/distributions/timeseries.py
Due: no-relative-imports
