Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Add workflow to publish release notes directly to discourse
  .github/workflows/publish-release-notes-to-discourse.yml
  pyproject.toml
  scripts/publish_release_notes_to_discourse.py
Due: none

pre-commit checks
  pymc/gp/cov.py
Due: none

Matern Covariance Documentation
  pymc/gp/cov.py
Due: none

Convert mu to TensorVariable in Normal
  pymc/distributions/continuous.py
Due: none

Bump PyTensor dependency
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Implement xarray like semantics in dims module
  .github/workflows/tests.yml
  pymc/data.py
  pymc/dims/__init__.py
  pymc/dims/distributions/__init__.py
  pymc/dims/distributions/core.py
  pymc/dims/distributions/scalar.py
  pymc/dims/distributions/vector.py
  pymc/dims/math.py
  pymc/dims/model.py
  pymc/distributions/continuous.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/initial_point.py
  pymc/logprob/basic.py
  pymc/logprob/rewriting.py
  pymc/logprob/utils.py
  pymc/math.py
  pymc/model/transform/conditioning.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/testing.py
  pyproject.toml
  tests/dims/__init__.py
  tests/dims/distributions/__init__.py
  tests/dims/distributions/test_core.py
  tests/dims/distributions/test_scalar.py
  tests/dims/distributions/test_vector.py
  tests/dims/test_model.py
  tests/dims/utils.py
  tests/distributions/test_continuous.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_shape_utils.py
  tests/sampling/test_forward.py
  tests/test_initial_point.py
  tests/test_pytensorf.py
Due: check-no-tests-are-ignored

Allow registering XTensorVariables directly in model
  pymc/dims/__init__.py
  pymc/dims/distributions/core.py
  pymc/dims/distributions/transforms.py
  pymc/dims/model.py
  pymc/initial_point.py
  pymc/logprob/basic.py
  pymc/logprob/rewriting.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/step_methods/metropolis.py
  tests/dims/test_model.py
  tests/dims/utils.py
Due: none

Implement Dim ZeroSumNormal
  pymc/dims/distributions/transforms.py
  pymc/dims/distributions/vector.py
  pymc/distributions/multivariate.py
  tests/dims/distributions/test_vector.py
  tests/dims/test_model.py
Due: none

Allow Dim version of simple SymbolicRandomVariables
  pymc/dims/distributions/scalar.py
  pymc/distributions/distribution.py
  tests/dims/distributions/test_scalar.py
Due: none

Arviz don't fail hard on incompatible coordinate lengths
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
Due: none

Tweaks to model_graph to play nice with XTensorVariables
  pymc/model_graph.py
Due: none

Core notebook on dims module
  docs/source/learn/core_notebooks/dims_module.ipynb
Due: no-internal-links

List dims module functionality in the docs
  docs/source/api.rst
  docs/source/api/dims.rst
  docs/source/api/dims/distributions.rst
  docs/source/api/dims/math.rst
  docs/source/api/dims/model.rst
  docs/source/api/dims/transforms.rst
  docs/source/learn/core_notebooks/dims_module.ipynb
  docs/source/learn/core_notebooks/index.md
Due: no-internal-links

Fix release_notes_to_discourse script
  scripts/publish_release_notes_to_discourse.py
Due: none

fix the docstring latex
  pymc/distributions/multivariate.py
Due: none

use the inline notation
  pymc/distributions/multivariate.py
Due: none

Fix ICAR docstring latex
  pymc/distributions/multivariate.py
Due: none

use latex for LKJCorr
  pymc/distributions/multivariate.py
Due: none

add model_to_mermaid to docs
  docs/source/api/model/core.rst
Due: no-internal-links

Isolate discourse Github environment
  .github/workflows/publish-release-notes-to-discourse.yml
Due: none

sort the functions
  docs/source/api/model/core.rst
Due: no-internal-links

Show more digits of step size in progress_bar
  pymc/step_methods/hmc/nuts.py
Due: none

Fix for #7369: return scalar for sampler stats
  pymc/step_methods/metropolis.py
Due: none

Prepare for merge
  pymc/model_graph.py
Due: none

Publish release notes to News category
  .github/workflows/publish-release-notes-to-discourse.yml
Due: none
