Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Drop divergence_message sample stat in drop_warning_stat
  pymc/util.py
  tests/test_util.py
Due: none

Add tests in more places
  pymc/model/transform/transforms.py
  tests/test_root_namespace.py
Due: none

Reserve chain/draw names
  pymc/model/core.py
  tests/model/test_core.py
Due: none

Bump min pytensor version
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Split the Trainer into a follow-up PR; share the loader test helper
  docs/source/api/vi.rst
  pymc/variational/__init__.py
  pymc/variational/streaming.py
  tests/variational/streaming_helpers.py
  tests/variational/test_streaming.py
  tests/variational/test_streaming_autosize.py
Due: no-internal-links

Add the streaming Trainer (stacked on the DataLoader PR)
  .github/workflows/tests.yml
  docs/source/api/vi.rst
  pymc/variational/__init__.py
  pymc/variational/streaming.py
  tests/variational/test_streaming_trainer.py
Due: check-no-tests-are-ignored, no-internal-links

Add link to code of conduct violation reporting form
  CODE_OF_CONDUCT.md
Due: none

Address review comments
  pymc/model/transform/transforms.py
Due: none

Add link to code of conduct violation reporting form (#8332)
  CODE_OF_CONDUCT.md
Due: none

actual human edits
  docs/source/learn/core_notebooks/index.md
  docs/source/learn/core_notebooks/pytensor_compilation.md
Due: no-internal-links

run pre-commit to fix things
  docs/source/learn/core_notebooks/pytensor_compilation.md
Due: no-internal-links

Fix ZeroSumTransform logp for non-trailing zero-sum axes
  pymc/distributions/transforms.py
  pymc/logprob/transform_value.py
  tests/distributions/test_multivariate.py
Due: none

fix: ensure raveled array uses float64 dtype in DictToArrayBijection (closes #8337)
  pymc/blocking.py
Due: none

Add docs
  pymc/model/transform/transforms.py
Due: none

Move transforms.py to transform_values.py, remove from __init__.py, add docs API entries
  docs/source/api/model.rst
  docs/source/api/model/transform_values.rst
  pymc/__init__.py
  pymc/model/transform_values.py
  tests/model/test_transform_values.py
  tests/test_root_namespace.py
Due: no-internal-links

Update CI test path after rename to test_transform_values.py
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Remove constrain/unconstrain_values from _EXPLICIT_ROOT_NAMES
  tests/test_root_namespace.py
Due: none

Implement `constrain_values` and `unconstrain_values` utility (#8327)
  .github/workflows/tests.yml
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  docs/source/api/model.rst
  docs/source/api/model/transform_values.rst
  pymc/model/transform_values.py
  requirements-dev.txt
  requirements.txt
  tests/model/test_transform_values.py
Due: check-no-tests-are-ignored, pip-from-conda, no-internal-links

Add dims support to LatentKron GP prior
  pymc/gp/gp.py
  tests/gp/test_gp.py
Due: none

Model fgraph: move name and dims into Op
  pymc/model/fgraph.py
  pymc/model/transform/basic.py
  pymc/model/transform/conditioning.py
  pymc/model/transform/optimization.py
  pymc/pytensorf.py
  tests/model/test_fgraph.py
Due: none

Fix Interpolated logp for batched size with scipy 1.18
  pymc/distributions/continuous.py
Due: none

Handle pytest deprecation
  tests/backends/test_arviz.py
Due: none

Add assert_equivalent_model from pymc-extras
  pymc/testing.py
Due: none

update installation instructions
  docs/source/installation.md
Due: no-internal-links

Omit unneeded explainations
  docs/source/installation.md
Due: no-internal-links

Add note on using conda for certain situations
  docs/source/installation.md
Due: no-internal-links

Apply suggestion from @ricardoV94
  docs/source/installation.md
Due: no-internal-links

Update installation instructions to use pip
  docs/source/installation.md
Due: no-internal-links

docs: trim PyTensor compilation guide to overview level
  docs/source/learn/core_notebooks/pytensor_compilation.md
Due: no-internal-links

docs: clarify pm.Data mutability and recompilation trade-off
  docs/source/learn/core_notebooks/pytensor_compilation.md
Due: no-internal-links

docs: broaden intro motivation bullet list
  docs/source/learn/core_notebooks/pytensor_compilation.md
Due: no-internal-links

Recognize affine functions of independent Gaussians as MvNormal logp
  pymc/logprob/__init__.py
  pymc/logprob/gaussian.py
  tests/logprob/test_gaussian.py
Due: none

Add utility to extract and reinsert deterministics
  .github/workflows/tests.yml
  docs/source/api/model.rst
  docs/source/api/model/deterministics.rst
  pymc/model/transform/deterministic.py
  tests/model/transform/test_deterministic.py
Due: check-no-tests-are-ignored, no-internal-links

Make transform utilities discoverable in pymc.model.transform
  docs/source/api/model/conditioning.rst
  docs/source/api/model/deterministics.rst
  docs/source/api/model/optimization.rst
  pymc/model/transform/__init__.py
  pymc/model/transform/conditioning.py
  pymc/model/transform/optimization.py
Due: no-internal-links
