Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)

check-toc:
  entry: python scripts/check_toc_is_complete.py
  language: python
  name: Check all notebooks appear in table of contents

check-no-tests-are-ignored:
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-to-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda
  pass_filenames: false

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Worked on suggestions
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

make sure weights always sum up to 1, fix #4369
  pymc3/smc/smc.py
Due: no-relative-imports

:pushpin: Track submodule pymc-examples to main branch * Configure .gitmodules to specify branch for submodule * closes #4357
  .gitmodules
Due: none

test on oldest supported versions during end-to-end CI
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  requirements-dev.txt
  scripts/sort_conda_envs.py
  setup.py
Due: check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

Add flag to disable bounds check.
  pymc3/distributions/dist_math.py
  pymc3/model.py
Due: no-relative-imports

Move check for model and flag into single line as per @colcarrolls's suggestion.
  pymc3/distributions/dist_math.py
Due: no-relative-imports

modelcontext raises a TypeError if no model is found. Catch that.
  pymc3/distributions/dist_math.py
Due: no-relative-imports

Add comment.
  pymc3/distributions/dist_math.py
Due: no-relative-imports

Add mention in release-notes.
  RELEASE-NOTES.md
Due: none

Add test for when boundaries are disabled.
  pymc3/tests/test_dist_math.py
Due: no-relative-imports

Add flag to disable bounds check for speed-up (#4377)
  RELEASE-NOTES.md
  pymc3/distributions/dist_math.py
  pymc3/model.py
  pymc3/tests/test_dist_math.py
Due: no-relative-imports

Rename disable_bounds_check to bounds_check.
  RELEASE-NOTES.md
  pymc3/distributions/dist_math.py
  pymc3/model.py
  pymc3/tests/test_dist_math.py
Due: no-relative-imports

Rename bounds_check to check_bounds as per @ricardoV94
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/tests/test_dist_math.py
Due: no-relative-imports

Remove trailing white space.
  pymc3/model.py
Due: no-relative-imports

Added a test to signify need of transpose of cholesky matrix.
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Set default check_bounds to True.
  pymc3/model.py
Due: no-relative-imports

bounds_check -> check_bounds.
  pymc3/distributions/dist_math.py
Due: no-relative-imports

:pin: Change git submodule update command for docs/source/pymc-examples
  build_and_deploy_docs.sh
Due: none

Wording.
  RELEASE-NOTES.md
Due: none

Add Jax compilation more prominently
  README.rst
Due: none

Add PyMCon Talks link
  README.rst
Due: none

Remove a trailing whitespace
  README.rst
Due: none

Rename disable_bounds_check to check_bounds (#4378)
  RELEASE-NOTES.md
  pymc3/distributions/dist_math.py
  pymc3/model.py
  pymc3/tests/test_dist_math.py
Due: no-relative-imports

Update README.rst
  README.rst
Due: none

Add PyMCon Talks link to readme (#4381)
  README.rst
Due: none

Add Jax compilation more prominently to README (#4380)
  README.rst
Due: none

remove sd deprecation warning
  pymc3/distributions/continuous.py
  pymc3/distributions/mixture.py
  pymc3/distributions/timeseries.py
  pymc3/tests/test_glm.py
  pymc3/tests/test_models_linear.py
Due: no-relative-imports

[Proposal] Track Submodule pymc-examples Git Fix (#4375)
  .gitmodules
  build_and_deploy_docs.sh
Due: none

sd -> sigma in pymc3/tests/test_models_linear.py::TestGLM
  pymc3/tests/test_models_linear.py
Due: no-relative-imports

update cls.sd in tests
  pymc3/tests/test_glm.py
  pymc3/tests/test_models_linear.py
Due: no-relative-imports

don't delete self.sd
  pymc3/distributions/continuous.py
  pymc3/distributions/mixture.py
  pymc3/distributions/timeseries.py
Due: no-relative-imports

Use sigma instead of sd, remove deprecationwarning (#4344)
  pymc3/distributions/continuous.py
  pymc3/distributions/mixture.py
  pymc3/distributions/timeseries.py
  pymc3/tests/test_glm.py
  pymc3/tests/test_models_linear.py
Due: no-relative-imports

Implement logcdf method for discrete distributions
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

:pencil2: Normal Dist. Function updated to latex, proper * Update function to latex * Add hyperlink
  docs/source/developer_guide.rst
Due: none

Add release note
  RELEASE-NOTES.md
Due: none

Small reformatting
  pymc3/distributions/discrete.py
Due: no-relative-imports

Path conditions:
  watermark: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-toc: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/examples/data)/
  conda-env-sort: any of: ^conda-envs/ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/examples/data)/)
  pip-to-conda: any of: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$, but not: ^(docs/logos|pymc3/examples/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/examples/data)/
