Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Remove unused hack
  pymc/model/core.py
Due: none

Add mean dispatch for pymc distributions
  .github/workflows/tests.yml
  pymc/distributions/moments/__init__.py
  pymc/distributions/moments/means.py
  pymc/exceptions.py
  tests/distributions/moments/__init__.py
  tests/distributions/moments/test_means.py
Due: check-no-tests-are-ignored

Simplify Model __new__ and metaclass (#7473)
  pymc/data.py
  pymc/model/core.py
Due: none

Remove deprecated sampling_jax.py
  pymc/sampling_jax.py
  tests/sampling/test_jax.py
Due: none

Remove deprecated arguments in smc/sampling.py
  pymc/smc/sampling.py
  tests/smc/test_smc.py
Due: none

Remove deprecated zerosum_axes argument to ZeroSumNormal
  pymc/distributions/multivariate.py
Due: none

Remove deprecated assert_negative_support
  pymc/distributions/continuous.py
Due: none

Add ToC
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Allow for passing of backend and gradient_backend to nutpie
  pymc/sampling/mcmc.py
Due: none

Extract nutpie compiler args explicitly
  pymc/sampling/mcmc.py
Due: none

Allow for passing of backend and gradient_backend to nutpie (#7535)
  pymc/sampling/mcmc.py
Due: none

Fix failing test and parametrize test
  pymc/dispatch/dispatch_jax.py
  tests/dispatch/test_jax.py
Due: none

Allow access to different nutpie backends via pip-style syntax
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

Update pm.sample docstring
  pymc/sampling/mcmc.py
Due: none

`importorskip` nutpie backend test
  tests/sampling/test_mcmc_external.py
Due: none

Make mypy happy
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Due: none

Add ZarrTrace
  .github/workflows/tests.yml
  pymc/backends/zarr.py
  requirements.txt
  tests/backends/test_zarr.py
Due: check-no-tests-are-ignored

governance related cleanup
  GOVERNANCE.md
Due: none

Change order of arguments in `get_related_valued_nodes`
  pymc/logprob/basic.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/transform_value.py
  pymc/logprob/utils.py
Due: none

Derive matmul probability
  .github/workflows/tests.yml
  pymc/logprob/__init__.py
  pymc/logprob/abstract.py
  pymc/logprob/linalg.py
  pymc/logprob/rewriting.py
  tests/logprob/test_linalg.py
Due: check-no-tests-are-ignored

Only allow measurable transpositions in univariate Elemwise chains or direct valued nodes
  pymc/logprob/tensor.py
  pyproject.toml
  tests/logprob/test_tensor.py
Due: none

Unorphan the model transform doc page
  docs/source/api/model.rst
Due: no-internal-links

Add ZarrTrace
  .github/workflows/tests.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/backends/zarr.py
  requirements-dev.txt
  requirements.txt
  tests/backends/test_zarr.py
Due: check-no-tests-are-ignored, pip-from-conda

Make drop_warning_stat work with flat stat names for compound steps
  pymc/util.py
Due: none

Integrate ZarrTrace into pymc.sample
  pymc/backends/__init__.py
  pymc/sampling/mcmc.py
  tests/backends/test_zarr.py
Due: none

port label sync from pymc-marketing
  .github/workflows/pr-auto-label.yml
Due: none

use published action
  .github/workflows/pr-auto-label.yml
Due: none

add likely labels
  .github/workflows/pr-auto-label.yml
Due: none

Automatically label PRs based on *closing* issues (#7547)
  .github/workflows/pr-auto-label.yml
Due: none

Do not use MeasurableCheckAndRaise Op in logp
  pymc/logprob/checks.py
Due: none
