Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.10.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: no-print-statements
      files: ^pymc3/
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/environment-dev-py37\.yml$
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Rename pymc3 to pymc in conda test envs
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-test-py38.yml
Due: pip-from-conda

Add LBS podcast to resources
  README.rst
Due: none

Make prior pred return inference data
  pymc/sampling.py
Due: no-relative-imports

Fix dependencies in requirements-dev.txt
  requirements-dev.txt
Due: none

Fix pre-commit one more time
  requirements-dev.txt
Due: none

Fix dependencies in conda files
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  requirements-dev.txt
Due: pip-from-conda

update and reduce environment files
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda

unpin pandas
  conda-envs/environment-test-py37.yml
Due: pip-from-conda

Fix dependencies in requirements-dev.txt (#5070)
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda

fix merge issue
  docs/source/glossary.md
Due: none

Glossary - Dispersion terms (#4984)
  docs/source/glossary.md
Due: none

GLM glossary term
  docs/source/glossary.md
Due: none

address comments and fix syntax
  docs/source/glossary.md
Due: none

config sphinx to parse dollar math syntax
  docs/source/conf.py
Due: no-relative-imports

GLM glossary term (#5047)
  docs/source/conf.py
  docs/source/glossary.md
Due: no-relative-imports

Add MC-related and ODE defintions
  docs/source/glossary.md
Due: none

double acronyms and add a couple links
  docs/source/glossary.md
Due: none

[CU-a73n08, Docs] Glossary - Add MC-related and ODE definitions (#5038)
  docs/source/glossary.md
Due: none

Made changes to formula for Bayes theorem
  docs/source/glossary.md
Due: none

Added made changes to glossary.md
  docs/source/glossary.md
Due: none

fix syntax and conflicts
  docs/source/glossary.md
Due: none

Add terms to the glossary (#5014)
  docs/source/glossary.md
Due: none

requirements changes
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda

Update parallel_sampling.py
  pymc/parallel_sampling.py
Due: no-relative-imports

fix error with nans
  pymc/tests/test_variational_inference.py
  pymc/variational/inference.py
Due: no-relative-imports

remove TODO comments
  pymc/variational/opvi.py
Due: no-relative-imports

Add Thomas' change
  README.rst
Due: none

Add Osvaldo's suggestion
  pymc/sampling.py
Due: no-relative-imports

print statements to logging
  pymc/__init__.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Change order
  README.rst
Due: none

Set return_inferencedata to True by default instead of None
  pymc/sampling.py
Due: no-relative-imports

deprecator
  pymc/distributions/continuous.py
  pymc/tests/test_util.py
  pymc/util.py
Due: no-relative-imports

Make posterior pred return inference data
  pymc/sampling.py
Due: no-relative-imports

revert bart test
  pymc/tests/test_bart.py
Due: no-relative-imports

Make posterior_predictive_w return inference data
  pymc/sampling.py
Due: no-relative-imports

Add release note
  RELEASE-NOTES.md
Due: none

Stop caching initial points and wrap function creation
  pymc/model.py
Due: no-relative-imports

Remove XFAIL mark on passing tests
  pymc/tests/test_distributions_random.py
  pymc/tests/test_sampling.py
Due: no-relative-imports
