Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.10.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: no-print-statements
      files: ^pymc3/
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/environment-dev-py37\.yml$
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

remove save_trace and load_trace function
  pymc/__init__.py
  pymc/backends/__init__.py
  pymc/backends/ndarray.py
  pymc/tests/test_ndarray_backend.py
Due: no-relative-imports

fix pre-commit error, change imports to inline
  pymc/__init__.py
  pymc/backends/__init__.py
Due: no-relative-imports

remove save_trace and load_trace function (#5123)
  pymc/__init__.py
  pymc/backends/__init__.py
  pymc/backends/ndarray.py
  pymc/tests/test_ndarray_backend.py
Due: no-relative-imports

put content in videos and podcasts section. Change formatting of testimonials (width of 2 cards for better formating in narrow screens)
  docs/source/index.md
  docs/source/learn/videos_and_podcasts.md
Due: none

add code example to front page
  docs/source/index.md
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

revise some definitions
  docs/source/glossary.md
Due: none

fix pylint config
  .pre-commit-config.yaml
Due: none

fix pre-commit
  pymc/__init__.py
  pymc/backends/ndarray.py
  pymc/distributions/distribution.py
  pymc/model.py
  pymc/sampling.py
  pymc/step_methods/mlda.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_logprob.py
  pymc/tests/test_model.py
  pymc/tests/test_ndarray_backend.py
  pymc/tests/test_step.py
  pymc/tests/test_types.py
Due: no-relative-imports

Update and extend governance [WIP] (#4980)
  GOVERNANCE.md
  docs/community_diagram.png
Due: none

Fix pylint and pre-commit (#5128)
  .pre-commit-config.yaml
  pymc/__init__.py
  pymc/backends/ndarray.py
  pymc/distributions/distribution.py
  pymc/model.py
  pymc/sampling.py
  pymc/step_methods/mlda.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_logprob.py
  pymc/tests/test_model.py
  pymc/tests/test_ndarray_backend.py
  pymc/tests/test_step.py
  pymc/tests/test_types.py
Due: no-relative-imports

Add cumsum logprob
  aeppl/__init__.py
  aeppl/cumsum.py
  tests/test_cumsum.py
Due: no-relative-imports

roll back mkl and mkl-service version
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
Due: pip-from-conda

fix precommit
  pymc/gp/gp.py
  pymc/gp/util.py
Due: no-relative-imports

remove old DeprecationWarning
  pymc/gp/gp.py
Due: no-relative-imports

Update Aesara dependency and add regression test for #5090
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/tests/test_initial_point.py
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

update release notes
  RELEASE-NOTES.md
Due: none

remove unused import
  pymc/bart/utils.py
Due: no-relative-imports

Add optional rng argument to Metropolis Proposals
  pymc/step_methods/metropolis.py
Due: no-relative-imports

Use model.recompute_initial_point in SMC
  pymc/smc/smc.py
Due: no-relative-imports

Use random number generator seeding in SMC
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
  pymc/tests/helpers.py
  pymc/tests/test_smc.py
Due: no-relative-imports

BART: add partial dependence plots and individual conditional expectation plots (#5091)
  RELEASE-NOTES.md
  pymc/bart/__init__.py
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/bart/utils.py
  pymc/sampling.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Do not compare arrays with strings in `initial_point::make_initial_point_expression`
  pymc/initial_point.py
  pymc/tests/test_initial_point.py
Due: no-relative-imports

Fix minor typos (#5110)
  docs/source/developer_guide_implementing_distribution.md
Due: none

improve tests
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Due: no-relative-imports

fix pre-commit issue
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Due: no-relative-imports

fix precommit on cov.py
  pymc/gp/cov.py
Due: no-relative-imports

Partially revert #5131
  pymc/step_methods/metropolis.py
Due: no-relative-imports

clarification to election nominations
  GOVERNANCE.md
Due: none

Add tests for distribution moments
  .github/workflows/pytest.yml
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/shape_utils.py
  pymc/tests/test_distributions_moments.py
Due: check-no-tests-are-ignored, no-relative-imports

revert previous changes and remove functions based on 3.11
  pymc/backends/ndarray.py
  pymc/backends/tracetab.py
  pymc/tests/test_tracetab.py
Due: no-relative-imports

fix trace_to_dataframe test
  pymc/tests/test_sampling.py
Due: no-relative-imports
