Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Add model debug helper
  pymc/model.py
  tests/test_model.py
Due: no-relative-imports

Don't use `check_parameters` in `get_tau_sigma`.
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

update links to sponsor images
  README.rst
Due: none

Added ICDF for the continuous exponential distribution.
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Removed redundant out of bounds parameter tests.
  tests/distributions/test_continuous.py
Due: no-relative-imports

install theme from conda (#6639)
  conda-envs/environment-docs.yml
Due: none

fix docstrings for censored and timeseries (#6638)
  docs/source/conf.py
  docs/source/glossary.md
  pymc/distributions/censored.py
  pymc/distributions/timeseries.py
Due: no-relative-imports, no-internal-links

Add more type hints to distribution parameter
  pymc/distributions/continuous.py
Due: no-relative-imports

Added ICDF for the continuous exponential distribution. (#6641)
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

- Float masked arrays are filled with nan when passed to pm.Data() and pm.Model().set_data() - Integer masked arrays trigger an error message and provide suggested alternatives
  pymc/data.py
  pymc/model.py
  pymc/pytensorf.py
  tests/test_data.py
  tests/test_model.py
  tests/test_pytensorf.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config (#6624)
  .pre-commit-config.yaml
Due: none

add video for resource
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Automatic imputation support when observed=pm.Data()
  pymc/model.py
  tests/test_model.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

added tranform classes for sinh cosh and tanh
  pymc/logprob/transforms.py
Due: no-relative-imports

cleaned up if block in find_measurable_transform
  pymc/logprob/transforms.py
Due: no-relative-imports

Raise warning if RVs are present in derived probability graphs
  pymc/logprob/basic.py
  tests/logprob/test_basic.py
Due: no-relative-imports

Add Gitpod video to contributing page (#6646)
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Add timestamps to list of possible contributions (#6623)
  docs/source/contributing/index.md
Due: none

references to pymc.mvstudentt and similar weren't rendering correctly, fixed
  pymc/gp/gp.py
Due: no-relative-imports

implementing Oriol's suggestions
  pymc/gp/gp.py
Due: no-relative-imports

Revert "Implement icdf for Univariate distribution (#6528)"
  pymc/distributions/continuous.py
  pymc/testing.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

second attempt to fix duplication errors
  pymc/gp/gp.py
Due: no-relative-imports

Revert "Revert "Implement icdf for Univariate distribution (#6528)""
  pymc/distributions/continuous.py
  pymc/testing.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Update links to contributing guide
  .github/config.yml
Due: none

Add welcome bot (#6602)
  .github/config.yml
Due: none

a fresh file that contains all gp doc changes
  pymc/gp/gp.py
Due: no-relative-imports

Improve docstrings in GP module (#6652)
  pymc/gp/gp.py
Due: no-relative-imports

Add all_tests job to be used as single requirement
  .github/workflows/tests.yml
Due: none

Add Type Hints to distribution parameters (#6635)
  pymc/distributions/continuous.py
Due: no-relative-imports

Fix changed files filters in tests workflow
  .github/workflows/tests.yml
Due: none

Restore categorical order in Distributions
  docs/source/api/distributions.rst
Due: no-internal-links

Updating api docs
  docs/source/api/distributions.rst
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/transforms.rst
  docs/source/api/distributions/utilities.rst
Due: no-internal-links
