Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Keep find_MAP's dict return and unjittered start as defaults, with a FutureWarning
  pymc/model/transform/conditioning.py
  pymc/optimization/map.py
  pymc/optimization/scipy_interface.py
  pymc/sampling/mcmc.py
  tests/distributions/test_truncated.py
  tests/gp/test_gp.py
  tests/model/transform/test_conditioning.py
  tests/optimization/test_map.py
  tests/sampling/test_mcmc.py
Due: none

Port find_MAP from pymc-extras and align it with pm.sample
  .github/workflows/tests.yml
  ARCHITECTURE.md
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/gp/gp.py
  pymc/model/transform/conditioning.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/tuning/scipy_interface.py
  pymc/tuning/starting.py
  pyproject.toml
  requirements-dev.txt
  tests/distributions/test_truncated.py
  tests/gp/test_gp.py
  tests/model/transform/test_conditioning.py
  tests/sampling/test_mcmc.py
  tests/tuning/test_scipy_interface.py
  tests/tuning/test_starting.py
Due: check-no-tests-are-ignored, pip-from-conda

Fix canonical URLs in docs and add meta descriptions
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  docs/source/conf.py
  requirements-dev.txt
Due: pip-from-conda

Use version-aware canonical URLs from Read the Docs
  docs/source/conf.py
Due: none

Warm the compile cache before comparing parallel and sequential ZarrTrace sampling
  tests/backends/test_zarr.py
Due: none

Keep test_sampling_consistency as xfail and link the numba issue
  tests/backends/test_zarr.py
Due: none

docs: make examples gallery link more prominent on core notebooks page
  docs/source/learn/core_notebooks/index.md
Due: none

style: trim trailing whitespace
  docs/source/learn/core_notebooks/index.md
Due: none
