Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

changes till 13th November
  pymc/distributions/multivariate.py
  pymc/logprob/abstract.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
Due: no-relative-imports

Solving merge conflicts
  pymc/logprob/utils.py
Due: no-relative-imports

Tests for Meta_info addedand rebased
  pymc/logprob/mixture.py
  tests/logprob/test_mixture.py
Due: no-relative-imports

Finalising
  pymc/logprob/abstract.py
  pymc/logprob/mixture.py
  pymc/logprob/order.py
  pymc/logprob/scan.py
  tests/logprob/test_mixture.py
  tests/logprob/test_order.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/utils.py
Due: no-relative-imports

Tests for Meta_info added
  pymc/logprob/abstract.py
  scripts/run_mypy.py
  tests/logprob/test_binary.py
  tests/logprob/test_censoring.py
  tests/logprob/test_checks.py
  tests/logprob/test_cumsum.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/test_transforms.py
  tests/logprob/utils.py
Due: no-relative-imports

Adding metainfo
  pymc/logprob/abstract.py
  pymc/logprob/binary.py
  pymc/logprob/censoring.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  pymc/logprob/transforms.py
  tests/logprob/test_abstract.py
  tests/logprob/test_checks.py
Due: no-relative-imports

Use multiple inheritance for measurable meta info
  pymc/logprob/abstract.py
  pymc/logprob/binary.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  pymc/logprob/transforms.py
Due: no-relative-imports

Acc to latest code
  pymc/logprob/abstract.py
  pymc/logprob/binary.py
  pymc/logprob/censoring.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
Due: no-relative-imports

Pytest formatting
  tests/logprob/test_checks.py
Due: no-relative-imports

Errors in order, mixture, scan
  pymc/logprob/order.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
  tests/logprob/utils.py
Due: no-relative-imports

Solve pre-commit issues
  pymc/logprob/abstract.py
  pymc/logprob/scan.py
  tests/logprob/test_tensor.py
  tests/logprob/utils.py
Due: no-relative-imports

Added intro to Transformations docs; tweaked autosummary for transforms; adjusted deprecation info
  docs/source/api/distributions/transforms.rst
  pymc/distributions/transforms.py
Due: no-relative-imports, no-internal-links

Replace fastprogress with rich
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/stats/log_density.py
  pymc/tuning/starting.py
  pymc/variational/inference.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda, no-relative-imports

Bugfixes for ADVI progress bars
  pymc/smc/sampling.py
  pymc/variational/inference.py
Due: no-relative-imports

Bugfixes for MAP progress bars
  pymc/tuning/starting.py
Due: no-relative-imports

Add graphic for contributors.
  README.rst
Due: none

Error in idata.posterior variable
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

Add link example
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Fix typo
  docs/source/contributing/jupyter_style.md
Due: no-internal-links

Fixed final update to progress bar
  pymc/sampling/mcmc.py
Due: no-relative-imports

SMC progress bar working
  pymc/sampling/forward.py
  pymc/smc/sampling.py
Due: no-relative-imports

Fixes to MAP progress bar
  pymc/tuning/starting.py
Due: no-relative-imports

fix error in gp.prior
  pymc/gp/gp.py
  tests/gp/test_gp.py
Due: no-relative-imports

Customize progress bar theme
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/smc/sampling.py
  pymc/tuning/starting.py
  pymc/variational/inference.py
Due: no-relative-imports

Added progressbar_theme argument
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/smc/sampling.py
  pymc/tuning/starting.py
  pymc/variational/inference.py
Due: no-relative-imports

Clarifying use of transform kwarg as distinct from default_transform to address review comment
  docs/source/api/distributions/transforms.rst
Due: no-internal-links

Make coords and data always mutable
  pymc/data.py
  pymc/gp/hsgp_approx.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model_graph.py
  pymc/sampling/forward.py
  tests/backends/test_arviz.py
  tests/backends/test_mcbackend.py
  tests/distributions/test_shape_utils.py
  tests/distributions/test_timeseries.py
  tests/model/test_core.py
  tests/model/test_fgraph.py
  tests/model/transform/test_basic.py
  tests/model/transform/test_conditioning.py
  tests/sampling/test_forward.py
  tests/sampling/test_jax.py
  tests/sampling/test_mcmc_external.py
  tests/test_data.py
  tests/test_model_graph.py
  tests/test_printing.py
  tests/variational/test_minibatch_rv.py
Due: no-relative-imports

Implement model transform that freezes RV dims and Data
  .github/workflows/tests.yml
  docs/source/api/model/conditioning.rst
  docs/source/api/model/transform.rst
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model/transform/optimization.py
  tests/model/transform/test_optimization.py
Due: check-no-tests-are-ignored, no-relative-imports, no-internal-links

Allow defining mode from compile_* functions
  pymc/model/core.py
Due: no-relative-imports

Moved default progressbar theme to util
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/tuning/starting.py
  pymc/util.py
  pymc/variational/inference.py
Due: no-relative-imports

Convert compute_log_density to use Progress instead of track
  pymc/stats/log_density.py
Due: no-relative-imports

Getting rid of mypy complaint
  pymc/sampling/parallel.py
Due: no-relative-imports

Replace fastprogress progress bars with rich (#7233)
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/stats/log_density.py
  pymc/tuning/starting.py
  pymc/util.py
  pymc/variational/inference.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda, no-relative-imports

Make default STEP_METHODS a list that can be modified
  pymc/step_methods/__init__.py
  tests/sampling/test_mcmc.py
  tests/step_methods/test_compound.py
Due: no-relative-imports

Bump PyTensor version and drop Python 3.9
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/pytensorf.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

Bump mypy target python version
  mypy.ini
Due: none

Fix UP007 (Typealias Unions and Optionals)
  pymc/backends/__init__.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  pymc/model/transform/basic.py
  pymc/pytensorf.py
  pymc/util.py
Due: no-relative-imports

Fix RUF007 (itertools.pairwise)
  pymc/distributions/mixture.py
  tests/distributions/test_discrete.py
Due: no-relative-imports

Fix UP038 (isinstance(..., X | Y))
  pymc/backends/arviz.py
  pymc/distributions/censored.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  pymc/gp/util.py
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/logprob/binary.py
  pymc/logprob/mixture.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model/transform/basic.py
  pymc/model/transform/conditioning.py
  pymc/ode/ode.py
  pymc/ode/utils.py
  pymc/printing.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
  pymc/util.py
  pymc/variational/minibatch_rv.py
  pymc/variational/opvi.py
  tests/backends/test_arviz.py
  tests/distributions/test_simulator.py
  tests/logprob/test_basic.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/test_model_graph.py
  tests/test_pytensorf.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
