Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Compatibility with pytensor 3.1
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/data.py
  pymc/distributions/custom.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/timeseries.py
  pymc/logprob/abstract.py
  pymc/logprob/mixture.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  pymc/logprob/transform_value.py
  pymc/logprob/utils.py
  pymc/math.py
  pymc/model/fgraph.py
  pymc/model/transform/deterministic.py
  pymc/ode/ode.py
  pymc/variational/minibatch_rv.py
  requirements-dev.txt
  requirements.txt
  tests/distributions/test_truncated.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
  tests/test_pytensorf.py
Due: pip-from-conda

Declare ndim_supp on value transforms
  pymc/distributions/transforms.py
  pymc/logprob/transforms.py
Due: none

Implement icdf for Bernoulli
  pymc/distributions/discrete.py
  tests/distributions/test_discrete.py
Due: none

Implement dims.DiracDelta
  docs/source/api/dims/distributions.rst
  pymc/dims/distributions/scalar.py
  tests/dims/distributions/test_scalar.py
Due: no-internal-links

List Poisson and NegativeBinomial in the dims distributions API docs
  docs/source/api/dims/distributions.rst
Due: no-internal-links

add step-setup
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
Due: none

pre-commit
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
Due: none

Remove redundant DiracDelta prior predictive test
  tests/dims/distributions/test_scalar.py
Due: none

remove hasattr and loop
  pymc/sampling/mcmc.py
Due: none

Add generic Blackjax external sampler
  pymc/sampling/__init__.py
  pymc/sampling/external/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Fix mypy errors and add test_external.py to CI matrix
  .github/workflows/tests.yml
  pymc/sampling/external/blackjax.py
Due: check-no-tests-are-ignored

Fix jax backend initialization order breaking pmap parallel chains
  pymc/sampling/external/blackjax.py
  tests/sampling/test_external.py
Due: none

Expose pm.external as a root module import
  pymc/__init__.py
  pymc/sampling/__init__.py
Due: none

merge set_rng function to setup_chain, which handles passing draws and tune as well as chain rng
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
Due: none

Don't import matplotlib to understand red
  pymc/progress_bar/rich_progress.py
Due: none

Install jax from pip
  conda-envs/environment-alternative-backends.yml
Due: none

fix pre-commit...
  pymc/step_methods/compound.py
Due: none

Allow free-threaded parallel sampling
  .github/workflows/tests.yml
  pymc/model/core.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
  scripts/check_all_tests_are_covered.py
  setup.py
  tests/conftest.py
  tests/sampling/test_parallel.py
  tests/step_methods/test_compound.py
Due: check-no-tests-are-ignored

Add per-algorithm namespace and pm.sample argument contract
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

ci: temporary segfault instrumentation (to be reverted)
  pymc/sampling/external/blackjax.py
Due: none

Revert "Add per-algorithm namespace and pm.sample argument contract"
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Revert "ci: temporary segfault instrumentation (to be reverted)"
  pymc/sampling/external/blackjax.py
Due: none

Reapply "Add per-algorithm namespace and pm.sample argument contract"
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Reapply "ci: temporary segfault instrumentation (to be reverted)"
  pymc/sampling/external/blackjax.py
Due: none

ci: probe segfault - cap XLA CPU ISA at AVX2 and log lscpu
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Defer jax/blackjax imports out of pytest collection in test_external
  .github/workflows/tests.yml
  tests/sampling/test_external.py
Due: check-no-tests-are-ignored

Pin pyarrow<25 in alternative_backends job to avoid XLA segfault
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Remove temporary segfault instrumentation
  .github/workflows/tests.yml
  pymc/sampling/external/blackjax.py
Due: check-no-tests-are-ignored

Deprecate SumTo1 transform
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Give BlackJAX its own sampling interface
  pymc/sampling/external/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Revert "Give BlackJAX its own sampling interface"
  pymc/sampling/external/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Make external samplers own their pm.sample argument dispositions
  pymc/sampling/external/base.py
  pymc/sampling/external/blackjax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_external.py
Due: none

Add icdf skeleton for Wald distribution
  pymc/distributions/continuous.py
Due: none

Two sampler surfaces: flat entry points and pm.sample(sampler=) sugar
  .github/workflows/tests.yml
  pymc/__init__.py
  pymc/sampling/external/base.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  pymc/sampling/samplers/__init__.py
  pymc/sampling/samplers/base.py
  pymc/sampling/samplers/blackjax.py
  tests/sampling/test_external.py
  tests/sampling/test_samplers.py
Due: check-no-tests-are-ignored

Refactor existing samplers behind a shared Sampler interface
  .github/workflows/tests.yml
  pymc/__init__.py
  pymc/sampling/__init__.py
  pymc/sampling/mcmc.py
  pymc/sampling/samplers/__init__.py
  pymc/sampling/samplers/base.py
  pymc/sampling/samplers/blackjax.py
  pymc/sampling/samplers/jax_nuts.py
  pymc/sampling/samplers/numpyro.py
  pymc/sampling/samplers/nutpie.py
  pymc/sampling/samplers/step.py
  tests/sampling/test_mcmc_external.py
  tests/sampling/test_samplers.py
Due: check-no-tests-are-ignored

Reject mp_ctx/progressbar_theme with sampler=; update test_custom to new API
  pymc/sampling/mcmc.py
  tests/distributions/test_custom.py
  tests/sampling/test_samplers.py
Due: none

Fix API-equivalence regressions found in review
  pymc/sampling/samplers/base.py
  pymc/sampling/samplers/jax_nuts.py
  pymc/sampling/samplers/nutpie.py
  pymc/sampling/samplers/step.py
  tests/sampling/test_samplers.py
Due: none
