Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Cast rounded input replacement to original discrete dtype in sample_smc
  RELEASE-NOTES.md
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Update pymc/distributions/logprob.py
  pymc/distributions/logprob.py
Due: no-relative-imports

Removed t from varlogp_nojact
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Revert Release Notes
  RELEASE-NOTES.md
Due: none

Revert changes to developer guide
  docs/source/contributing/developer_guide.rst
Due: none

Added potentiallogpt test
  pymc/tests/test_model.py
Due: no-relative-imports

Added tests
  pymc/distributions/logprob.py
  pymc/model.py
  pymc/tests/test_logprob.py
  pymc/tests/test_model.py
Due: no-relative-imports

Future warning for dlogpt and d2logpt
  pymc/model.py
Due: no-relative-imports

Fix typo
  pymc/model.py
Due: no-relative-imports

Updated references to logpt, and updated varlogpt, datalogpt, joint_logpt
  pymc/backends/arviz.py
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/distributions/logprob.py
  pymc/model.py
  pymc/sampling.py
  pymc/sampling_jax.py
  pymc/smc/smc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_logprob.py
  pymc/tests/test_minibatches.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_profile.py
  pymc/tests/test_smc.py
  pymc/tests/test_transforms.py
  pymc/tuning/scaling.py
  pymc/variational/opvi.py
Due: no-relative-imports

Fix issue with d2logpt
  pymc/model.py
Due: no-relative-imports

Updated release notes for 4.0
  RELEASE-NOTES.md
  docs/source/learn/core_notebooks/pymc_aesara.ipynb
Due: none

Future warning for logpt
  pymc/model.py
Due: no-relative-imports

Updated release notes for 4.0
  RELEASE-NOTES.md
Due: none

Remove self-directing arrow in observed nodes
  pymc/model_graph.py
  pymc/tests/test_model_graph.py
Due: no-relative-imports

Added deprecation of functions/properties ending with t to release notes
  RELEASE-NOTES.md
Due: none

Convert `rng_seeder` to `random_seed`
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
Due: none

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

Remove t suffix from Model methods (#5863)
  RELEASE-NOTES.md
  docs/source/learn/core_notebooks/pymc_aesara.ipynb
  pymc/backends/arviz.py
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/distributions/logprob.py
  pymc/model.py
  pymc/sampling.py
  pymc/sampling_jax.py
  pymc/smc/smc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_logprob.py
  pymc/tests/test_minibatches.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_profile.py
  pymc/tests/test_smc.py
  pymc/tests/test_transforms.py
  pymc/tuning/scaling.py
  pymc/variational/opvi.py
Due: no-relative-imports

Pass rng directly to random_seed
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
Due: none

Use `MutableData` instead of `Data`
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
Due: none

Convert `rng_seeder` to `random_seed` in 'Prior and Posterior Predictive Checks' notebook (#5896)
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
Due: none

Update Aesara to 2.7.2
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Update clone_replace strict keyword name
  pymc/aesaraf.py
  pymc/smc/smc.py
Due: no-relative-imports

Specify owner value in GenTensorVariable
  pymc/data.py
Due: no-relative-imports

Override notebook kernel when building the docs
  docs/source/conf.py
Due: no-relative-imports

Run black on core notebooks
  .pre-commit-config.yaml
  docs/source/learn/core_notebooks/GLM_linear.ipynb
  docs/source/learn/core_notebooks/dimensionality.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  docs/source/learn/core_notebooks/pymc_aesara.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: none

rename pm.Constant to pm.DiracDelta
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

update timeseries test
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

fix diract typo
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Add jupyter-sphinx dependency to dev environments
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Due: pip-from-conda

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
