Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Updated Pytest video series link
  docs/source/contributing/running_the_test_suite.md
Due: no-internal-links

Update pymc/logprob/transforms.py
  pymc/logprob/transforms.py
Due: no-relative-imports

reverted change to measurable_transform_logprob
  pymc/logprob/transforms.py
Due: no-relative-imports

Derive logprob for hyperbolic and error transformations (#6664)
  pymc/logprob/transforms.py
  tests/distributions/test_transform.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Add logprob inference for not operations (#6689)
  pymc/logprob/binary.py
  tests/logprob/test_binary.py
Due: no-relative-imports

Added scale parameterization to `Exponential` (#6677)
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Rectification in MeasurableCheckAndRaise
  pymc/logprob/checks.py
  tests/logprob/test_checks.py
Due: no-relative-imports

CHange
  pymc/logprob/checks.py
Due: no-relative-imports

Rectification in MeasurableCheckAndRaise
  pymc/logprob/checks.py
Due: no-relative-imports

Updated pymc.guess_scaling docstring
  pymc/tuning/scaling.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Remove deprecated Constant alias
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
  tests/distributions/test_discrete.py
Due: no-relative-imports

Implement Hurdle distributions
  docs/source/api/distributions/mixture.rst
  pymc/distributions/__init__.py
  pymc/distributions/mixture.py
  tests/distributions/test_mixture.py
Due: no-relative-imports, no-internal-links

Move distributions to more consistent places
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/utilities.rst
  pymc/distributions/__init__.py
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_timeseries.py
Due: no-relative-imports, no-internal-links

changing upload to trigger only with other test success
  .github/workflows/tests.yml
Due: none

generating the xml coverage file for the upload step
  .github/workflows/tests.yml
Due: none

generating partial coverage reports in each step without upload
  .github/workflows/tests.yml
Due: none

fixing bad substitutions
  .github/workflows/tests.yml
Due: none

new coverage.xml namming convention and merge definition
  .github/workflows/tests.yml
Due: none

fixing merge-reports step
  .github/workflows/tests.yml
Due: none

Add ICDF function to laplace distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Add ICDF function to pareto distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Update ZeroInflated distribution
  pymc/distributions/discrete.py
Due: no-relative-imports

type overloaded sample()
  pymc/sampling/mcmc.py
Due: no-relative-imports

Return tune information from Slice sampler
  pymc/step_methods/slicer.py
Due: no-relative-imports

Speedup Slice sampler
  pymc/step_methods/slicer.py
Due: no-relative-imports

Change logger names from all "pymc" to module name (__name__)
  pymc/__init__.py
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/backends/mcbackend.py
  pymc/backends/report.py
  pymc/distributions/simulator.py
  pymc/ode/ode.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/stats/convergence.py
  pymc/step_methods/hmc/base_hmc.py
  tests/sampling/test_forward.py
Due: no-relative-imports

breaking up the dockerfile into smaller steps
  scripts/Dockerfile
Due: none

fixed mypy
  pymc/sampling/mcmc.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
