Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Refactor init_nuts logic to decouple initialization and adaptation dispatch
  0001-refractor-created.patch
Due: none

refractor done
  pymc/sampling/mcmc.py
  pymc/tests/sampling/test_nuts.py
Due: none

delete patch file
  0001-refractor-created.patch
Due: none

Fix compute_log_prior argument handling
  pymc/stats/log_density.py
  tests/stats/test_log_density.py
Due: none

Fix compute_log_prior argument handling
  tests/stats/test_log_density.py
Due: none

Fix compute_log_prior argument handling
  pymc/stats/log_density.py
Due: none

str_repr: Accept non tensor-variables
  pymc/printing.py
Due: none

docs/source/learn: add bioassay_doseresponse
  docs/source/learn/bioassay_doseresponse/about_model.md
  docs/source/learn/bioassay_doseresponse/doseresponse.py
Due: no-internal-links

docs: add actual markdown content to about_model.md
  docs/source/learn/bioassay_doseresponse/about_model.md
Due: no-internal-links

docs: add modified markdown content to about_model.md
  .gitattributes
  docs/source/learn/bioassay_doseresponse/about_model.md
  docs/source/learn/bioassay_doseresponse/images/eq1.svg
Due: no-internal-links

docs: add modified markdown content to about_model.md
  docs/source/learn/bioassay_doseresponse/about_model.md
Due: no-internal-links

docs: add modified markdown content to about_model.md
  docs/source/learn/bioassay_doseresponse/images/eq1.svg
Due: none

docs: add modified markdown content to about_model.md
  docs/source/learn/bioassay_doseresponse/about_model.md
  docs/source/learn/bioassay_doseresponse/doseresponse.py
Due: no-internal-links

docs: add modified markdown content to about_model.md
  docs/source/learn/bioassay_doseresponse/about_model.md
  docs/source/learn/bioassay_doseresponse/doseresponse.py
  docs/source/learn/bioassay_doseresponse/images/output.svg
Due: no-internal-links

docs: add modified markdown content to about_model.md
  .gitattributes
  docs/source/learn/bioassay_doseresponse/about_model.md
  docs/source/learn/bioassay_doseresponse/doseresponse.py
Due: no-internal-links

fix mising sample_stats
  pymc/smc/sampling.py
Due: none

pin upper bound arviz
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

tests: guard against 32-bit MinGW compiler on Windows
  tests/conftest.py
Due: none

sampling: validate idata dims and coords before sampling
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_inferencedata.py
Due: none

Fix import order in tests per ruff
  tests/conftest.py
Due: none

Remove seeded_test fixture and migrate tests to Generator API
  tests/conftest.py
  tests/distributions/test_mixture.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/test_data.py
  tests/variational/test_inference.py
Due: none

Deprecate SumTo1 transform with warning and test coverage
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Apply pre-commit ruff fixes for SumTo1 deprecation changes
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

CI: include test_mcmc_inferencedata.py in tests matrix
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

fixes BaseHMCState not __eq__ comparable
  pymc/step_methods/state.py
Due: none

fix black space
  pymc/step_methods/state.py
Due: none

Update state.py
  pymc/step_methods/state.py
Due: none

added deprication message for sumto1
  pymc/distributions/transforms.py
Due: none

Update test_transform.py
  tests/distributions/test_transform.py
Due: none

Add regression test for DataClassState __eq__ comparison (#8132)
  tests/step_methods/test_state.py
Due: none

Update test_state.py
  tests/step_methods/test_state.py
Due: none

Implement dims Censored
  .github/workflows/tests.yml
  docs/source/api/dims/distributions.rst
  pymc/dims/distributions/__init__.py
  pymc/dims/distributions/censored.py
  pymc/dims/distributions/core.py
  pymc/dims/distributions/vector.py
  tests/dims/distributions/test_censored.py
Due: check-no-tests-are-ignored, no-internal-links

ZeroSumNormal: Fix logp shape of transformed variates
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  tests/distributions/test_multivariate.py
Due: none
