Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

watermark:
  args:
  - --negate
  - --multiline
  entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
  language: pygrep
  minimum_pre_commit_version: 2.8.0
  name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)

check-toc:
  entry: python scripts/check_toc_is_complete.py
  language: python
  name: Check all notebooks appear in table of contents

check-no-tests-are-ignored:
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-to-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda
  pass_filenames: false

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

:memo: release notes
  RELEASE-NOTES.md
Due: none

:fire: remove test_examples
  .github/workflows/pytest.yml
  pymc3/tests/test_examples.py
Due: check-no-tests-are-ignored, no-relative-imports

keep examples/data for now, so pm.get_data keeps working
  pymc3/examples/data/Guber1999data.txt
  pymc3/examples/data/HtWt.csv
  pymc3/examples/data/SP500.csv
  pymc3/examples/data/anemones.csv
  pymc3/examples/data/babies.csv
  pymc3/examples/data/cty.dat
  pymc3/examples/data/efron-morris-75-data.tsv
  pymc3/examples/data/extrahard_MC_500_5_4.npz.npy
  pymc3/examples/data/extrahard_MC_500_5_4_reference_classes.npy
  pymc3/examples/data/mastectomy.csv
  pymc3/examples/data/merged_ice_core_yearly.csv
  pymc3/examples/data/milk.csv
  pymc3/examples/data/ml_100k_u.data
  pymc3/examples/data/ml_100k_u.item
  pymc3/examples/data/monthly_in_situ_co2_mlo.csv
  pymc3/examples/data/old_faithful.csv
  pymc3/examples/data/pancreatitis.csv
  pymc3/examples/data/radon.csv
  pymc3/examples/data/rugby.csv
  pymc3/examples/data/scotland_lips_cancer.csv
  pymc3/examples/data/srrs2.dat
  pymc3/examples/data/stock_prices.csv
  pymc3/examples/data/sunspot.csv
  pymc3/examples/data/test_scores.csv
  pymc3/examples/data/wells.dat
Due: none

keep examples/__init__.py so get_data still works
  pymc3/examples/__init__.py
Due: no-relative-imports

Let plot_posterior_predictive_glm work with inferencedata too (#4234)
  RELEASE-NOTES.md
  pymc3/plots/posteriorplot.py
  pymc3/tests/test_plots.py
Due: no-relative-imports

revert removing examples
  .github/workflows/pytest.yml
  pymc3/examples/GHME_2013.py
  pymc3/examples/LKJ_correlation.py
  pymc3/examples/arbitrary_stochastic.py
  pymc3/examples/arma_example.py
  pymc3/examples/baseball.py
  pymc3/examples/custom_dists.py
  pymc3/examples/disaster_model.py
  pymc3/examples/disaster_model_theano_op.py
  pymc3/examples/factor_potential.py
  pymc3/examples/garch_example.py
  pymc3/examples/gelman_bioassay.py
  pymc3/examples/gelman_schools.py
  pymc3/examples/lasso_missing.py
  pymc3/examples/lightspeed_example.py
  pymc3/examples/notebooks
  pymc3/examples/rankdata_ordered.py
  pymc3/examples/samplers_mvnormal.py
  pymc3/examples/simpletest.py
Due: check-no-tests-are-ignored, no-relative-imports

revert removing test_examples
  pymc3/tests/test_examples.py
Due: no-relative-imports

Removed xfail tests while testing mvnormal random
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

:art: Update CI badge to GitHub Actions in docs * closes #4350
  README.rst
  docs/source/semantic_sphinx/layout.html
Due: none

fixup so docs work with latest pymc-examples reorg
  docs/source/index.rst
  docs/source/semantic_sphinx/layout.html
  docs/source/sphinxext/gallery_generator.py
Due: no-relative-imports

:art:
  docs/source/sphinxext/gallery_generator.py
Due: no-relative-imports

:art: Update CI badge to GitHub Actions in docs (#4356)
  README.rst
  docs/source/semantic_sphinx/layout.html
Due: none

Make logsumexp work with inifinite values, matching scipy behavior
  pymc3/math.py
  pymc3/tests/test_math.py
Due: no-relative-imports

Run pre-commit
  pymc3/tests/test_math.py
Due: no-relative-imports

Add note to release_notes
  RELEASE-NOTES.md
Due: none

Improve logsumexp to work with infinite values (#4360)
  RELEASE-NOTES.md
  pymc3/math.py
  pymc3/tests/test_math.py
Due: no-relative-imports

Fix MvStudentT.random
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Given a mention in release notes
  RELEASE-NOTES.md
Due: none

Take out size=1 special case from MixtureSameFamily
  pymc3/distributions/mixture.py
Due: no-relative-imports

Fix MvStudentT.random (#4359)
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Use more professional terminology
  RELEASE-NOTES.md
Due: none

Fixing scalar shape handling: treat (1,) as vectors (#4214)
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/distributions/distribution.py
  pymc3/distributions/mixture.py
  pymc3/distributions/posterior_predictive.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_shape_handling.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

fix typo, "togheter" -> "together"
  pymc3/smc/sample_smc.py
Due: no-relative-imports

fix typo, "togheter" -> "together" (#4363)
  pymc3/smc/sample_smc.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config (#4362)
  .pre-commit-config.yaml
Due: none

use dict(zip(..., ...))
  pymc3/smc/smc.py
Due: no-relative-imports

- Add bound to HyperGeometric logp - Pass unit tests when scipy logpmf returns nan
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

- Add release-note
  RELEASE-NOTES.md
Due: none

- Replace tt.max and tt.min with tt.switch
  pymc3/distributions/discrete.py
Due: no-relative-imports

Add bound to HyperGeometric logp (resolves #4366) (#4367)
  RELEASE-NOTES.md
  pymc3/distributions/discrete.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Fix MatrixNormal.random
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Provided better context for tests
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Path conditions:
  watermark: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-toc: any of: \.ipynb$, but not: ^(docs/logos|pymc3/examples/data)/
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/examples/data)/
  conda-env-sort: any of: ^conda-envs/ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/examples/data)/)
  pip-to-conda: any of: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$, but not: ^(docs/logos|pymc3/examples/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/examples/data)/
