Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/examples/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.5.4
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
- repo: https://github.com/PyCQA/isort
  rev: 5.6.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
    - id: pyupgrade
      args: [--py36-plus]
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)
      types: [jupyter]
    - id: check-toc
      entry: python scripts/check_toc_is_complete.py
      language: python
      name: Check all notebooks appear in table of contents
      types: [jupyter]
    - id: check-no-tests-are-ignored
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-to-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$
      language: python
      name: Generate pip dependency from conda
      pass_filenames: false
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Remove shape dependencies from DictToArrayBijection
  pymc3/blocking.py
  pymc3/distributions/discrete.py
  pymc3/model.py
  pymc3/parallel_sampling.py
  pymc3/sampling.py
  pymc3/smc/smc.py
  pymc3/step_methods/arraystep.py
  pymc3/step_methods/compound.py
  pymc3/step_methods/hmc/base_hmc.py
  pymc3/step_methods/hmc/integration.py
  pymc3/step_methods/hmc/nuts.py
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/step_methods/metropolis.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_model.py
  pymc3/tests/test_model_func.py
  pymc3/theanof.py
  pymc3/tuning/scaling.py
  pymc3/tuning/starting.py
  pymc3/variational/approximations.py
  pymc3/variational/opvi.py
Due: no-relative-imports

Implement naive RandomVariable-based posterior predictive sampling
  pymc3/distributions/__init__.py
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Removed redundant bound in Wald distribution
  pymc3/distributions/continuous.py
Due: no-relative-imports

Fix Dirichlet.logp by checking number of categories > 1 only at event dims
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Update test_distributions.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Added a test to check Dirichlet.logp with different batch shapes.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Removed the shape validation check to even work for last dimensional shape as 1.
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Tested exact Dirichlet.logp values againt scipy implementation
  RELEASE-NOTES.md
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Fix Dirichlet.logp (#4454)
  RELEASE-NOTES.md
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Update pymc3/sampling_jax.py
  pymc3/sampling_jax.py
Due: no-relative-imports

Added a small test
  pymc3/sampling_jax.py
  pymc3/tests/test_sampling_jax.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Unseed (and slightly refactor) TestMatchesScipy (#4461)
  pymc3/tests/test_distributions.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config (#4466)
  .pre-commit-config.yaml
Due: none

Small fix Triangular logp and logcdf methods
  pymc3/distributions/continuous.py
Due: no-relative-imports

Add tests for invalid parameters Uniform, Triangular, DiscreteUniform
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Add release note
  RELEASE-NOTES.md
Due: none

Adding normalizing flow based nested sampling (currently tensorflow-probability implementation)
  pymc3/ns_nfmc/__init__.py
  pymc3/ns_nfmc/__init__.py~
  pymc3/ns_nfmc/ns_nfmc.py
  pymc3/ns_nfmc/ns_nfmc.py~
  pymc3/ns_nfmc/sample_ns_nfmc.py
  pymc3/ns_nfmc/sample_ns_nfmc.py~
Due: no-relative-imports

Fixing typo in sample_ns_nfmc.py
  pymc3/ns_nfmc/sample_ns_nfmc.py
Due: no-relative-imports

Fixing import typos for NS_NFMC
  pymc3/ns_nfmc/ns_nfmc.py
  pymc3/ns_nfmc/sample_ns_nfmc.py
Due: no-relative-imports

Removing start dictionary options
  pymc3/ns_nfmc/ns_nfmc.py
Due: no-relative-imports

Create prototype model_debug.py
  pymc3/distributions/continuous.py
  pymc3/distributions/dist_math.py
  pymc3/model_debug.py
  pymc3/util.py
Due: no-relative-imports

Split jax tests into their own workflow
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
  scripts/check_all_tests_are_covered.py
Due: check-no-tests-are-ignored, no-relative-imports

Transform jax samples (#4427)
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  pymc3/sampling_jax.py
  pymc3/tests/test_sampling_jax.py
  scripts/check_all_tests_are_covered.py
Due: check-no-tests-are-ignored, no-relative-imports

Fix Triangular bounds (#4470)
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Bump patch version for 3.11.1 release
  RELEASE-NOTES.md
  pymc3/__init__.py
Due: no-relative-imports

Switch submodule to fork version to test
  .gitmodules
Due: none

Rename Model.ndim to Model.size
  pymc3/model.py
  pymc3/sampling.py
  pymc3/step_methods/metropolis.py
  pymc3/tests/test_hmc.py
  pymc3/tests/test_quadpotential.py
  pymc3/tests/test_step.py
Due: no-relative-imports

Temporarily disable CI tests
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
Due: check-no-tests-are-ignored

Switch submodule to remote pymc-examples repo and appropriate branch
  .gitmodules
Due: none

Revert .submodules changes and create bash script for faster build
  .gitmodules
  fast_build_and_deploy_docs.sh
Due: none

Create bash script for faster build
  fast_build_and_deploy_docs.sh
Due: none

Use git-dir in bashscript to change branch
  fast_build_and_deploy_docs.sh
Due: none

Better git command for checking out the pymc3-examples branch
  fast_build_and_deploy_docs.sh
Due: none

First change the pymc3 examples branch
  fast_build_and_deploy_docs.sh
Due: none

Address comments and suggestions on bash script
  fast_build_and_deploy_docs.sh
Due: none
