Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Fix Wishart incompatibility with newer scipy
  pymc/distributions/multivariate.py
Due: none

Better representation for model with `dims` distributions
  pymc/printing.py
  tests/test_printing.py
Due: none

Bump Pytenor dependency
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

TEST: add unit tests for DictToArrayBijection
  tests/test_blocking.py
Due: none

CI: add tests/test_blocking.py to test matrix
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Add logccdf tests for Censored distributions mirroring the existing logcdf test structure
  tests/distributions/test_censored.py
Due: none

init
  Makefile
Due: none

DOC: improve docstrings for Model.logp etc: use relative references.
  pymc/model/core.py
Due: none

DOC: improve docstring for Model.logp and related methods.
  docs/source/api/distributions/transforms.rst
  docs/source/conf.py
  pymc/model/core.py
Due: no-internal-links

DOC: improve docstrings for Model.logp etc: fix ruff.
  pymc/model/core.py
Due: none

squash a million warnings in docs build
  docs/source/api/dims/transforms.rst
  docs/source/conf.py
  docs/source/contributing/developer_guide.md
  docs/source/contributing/jupyter_style.md
  docs/source/glossary.md
  docs/source/learn.md
  docs/source/learn/core_notebooks/dims_module.ipynb
  docs/source/learn/core_notebooks/model_comparison.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
  docs/source/learn/usage_overview.rst
  pymc/backends/arviz.py
  pymc/backends/zarr.py
  pymc/blocking.py
  pymc/data.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/distributions/timeseries.py
  pymc/gp/cov.py
  pymc/model/core.py
  pymc/sampling/mcmc.py
Due: no-internal-links

Emit `DEMetropolis` `"scaling"` stat as average
  pymc/step_methods/metropolis.py
Due: none

Removed second Draws column
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
Due: none

Remove s from step_name
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
Due: none

Removed extra "s" from draws in progress bar
  pymc/progress_bar/rich_progress.py
Due: none

Fix broken PyMC Labs logo on consulting page
  docs/source/images/pymc_labs_logo.png
  docs/source/learn/consulting.md
Due: no-internal-links

Added logccdf to LogNormal Distro, Add Explicit logccdf to LogNormal, consistent with Normal.logccdf. Added checks in testing.py
  pymc/distributions/continuous.py
  pymc/testing.py
  tests/distributions/test_continuous.py
Due: none

Remove redundant tau parameterization test
  tests/distributions/test_continuous.py
Due: none

Update dims_module notebook and added links to distributions, transforms, and math docs
  docs/source/learn/core_notebooks/dims_module.ipynb
Due: no-internal-links

Fix draw column: restore for Rich, deduplicate for marimo
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
Due: none

Clarified wording
  pymc/distributions/multivariate.py
Due: none

Fix internal API links in dims_module notebook using {doc} role
  docs/source/learn/core_notebooks/dims_module.ipynb
Due: no-internal-links

Add FutureWarning to SumTo1 transform deprecation
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Fix pre-commit formatting issues
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: none

Fix off-by-one progress bug
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
  pymc/sampling/mcmc.py
  pymc/smc/parallel.py
  pymc/smc/sampling.py
  tests/progress_bar/test_manager.py
Due: none

Simplify is_last logic
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
  pymc/sampling/mcmc.py
  pymc/smc/sampling.py
Due: none

Add marimo tests for off-by-one bug
  tests/progress_bar/test_marimo.py
Due: none

Fix off-by-one progress bar bugs (#8201)
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
  pymc/smc/parallel.py
  pymc/smc/sampling.py
  tests/progress_bar/test_manager.py
  tests/progress_bar/test_marimo.py
Due: none

add optional TypedDict type annotations for pm.Model
  pymc/model/core.py
  tests/model/test_core.py
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
