Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Add chain_method kwarg to sample_numpyro_nuts
  pymc/sampling_jax.py
Due: no-relative-imports

Remove windows xfails
  pymc/tests/test_ode.py
Due: no-relative-imports

Removed commented test line
  pymc/distributions/continuous.py
Due: no-relative-imports

Adding Interpolated moment (#5222)
  pymc/distributions/continuous.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

make question more explicit
  GOVERNANCE.md
Due: none

Fixing PyMC Labs broken link in README
  README.rst
Due: none

Fixing PyMC Labs broken link in README (#5251)
  README.rst
Due: none

fixing Trim Trailing Whitespace error - pre-commit
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

Fix inputs filtering bug in logprob_MixtureRV
  aeppl/mixture.py
Due: no-relative-imports

Update Aesara version requirement
  setup.py
Due: no-relative-imports

Add a conftest.py file
  conftest.py
Due: no-relative-imports

Simplify mixture tests and add one for categorical mixture indices
  tests/test_logprob.py
  tests/test_mixture.py
Due: no-relative-imports

Add scalar parameter and value bound checks in `TestMatchesScipy.check_logp`
  pymc/tests/test_distributions.py
Due: no-relative-imports

Add rewrites to replace Aeppl CheckParameterValue Ops in logprob expressions
  docs/source/contributing/developer_guide_implementing_distribution.md
  pymc/aesaraf.py
  pymc/distributions/bound.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/dist_math.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/gp/util.py
  pymc/initial_point.py
  pymc/model.py
  pymc/sampling.py
  pymc/sampling_jax.py
  pymc/smc/smc.py
  pymc/step_methods/metropolis.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_dist_math.py
  pymc/tests/test_distributions.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Add positive assertion to `get_tau_sigma` and `Gamma.get_alpha_beta`
  pymc/distributions/continuous.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Register CheckParameterValue in jax_funcify_Assert
  pymc/sampling_jax.py
Due: no-relative-imports

Add bound tests for some non-scalar values and parameters
  pymc/tests/test_distributions.py
Due: no-relative-imports

Add xfail to TestMatchesScipy.test_laplace
  pymc/tests/test_distributions.py
Due: no-relative-imports

Update aeppl version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda

Replace value bounding `check_parameters` with explicit switch statement
  pymc/distributions/bound.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

Refactor Domain helper class
  pymc/tests/test_distributions.py
Due: no-relative-imports

Added test for checking exception is raised in case nu is not scalar in MvStudentT
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Added check that nu must be a scalar in MvStudentTRV
  pymc/distributions/multivariate.py
Due: no-relative-imports

Corrected make_node in MvStudentTRV
  pymc/distributions/multivariate.py
Due: no-relative-imports

Upgrade pre-commit from main and apply automated code style
  .pre-commit-config.yaml
  docs/source/sphinxext/gallery_generator.py
  pymc3/__init__.py
  pymc3/backends/base.py
  pymc3/distributions/distribution.py
  pymc3/distributions/posterior_predictive.py
  pymc3/gp/cov.py
  pymc3/gp/util.py
  pymc3/model.py
  pymc3/model_graph.py
  pymc3/ode/ode.py
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_modelcontext.py
  pymc3/tests/test_random.py
  pymc3/tests/test_variational_inference.py
  pymc3/theanof.py
  pymc3/variational/inference.py
  scripts/check_all_tests_are_covered.py
  scripts/generate_pip_deps_from_conda.py
Due: no-relative-imports

XFAIL KroneckerNormal test on Windows because of #5253
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Deprecation of testval→initval and related start kwarg
  RELEASE-NOTES.md
  pymc3/distributions/distribution.py
  pymc3/sampling.py
Due: no-relative-imports

Add deprecat dependency
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda

accepting_michaels_suggestions
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

change examples from Uniform to Normal
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

change examples from Uniform to Normal v2
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

Partially add admonition style for rendering warnings
  docs/source/_static/main.css
Due: none

Deprecate those kwargs in `v3` that will break in `v4` (#5226)
  .pre-commit-config.yaml
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/_static/main.css
  docs/source/sphinxext/gallery_generator.py
  pymc3/__init__.py
  pymc3/backends/base.py
  pymc3/distributions/distribution.py
  pymc3/distributions/posterior_predictive.py
  pymc3/gp/cov.py
  pymc3/gp/util.py
  pymc3/model.py
  pymc3/model_graph.py
  pymc3/ode/ode.py
  pymc3/sampling.py
  pymc3/step_methods/hmc/quadpotential.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
  pymc3/tests/test_modelcontext.py
  pymc3/tests/test_random.py
  pymc3/tests/test_variational_inference.py
  pymc3/theanof.py
  pymc3/variational/inference.py
  requirements-dev.txt
  requirements.txt
  scripts/check_all_tests_are_covered.py
  scripts/generate_pip_deps_from_conda.py
Due: conda-env-sort, pip-from-conda, no-relative-imports

Added check that nu must be a scalar in MvStudentTRV (#5241)
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Document get_moment (#5244)
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

Test that missing values work as expected in distribution with vector parameters
  pymc/tests/test_missing.py
Due: no-relative-imports

Change rng of partially observed RVs
  pymc/model.py
  pymc/tests/test_missing.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  conda-env-sort: any of: ^conda-envs/environment-dev-py37\.yml$ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/tests/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
