Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Update pymc/sampling_jax.py
  pymc/sampling_jax.py
Due: no-relative-imports

Relocate `PointFunc` definition for nicer type hints
  pymc/aesaraf.py
  pymc/model.py
Due: no-relative-imports

Fixing keyword args in top-level pm.compile_fn
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Docstring formatting and type hints
  pymc/model.py
Due: no-relative-imports

refactor sampling_jax postrocessing to avoid jit (#5908)
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

add constant_data into sample_numpyro_nuts()
  pymc/backends/arviz.py
  pymc/sampling_jax.py
Due: no-relative-imports

refactor constant_data_to_xarray with find_constants
  pymc/backends/arviz.py
  pymc/sampling_jax.py
Due: no-relative-imports

Test observations and constant data are included in InferenceData from JAX sampling
  pymc/backends/arviz.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

Align conda envs and add Windows 3.9 env (#5895)
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-dev-py39.yml
  conda-envs/windows-environment-test-py39.yml
  scripts/generate_pip_deps_from_conda.py
Due: pip-from-conda, no-relative-imports

Update Aesara dependency to 2.7.3
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-dev-py39.yml
  conda-envs/windows-environment-test-py38.yml
  conda-envs/windows-environment-test-py39.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Update passing mypy file
  scripts/run_mypy.py
Due: no-relative-imports

Add constant_data into sample_numpyro_nuts() (#5807)
  pymc/backends/arviz.py
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

Bump for `4.0.1` release
  RELEASE-NOTES.md
  pymc/__init__.py
Due: no-relative-imports

remove reference to old parameters
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
Due: no-relative-imports

Install sphinx-design via conda
  conda-envs/environment-dev.yml
  conda-envs/windows-environment-dev.yml
Due: none

Get rid of python-version specific conda test environments
  .github/workflows/tests.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-test-py39.yml
  conda-envs/windows-environment-test.yml
Due: none

Get rid of python-version specific conda dev environments
  .pre-commit-config.yaml
  .readthedocs.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-dev.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-dev-py39.yml
  conda-envs/windows-environment-dev.yml
  docs/source/contributing/pr_tutorial.md
  docs/source/contributing/python_style.md
  scripts/Dockerfile
  scripts/generate_pip_deps_from_conda.py
Due: pip-from-conda, no-relative-imports

Update pymc/smc/sample_smc.py
  pymc/smc/sample_smc.py
Due: no-relative-imports

Remove reference to old parameters in SMC docstring (#5914)
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
Due: no-relative-imports

implement fix + tests
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

fix the docstring and args 1.
  pymc/variational/inference.py
Due: no-relative-imports

remove references to local_rvs
  pymc/variational/approximations.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Small improvements to early nuts behaviour (#5824)
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/integration.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/tests/test_step.py
Due: no-relative-imports

Accommodate feedback and add small section on observed variables
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

Expand dimensionality notebook
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

Update and remove size discussion
  docs/source/learn/core_notebooks/dimensionality.ipynb
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
