Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.10
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Add step method state
  pymc/step_methods/arraystep.py
  pymc/step_methods/compound.py
  tests/helpers.py
Due: no-relative-imports

Add sampling state base classes
  .github/workflows/tests.yml
  pymc/step_methods/state.py
  tests/helpers.py
  tests/step_methods/test_state.py
Due: check-no-tests-are-ignored, no-relative-imports

Add HMC sampling state
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/step_sizes.py
Due: no-relative-imports

Detach step methods from numpy global random state
  pymc/math.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/util.py
  tests/sampling/test_forward.py
  tests/sampling/test_parallel.py
  tests/step_methods/hmc/test_nuts.py
  tests/step_methods/test_metropolis.py
  tests/step_methods/test_slicer.py
Due: no-relative-imports

Fix dangling step in test_population
  tests/sampling/test_population.py
Due: no-relative-imports

Add metropolis sampling state
  pymc/step_methods/metropolis.py
  tests/models.py
  tests/step_methods/test_metropolis.py
Due: no-relative-imports

Add slice sampling state
  pymc/step_methods/slicer.py
Due: no-relative-imports

Remove debug statement
  pymc/distributions/distribution.py
Due: no-relative-imports

Correct type definition for bound_arg_indices
  pymc/distributions/continuous.py
Due: no-relative-imports

Do not use initval in test model
  tests/models.py
Due: no-relative-imports

Remove unnecessary dictionary comprehensions
  benchmarks/benchmarks/benchmarks.py
  pymc/backends/mcbackend.py
  pymc/distributions/distribution.py
  pymc/distributions/timeseries.py
  pymc/func_utils.py
  pymc/logprob/rewriting.py
  pymc/logprob/tensor.py
  pymc/smc/kernels.py
  pymc/variational/opvi.py
Due: no-relative-imports

Remove unnecessary list after sorted
  pymc/backends/base.py
  pymc/sampling/forward.py
  pymc/variational/approximations.py
  tests/backends/fixtures.py
Due: no-relative-imports

Use list literals
  pymc/variational/opvi.py
  tests/logprob/test_utils.py
Due: no-relative-imports

Remove unnecessary list comprehensions
  pymc/sampling/mcmc.py
  pymc/step_methods/metropolis.py
  pymc/variational/approximations.py
  tests/test_pytensorf.py
Due: no-relative-imports

Use set literals
  pymc/logprob/mixture.py
  tests/helpers.py
  tests/test_model_graph.py
Due: no-relative-imports

Enable ruff C4 rules (comprehensions)
  pyproject.toml
Due: none

Use comprehension instead of map
  pymc/distributions/dist_math.py
Due: no-relative-imports

Enable pygrep-hooks
  .pre-commit-config.yaml
Due: none

Fix single backticks for code
  docs/source/api.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/shape_utils.rst
  docs/source/guides/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/Gaussian_Processes.rst
Due: no-internal-links

Precise blanket type ignore and noqa statements
  pymc/backends/__init__.py
  pymc/distributions/shape_utils.py
  pymc/distributions/simulator.py
  pymc/distributions/transforms.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  pymc/logprob/basic.py
  pymc/logprob/tensor.py
  pymc/model/transform/optimization.py
  pymc/model_graph.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/step_methods/metropolis.py
  pymc/testing.py
  pymc/tuning/scaling.py
  pymc/tuning/starting.py
  pymc/util.py
  pymc/variational/callbacks.py
  pymc/variational/minibatch_rv.py
  tests/distributions/test_continuous.py
  tests/distributions/test_custom.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_timeseries.py
Due: no-relative-imports

Tweak ruff config
  .pre-commit-config.yaml
Due: none

Replace no-print-statements with the T20 ruff rules
  .pre-commit-config.yaml
  pymc/math.py
  pymc/tuning/starting.py
  pyproject.toml
  tests/gp/test_cov.py
Due: no-relative-imports

Replace no-relative-imports with TID ruff rules
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Auto-fix rules D202, D205, D209, D403 and D406
  pymc/backends/base.py
  pymc/backends/ndarray.py
  pymc/data.py
  pymc/distributions/custom.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/hsgp_approx.py
  pymc/initial_point.py
  pymc/logprob/basic.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/transform_value.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/model/core.py
  pymc/model/fgraph.py
  pymc/model/transform/basic.py
  pymc/ode/utils.py
  pymc/printing.py
  pymc/pytensorf.py
  pymc/sampling/forward.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  pymc/smc/kernels.py
  pymc/smc/sampling.py
  pymc/stats/log_density.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/metropolis.py
  pymc/testing.py
  pymc/tuning/scaling.py
  pymc/variational/minibatch_rv.py
  pymc/variational/opvi.py
Due: no-relative-imports

Remove file encoding statements
  pymc/distributions/continuous.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
Due: no-relative-imports

Add a docstring to all magic methods (D105)
  pymc/backends/base.py
  pymc/backends/mcbackend.py
  pymc/backends/ndarray.py
  pymc/data.py
  pymc/distributions/truncated.py
  pymc/gp/gp.py
  pymc/gp/hsgp_approx.py
  pymc/logprob/abstract.py
  pymc/logprob/scan.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/model/core.py
  pymc/sampling/parallel.py
  pymc/testing.py
  pymc/util.py
  pymc/variational/callbacks.py
  pymc/variational/opvi.py
Due: no-relative-imports

Replace 'an pytensor' -> 'a pytensor'
  docs/source/contributing/developer_guide.md
  docs/source/guides/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/pymc_pytensor.ipynb
  pymc/distributions/custom.py
  pymc/distributions/dist_math.py
  pymc/distributions/truncated.py
  pymc/logprob/rewriting.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/sampling/jax.py
  tests/test_pytensorf.py
Due: no-relative-imports, no-internal-links

Use ruff to check for numpy-style docstrings
  pyproject.toml
Due: none

Add docstrings to all modules (D104)
  benchmarks/benchmarks/__init__.py
  pymc/__init__.py
  pymc/distributions/__init__.py
  pymc/gp/__init__.py
  pymc/logprob/__init__.py
  pymc/model/__init__.py
  pymc/model/transform/__init__.py
  pymc/sampling/__init__.py
  pymc/smc/__init__.py
  pymc/step_methods/__init__.py
  pymc/step_methods/hmc/__init__.py
  pymc/tuning/__init__.py
  pymc/variational/__init__.py
Due: no-relative-imports
