Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.10
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Update requirements-dev.txt
  requirements-dev.txt
Due: none

test: pin polyagamma version for testing until a fix found
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Revert "Update requirements-dev.txt"
  requirements-dev.txt
Due: none

pin polyagamma (#7418)
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

fix: Replace unsafe under vectorize pt.zeros(value.shape) with zeros_like
  pymc/logprob/transforms.py
Due: no-relative-imports

Print OP name for unnamed RVs instead of raising AssertionErrors
  pymc/printing.py
  tests/test_printing.py
Due: no-relative-imports

Add ZeroSumNormal distribution
  pymc/distributions/transforms.py
Due: no-relative-imports

revert formatting
  pymc/smc/kernels.py
  tests/smc/test_smc.py
Due: no-relative-imports

update docs
  pymc/smc/kernels.py
Due: no-relative-imports

discrete.py docs updated
  pymc/distributions/discrete.py
Due: no-relative-imports

Implement specialized MvNormal density based on precision matrix
  pymc/distributions/multivariate.py
  pymc/logprob/rewriting.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Remove non-generative incsubtensor logp inference
  pymc/logprob/rewriting.py
  tests/logprob/test_basic.py
  tests/logprob/test_rewriting.py
Due: no-relative-imports

Remove unnecessary gradient related methods from dummy Ops
  pymc/logprob/transform_value.py
Due: no-relative-imports

Do not instantiate all transforms in find_measurable_transforms
  pymc/logprob/transforms.py
Due: no-relative-imports

Rename MeasurableVariable to MeasurableOp
  pymc/distributions/distribution.py
  pymc/logprob/abstract.py
  pymc/logprob/basic.py
  pymc/logprob/checks.py
  pymc/logprob/cumsum.py
  pymc/logprob/mixture.py
  pymc/logprob/order.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/logprob/tensor.py
  pymc/logprob/transform_value.py
  pymc/logprob/transforms.py
  pymc/logprob/utils.py
  pymc/variational/minibatch_rv.py
  tests/logprob/test_abstract.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_mixture.py
  tests/logprob/test_transform_value.py
  tests/logprob/test_utils.py
Due: no-relative-imports

Allow logcdf inference of discrete variables
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Remove special logprob case for MaxNeg (used for Min logprob)
  pymc/logprob/order.py
  tests/logprob/test_order.py
Due: no-relative-imports

remove blackjax pmap warning
  pymc/sampling/jax.py
Due: no-relative-imports

use gen_scan_fn
  pymc/sampling/jax.py
Due: no-relative-imports

remove labels
  pymc/sampling/jax.py
Due: no-relative-imports

removed non-working twitter link in docs/source/contributing/developer_guide.md and changed twitter link to X in readme.rst
  README.rst
  docs/source/contributing/developer_guide.md
Due: no-internal-links
