Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Updated arviz syntax
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

BUG: Raise TypeError when float observed data would be truncated by discrete distributions
  pymc/model/core.py
  tests/model/test_core.py
Due: none

Fixes in response to review
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

Add ZeroOneInflatedBeta distribution
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
Due: none

Adding ZeroOneInflatedBeta distribution
  docs/source/api/distributions/continuous.rst
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-internal-links

return_next_rng in lieu of .owner.outputs
  pymc/distributions/continuous.py
Due: none

Rename alpha/beta_ to a/b in rv_op for consistency
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: none

Progress bar: defer per-bar clock until first update
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
  tests/sampling/test_mcmc_external.py
Due: none

Progress bar: cleanup init computation
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
Due: none

Pin nutpie>=0.16.10 and drop obsolete workarounds
  pymc/backends/arviz.py
  pymc/sampling/mcmc.py
  setup.py
Due: none

Sampling: allow dynamic tuning steps
  pymc/progress_bar/marimo_progress.py
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
  pymc/step_methods/metropolis.py
  tests/sampling/test_mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

Updated pymc overview notebook to v6
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

Do not default to incompatible nutpie
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

Defer zarr import
  pymc/backends/__init__.py
  pymc/backends/zarr.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
Due: none

Defer scipy and pytensor.sparse import
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/dist_math.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/func_utils.py
  pymc/gp/util.py
  pymc/math.py
  pymc/model/core.py
  pymc/pytensorf.py
  pymc/smc/kernels.py
  pymc/step_methods/hmc/integration.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/step_sizes.py
  pymc/tuning/starting.py
Due: none

Use direct xarray imports for Dataset / DataTree / DataArray
  pymc/backends/arviz.py
  pymc/sampling/deterministic.py
  pymc/sampling/forward.py
  pymc/util.py
  pymc/variational/opvi.py
Due: none

Defer arviz_base import
  pymc/backends/arviz.py
  pymc/backends/zarr.py
  pymc/stats/convergence.py
Due: none

Defer mcbackend import
  pymc/backends/__init__.py
Due: none

Add eager-import regression test
  tests/test_root_namespace.py
Due: none

Fix test_categorical floating-point precision
  tests/dims/distributions/test_vector.py
Due: none

Remove deprecated pymc.math.block_diagonal
  pymc/math.py
Due: none

Bump pytensor requirement to >=3.0.2
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Defer arviz_stats and arviz_plots import
  pymc/__init__.py
  pymc/plots/__init__.py
  pymc/stats/__init__.py
Due: none

Defer IPython import
  pymc/printing.py
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
