Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Pin Aesara 2.3.6
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/distributions/multivariate.py
  pymc/ode/ode.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda, no-relative-imports

Revert "Pin NumPy to <1.22.0 temporarily "
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Fix TestSMC.test_marginal_likelihood
  pymc/tests/test_smc.py
Due: no-relative-imports

Add softmax and log_softmax to math module
  RELEASE-NOTES.md
  pymc/math.py
  pymc/tests/test_math.py
Due: no-relative-imports

Remove custom implementation of softmax in metropolis.py
  pymc/step_methods/metropolis.py
Due: no-relative-imports

Reduce number of draws in slow BART test
  pymc/tests/test_bart.py
Due: no-relative-imports

Speedup model compilation in slow sampling tests
  pymc/tests/helpers.py
  pymc/tests/test_ode.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Test Exponential distribution in `test_find_constrained_prior`
  pymc/tests/test_func_utils.py
Due: no-relative-imports

Add polygamma
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
Due: pip-from-conda

Merge fast arviz_compat tests into single job
  .github/workflows/arviz_compat.yml
Due: none

Rearrange pytest workflow to even out runtime per job
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Add polyagamma to requirements-dev.txt (#5368)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  requirements-dev.txt
Due: pip-from-conda

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

execute notebooks when building docs (#5314)
  .readthedocs.yml
  docs/source/conf.py
  docs/source/sphinxext/gallery_generator.py
Due: no-relative-imports

Several API doc improvements (#5367)
  RELEASE-NOTES.md
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/_templates/autosummary/class.rst
  docs/source/api/gp.rst
  docs/source/api/gp/cov.rst
  docs/source/api/gp/implementations.rst
  docs/source/api/gp/mean.rst
  docs/source/conf.py
  docs/source/index.md
  pymc/distributions/continuous.py
  requirements-dev.txt
Due: pip-from-conda, no-relative-imports

Refactor LKJ Cholesky Cov and LKJCorr for V4 (WIP)
  pymc/distributions/multivariate.py
  pymc/tests/sampler_fixtures.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_mixture.py
Due: no-relative-imports

Add additional compiler flag to work around GCC bug.
  pymc3/__init__.py
Due: no-relative-imports

Fix typos and trailing whitespace
  pymc/distributions/discrete.py
Due: no-relative-imports

resolve @ricardoV94's comment about initial point
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

restore test_bart.py as in main branch
  pymc/tests/test_bart.py
Due: no-relative-imports

resolve duplicated _get_scaling function
  pymc/distributions/logprob.py
  pymc/model.py
Due: no-relative-imports

Tighten test_normal_scalar bound (#5366)
  pymc/tests/test_sampling.py
Due: no-relative-imports

change job order
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

use commit initial point in the test file
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

use compute initial point in the opvi.py
  pymc/variational/opvi.py
Due: no-relative-imports

Revamp our negative binomial explanation (#5365)
  pymc/distributions/discrete.py
Due: no-relative-imports

remove unnessesary pattern broadcast
  pymc/variational/opvi.py
Due: no-relative-imports

mark test as xfail before aesara release
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

Do not mark anything but just wait for the new release
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

Switched clone to True in FunctionGraph calls for sample_jax
  pymc/sampling_jax.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
