Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

first section on aesara
  docs/intro_pymc_codebase.ipynb
Due: none

random variables section
  docs/intro_pymc_codebase.ipynb
Due: none

Create model_network.py
  pymc3/model_network.py
Due: no-relative-imports

Update model_network.py
  pymc3/model_network.py
Due: no-relative-imports

Delete model_network.py
  pymc3/model_network.py
Due: no-relative-imports

Update model_graph.py
  pymc3/model_graph.py
Due: no-relative-imports

Upgrade pre-commit dependencies
  .pre-commit-config.yaml
Due: none

Fix typing issues
  pymc/backends/arviz.py
  pymc/backends/report.py
  pymc/sampling.py
  pymc/util.py
Due: no-relative-imports

Fix CI (#5683)
  .pre-commit-config.yaml
  pymc/backends/arviz.py
  pymc/backends/report.py
  pymc/sampling.py
  pymc/util.py
Due: no-relative-imports

add how to review draft
  docs/source/contributing/index.md
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

run pre-commit
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

Address comments
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

Apply suggestions from code review
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

remove double negatives
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

update arviz version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

preserve chain and draw dims in posterior predictive
  pymc/sampling.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

added test for idata extension
  pymc/tests/test_sampling.py
Due: no-relative-imports

extend testing with arviz helper
  pymc/tests/test_sampling.py
Due: no-relative-imports

add missing import
  pymc/tests/test_sampling.py
Due: no-relative-imports

added default value for inplace
  pymc/sampling.py
Due: no-relative-imports

address mypy complaints
  pymc/sampling.py
Due: no-relative-imports

Add v4 grw and tests
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Update pymc/distributions/timeseries.py
  pymc/distributions/timeseries.py
Due: no-relative-imports

Add call to super for make node
  pymc/distributions/timeseries.py
Due: no-relative-imports

Remove time series from mypy checks for now
  scripts/run_mypy.py
Due: no-relative-imports

Move inference test out of unrelated class
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Fix init dist and add tests
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Update timeseries
  pymc/distributions/timeseries.py
Due: no-relative-imports

Make steps required explicitly and check it is a scalar
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Fix docstrings
  pymc/distributions/timeseries.py
Due: no-relative-imports

remove duplicated ad
  docs/source/conf.py
Due: no-relative-imports

remove duplication in contributing docs
  CONTRIBUTING.md
  docs/source/contributing/index.md
  docs/source/contributing/jupyter_style.md
  docs/source/contributing/pr_checklist.md
  docs/source/contributing/pr_tutorial.md
  docs/source/contributing/running_the_test_suite.md
Due: none

some updates to how docs look
  .pre-commit-config.yaml
  docs/source/_static/custom.css
  docs/source/_templates/navbar-version.html
  docs/source/about/index.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/installation.md
  docs/source/learn/core_notebooks/GLM_linear.ipynb
  docs/source/learn/core_notebooks/dimensionality.ipynb
  docs/source/learn/core_notebooks/index.md
  docs/source/learn/core_notebooks/model_comparison.ipynb
  docs/source/learn/core_notebooks/posterior_predictive.ipynb
  docs/source/learn/core_notebooks/pymc_overview.ipynb
  docs/source/learn/examples.md
  docs/source/learn/examples/dimensionality.ipynb
  docs/source/learning.md
Due: no-relative-imports

Apply suggestions from code review
  docs/source/learning.md
Due: none

address review comments
  docs/source/about/index.md
  docs/source/index.md
Due: none
