Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Ignore flaky sampling_jax.py mypy results
  scripts/run_mypy.py
Due: no-relative-imports

Upgrade dependencies in pre-commit environment
  .pre-commit-config.yaml
  pymc/distributions/shape_utils.py
  pymc/sampling.py
Due: no-relative-imports

revert unrelated changes
  GOVERNANCE.md
Due: none

CLN Removes pandas import from tests
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_missing.py
  pymc/tests/test_model.py
Due: no-relative-imports

FIX Adds importorskip to test_data_container
  pymc/tests/test_data_container.py
Due: no-relative-imports

MAINT Removes pandas dependency
  requirements.txt
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

Raise ValueError if random variables are present in the logp graph
  pymc/distributions/logprob.py
  pymc/tests/test_logprob.py
  pymc/tests/test_parallel_sampling.py
Due: no-relative-imports

Parametrize some more tests by floatX
  pymc/distributions/simulator.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_mixture.py
  pymc/tests/test_smc.py
Due: no-relative-imports

added logit_p to Binomial and Categorical distributions
  pymc/distributions/discrete.py
Due: no-relative-imports

added tests for logit_p check
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

update signatures of half/studentT
  GOVERNANCE.md
  pymc/distributions/continuous.py
Due: no-relative-imports

fix args
  pymc/distributions/continuous.py
Due: no-relative-imports

Run only selected tests under float32
  .github/workflows/tests.yml
Due: none

Remove XFAILed exact sample comparison test
  pymc/tests/test_step.py
Due: no-relative-imports

Rename `Simplex` to `SimplexTransform` for consistency with other transforms
  aeppl/transforms.py
Due: no-relative-imports

update release notes
  RELEASE-NOTES.md
Due: none

update docstring and release notes
  RELEASE-NOTES.md
  pymc/distributions/continuous.py
Due: no-relative-imports

revert remove init_nuts
  pymc/sampling.py
  pymc/tests/test_data_container.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_step.py
Due: no-relative-imports

updated test with expit and softmax
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

fixed pre-commit test
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fix bug with default init_nuts (#5622)
  pymc/sampling.py
  pymc/tests/test_data_container.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_step.py
Due: no-relative-imports

✨added logit_p to docstring & noted in ReleaseNote
  RELEASE-NOTES.md
  pymc/distributions/discrete.py
Due: no-relative-imports

Parametrize Binomial and Categorical distributions via logit_p (#5637)
  RELEASE-NOTES.md
  pymc/distributions/discrete.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Remove `BaseStochasticGradient` step method
  RELEASE-NOTES.md
  pymc/step_methods/sgmcmc.py
Due: no-relative-imports

added python3.10 env
  .coverage
  .coverage.shashank.local.75223.559595
  .coverage.shashank.local.75224.011000
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  conda-envs/environment-dev-py310.yml
Due: check-no-tests-are-ignored, pip-from-conda

added python 3.10 env
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Bump version for b5 release
  RELEASE-NOTES.md
  pymc/__init__.py
Due: no-relative-imports

deleted extra files
  .coverage
  .coverage.shashank.local.75223.559595
  .coverage.shashank.local.75224.011000
  .github/workflows/tests.yml
  conda-envs/environment-test-py310.yml
  conda-envs/environment-test-py37.yml
Due: none

Update docstring in ChiSquared, HalfNormal, Wald, Pareto, ExGaussion and VonMiese distribution (#5595)
  pymc/distributions/continuous.py
Due: no-relative-imports

Update docstring in Interpolated, Rice, Moyal, AsymmetricLaplace and PolyaGamma distribution (#5600)
  pymc/distributions/continuous.py
Due: no-relative-imports

Update docstring of SkewNormal, Triangular, Gumbel, Logistic, LogitNormal (#5596)
  pymc/distributions/continuous.py
Due: no-relative-imports

update halfstudentt test and release notes
  RELEASE-NOTES.md
  pymc/tests/test_distributions.py
Due: no-relative-imports

Revised community naming/mission
  GOVERNANCE.md
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
