Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/examples/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.5.4
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
- repo: https://github.com/PyCQA/isort
  rev: 5.6.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
    - id: pyupgrade
      args: [--py36-plus]
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)
      types: [jupyter]
    - id: check-toc
      entry: python scripts/check_toc_is_complete.py
      language: python
      name: Check all notebooks appear in table of contents
      types: [jupyter]
    - id: check-no-tests-are-ignored
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-to-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$
      language: python
      name: Generate pip dependency from conda
      pass_filenames: false
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

:chart_with_upwards_trend: rerun putting workflow
  docs/source/notebooks/putting_workflow.ipynb
Due: watermark, check-toc

Update scripts/generate_pip_deps_from_conda.py
  scripts/generate_pip_deps_from_conda.py
Due: no-relative-imports

Only pin theano-pymc in requirements.txt (#4322)
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  conda-envs/environment-dev-py36.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
  scripts/sort_conda_envs.py
Due: check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

:adhesive_bandage: fix wrong update
  docs/source/notebooks/putting_workflow.ipynb
Due: watermark, check-toc

:ambulance: fix pip-from-conda
  requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
Due: pip-to-conda, no-relative-imports

:adhesive_bandage: raw code cell -> code cell
  docs/source/notebooks/putting_workflow.ipynb
Due: watermark, check-toc

Fix failing pip-from-conda (#4326)
  requirements-dev.txt
Due: pip-to-conda

:bug: fix incorrect formula
  docs/source/notebooks/putting_workflow.ipynb
Due: watermark, check-toc

Update pymc3/sampling.py
  pymc3/sampling.py
Due: no-relative-imports

Fix bug whereby partial traces have fewer draws than would be available (#4318)
  RELEASE-NOTES.md
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Remove theanof.set_theano_conf and instead use the config context properly
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/tests/test_theanof.py
  pymc3/theanof.py
Due: no-relative-imports

fix precommit
  pymc3/model.py
  pymc3/tests/test_theanof.py
Due: no-relative-imports

add slash workflow
  .github/workflows/dispatched_pre-commit.yml
  .github/workflows/slash_dispatch.yml
Due: none

Remove theanof.set_theano_conf and instead use the config context (#4329)
  RELEASE-NOTES.md
  pymc3/model.py
  pymc3/tests/test_theanof.py
  pymc3/theanof.py
Due: no-relative-imports

:label: type sampling
  pymc3/sampling.py
  pymc3/step_methods/arraystep.py
  pymc3/step_methods/mlda.py
  setup.cfg
Due: no-relative-imports

:fire: remove deprecated vars from sample_prior_predictive
  pymc3/sampling.py
  pymc3/step_methods/arraystep.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Fixup mypy errors in sampling.py (#4327)
  pymc3/sampling.py
  pymc3/step_methods/arraystep.py
  pymc3/step_methods/mlda.py
  pymc3/tests/test_sampling.py
  setup.cfg
Due: no-relative-imports

raise ValueError when Distribution is initialized with a 0-length dimension
  pymc3/distributions/distribution.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Resolve Arviz Hyperlink/directory error to correct directory (api)
  docs/source/conf.py
Due: no-relative-imports

Revert end of line
  docs/source/conf.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config (#4334)
  .pre-commit-config.yaml
Due: none

add slash workflow (#4330)
  .github/workflows/dispatched_pre-commit.yml
  .github/workflows/slash_dispatch.yml
Due: none

Don't match ValueError message because some distributions use different texts
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

:arrow_up: support py39, drop py36
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.rst
  conda-envs/environment-dev-py39.yml
  pymc3/backends/tracetab.py
  pymc3/data.py
  pymc3/model.py
  pyproject.toml
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, conda-env-sort, no-relative-imports

:memo: add release note
  RELEASE-NOTES.md
Due: none

Update releasenotes and apply review feedback
  RELEASE-NOTES.md
  pymc3/distributions/distribution.py
Due: no-relative-imports

Support Python 3.9, drop Python 3.6 (#4332)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.rst
  RELEASE-NOTES.md
  conda-envs/environment-dev-py39.yml
  pymc3/backends/tracetab.py
  pymc3/data.py
  pymc3/model.py
  pyproject.toml
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, conda-env-sort, no-relative-imports

:fire: remove vars from sample_posterior_predictive, other random refactorings
  RELEASE-NOTES.md
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Typo fix
  pymc3/distributions/discrete.py
  pymc3/distributions/dist_math.py
Due: no-relative-imports

add a line to RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

Add numerically safe ordered probit distribution. (#4232)
  RELEASE-NOTES.md
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/dist_math.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Revert "Add numerically safe ordered probit distribution. (#4232)"
  RELEASE-NOTES.md
  pymc3/distributions/__init__.py
  pymc3/distributions/discrete.py
  pymc3/distributions/dist_math.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Remove vars from sample_posterior_predictive, other random refactorings (#4343)
  RELEASE-NOTES.md
  pymc3/sampling.py
  pymc3/tests/test_sampling.py
Due: no-relative-imports

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

use Python3.7+ type hints
  pymc3/plots/posteriorplot.py
Due: no-relative-imports

change notebook output_html
  docs/source/sphinxext/gallery_generator.py
Due: no-relative-imports

revert href change
  docs/source/index.rst
Due: none
