Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
    - id: python-check-mock-methods
    # - id: python-no-eval  # gets confused with all the `.eval()`
    - id: python-no-log-warn
    - id: python-use-type-annotations
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
    - id: text-unicode-replacement-char
- repo: https://github.com/citation-file-format/cffconvert
  rev: 054bda51dbe278b3e86f27c890e3f3ac877d616c
  hooks:
    - id: validate-cff
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
    - id: sphinx-lint
      args: ["."]
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.5
  hooks:
    - id: ruff
      args: [--fix, --show-fixes]
    - id: ruff-format
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

xfail ZarrTrace tests when zarr >= 3 is installed
  tests/backends/test_zarr.py
Due: none

Error on unexpected warnings on test_mcmc_external
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: none

Fix warning condition
  pymc/sampling/jax.py
Due: none

Handle deprecated log_likelihood path in nutpie
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Due: none

Use nutpie by default
  pymc/sampling/mcmc.py
  setup.py
  tests/backends/test_arviz.py
  tests/distributions/test_custom.py
  tests/progress_bar/test_manager.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/sampling/test_mcmc_external.py
  tests/step_methods/hmc/test_nuts.py
Due: none

Install nutpie from main
  .github/workflows/tests.yml
  conda-envs/environment-alternative-backends.yml
  tests/sampling/test_mcmc_external.py
Due: check-no-tests-are-ignored

Raise error on coord/variable name collisions
  pymc/model/core.py
  tests/backends/test_arviz.py
  tests/model/test_core.py
Due: none

Clarify trace docs for external samplers
  pymc/sampling/mcmc.py
Due: none

Fix gamma gradient
  pymc/distributions/rewrites/reparametrization.py
Due: none

Fix wald gradient
  pymc/distributions/rewrites/reparametrization.py
Due: none

Add reparam for Kumaraswamy
  pymc/distributions/rewrites/reparametrization.py
Due: none

bugfixes
  pymc/distributions/rewrites/reparametrization.py
Due: none

Add tests (100% bot generated)
  pymc/distributions/rewrites/__init__.py
  tests/distributions/rewriting/__init__.py
  tests/distributions/rewriting/test_reparameterization.py
Due: none

Delay ShapeFeature to logprob rewrites
  pymc/logprob/rewriting.py
Due: none

Implement transform for Wishart
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  pymc/testing.py
  tests/distributions/test_distribution.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_transform.py
Due: none

Dedupe entries in transforms.__all__
  pymc/distributions/transforms.py
Due: none

fix model_table import
  tests/test_printing.py
Due: none

Automate math listing
  docs/source/api/math.rst
  pymc/math.py
Due: no-internal-links

Move all exceptions to exceptions.py
  pymc/__init__.py
  pymc/exceptions.py
  tests/distributions/test_discrete.py
  tests/distributions/test_shape_utils.py
  tests/ode/test_ode.py
  tests/sampling/test_jax.py
Due: none

arviz_* fixes
  docs/source/api.rst
  docs/source/api/stats.rst
  docs/source/conf.py
Due: no-internal-links

Remove re-export of logaddexp/logsumexp functions
  docs/source/api/math.rst
  pymc/__init__.py
Due: no-internal-links

Remove printing re-export in main namespace
  pymc/__init__.py
Due: none

Revert removal of pm.compute_log_likelihood
  docs/source/api/misc.rst
  docs/source/learn/core_notebooks/model_comparison.ipynb
  pymc/__init__.py
Due: no-internal-links

Remove init from expected failures
  scripts/run_mypy.py
Due: none

Remove re-export of guess_scaling/trace_cov functions
  pymc/tuning/__init__.py
Due: none

Remove stats re-export into main namespace
  docs/source/api.rst
  docs/source/api/misc.rst
  docs/source/learn/core_notebooks/model_comparison.ipynb
  pymc/__init__.py
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
Due: no-internal-links

Remove re-export of base-classes from variational.py
  docs/source/api/vi.rst
  pymc/sampling/mcmc.py
  pymc/variational/__init__.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  tests/variational/test_approximations.py
  tests/variational/test_callbacks.py
  tests/variational/test_inference.py
Due: no-internal-links

Remove re-export of pytensorf functions
  pymc/__init__.py
  pymc/func_utils.py
  pymc/step_methods/metropolis.py
  pymc/tuning/starting.py
  pymc/variational/approximations.py
  pymc/variational/operators.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  tests/backends/test_mcbackend.py
  tests/distributions/test_simulator.py
  tests/distributions/test_transform.py
  tests/model/test_core.py
  tests/test_data.py
  tests/test_pytensorf.py
  tests/variational/test_approximations.py
  tests/variational/test_inference.py
Due: none

Use literal re-export from forward and mcmc for type-checkers
  pymc/sampling/__init__.py
Due: none

Remove vartypes re-export in main namespace
  pymc/__init__.py
  pymc/step_methods/metropolis.py
Due: none

Remove duplicated warning
  pymc/sampling/mcmc.py
Due: none

Add more exports to math.py
  pymc/math.py
Due: none

Add test to keep namespace tidy
  tests/test_root_namespace.py
Due: none

Remove blocking re-export in main namespace
  docs/source/api/misc.rst
  pymc/__init__.py
Due: no-internal-links

Update math.rst
  docs/source/api/math.rst
Due: no-internal-links
