Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

extra tweaks
  docs/source/contributing/jupyter_style.md
Due: none

fix tests
  pymc/backends/arviz.py
  pymc/tests/test_data_container.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_smc.py
Due: no-relative-imports

remove plot_posterior_predictive_glm
  .github/workflows/pytest.yml
  pymc/plots/__init__.py
  pymc/plots/posteriorplot.py
  pymc/tests/test_plots.py
Due: check-no-tests-are-ignored, no-relative-imports

add report fallback again
  pymc/backends/arviz.py
Due: no-relative-imports

tighten test_sample_after_set_data bound
  pymc/tests/test_data_container.py
Due: no-relative-imports

support nan value in plot_dependence (#5270)
  pymc/bart/utils.py
Due: no-relative-imports

better representation for discrete/categorical variables
  pymc/bart/utils.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Autofill the version slug
  docs/source/404.md
  docs/source/conf.py
Due: no-relative-imports

Remove spaces
  docs/source/404.md
Due: none

get rid of the button to parse the substitution
  docs/source/404.md
Due: none

fix link rendering
  docs/source/404.md
Due: none

add newline at the end of file
  docs/source/404.md
Due: none

fix link to v3 (#5262)
  docs/source/404.md
  docs/source/conf.py
Due: no-relative-imports

Update pymc/sampling.py
  pymc/sampling.py
Due: no-relative-imports

add note on myst
  docs/source/conf.py
  docs/source/contributing/jupyter_style.md
Due: no-relative-imports

add note on extra dependencies
  docs/source/contributing/jupyter_style.md
Due: none

Update jupyter style guide (#5267)
  docs/source/conf.py
  docs/source/contributing/jupyter_style.md
Due: no-relative-imports

add example and one extra test with thinning
  pymc/sampling.py
  pymc/tests/test_idata_conversion.py
  pymc/util.py
Due: no-relative-imports

Revised supporting text in GLM notebook'
  docs/source/learn/examples/GLM_linear.ipynb
Due: none

better representation for discrete/categorical variables (#5272)
  pymc/bart/utils.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Update posterior predictive sampling and notebook (#5268)
  .github/workflows/pytest.yml
  docs/source/learn/examples/posterior_predictive.ipynb
  pymc/backends/arviz.py
  pymc/plots/__init__.py
  pymc/plots/posteriorplot.py
  pymc/sampling.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_missing.py
  pymc/tests/test_plots.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_smc.py
  pymc/util.py
Due: check-no-tests-are-ignored, no-relative-imports

Compile single function in Model.point_logps
  pymc/model.py
Due: no-relative-imports

Drop internal uses of deprecated Model.initial_point method
  pymc/backends/base.py
  pymc/model.py
  pymc/sampling_jax.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_step.py
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

Fixed bambi link; draft getting started update
  docs/source/learn/examples/GLM_linear.ipynb
  docs/source/learn/examples/getting_started.ipynb
Due: none

Updates to getting started notebook
  docs/source/learn/examples/getting_started.ipynb
Due: none

more
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Refactor chain sampling methods
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Create utils.py
  pymc/smc/utils.py
Due: no-relative-imports

runners file
  pymc/smc/runners.py
  pymc/smc/sample_smc.py
Due: no-relative-imports

Update sample_smc.py
  pymc/smc/sample_smc.py
Due: no-relative-imports

a
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

f
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Update test_smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Change optimization error function and refactor tests
  pymc/func_utils.py
  pymc/tests/test_util.py
Due: no-relative-imports

pre commit running
  pymc/smc/runners.py
  pymc/smc/sample_smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Updated getting started and renamed to "pymc_overview"
  docs/source/learn/examples/getting_started.ipynb
  docs/source/learn/examples/pymc_overview.ipynb
Due: none

reorder
  pymc/smc/runners.py
Due: no-relative-imports

Use aesaraf.compile_pymc
  pymc/func_utils.py
Due: no-relative-imports
