Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

remove comment
  tests/logprob/test_censoring.py
Due: no-relative-imports

Re-organize test_transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Fix probability of cosh transform
  pymc/logprob/transforms.py
  tests/distributions/test_transform.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Fix CDF and iCDF derivations based on monotonicity
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Use numpy.testing.assert_allclose in test_transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Add colors to tests
  pyproject.toml
Due: none

Update documentation for max logprob
  pymc/logprob/order.py
Due: no-relative-imports

Doc for Max logprob
  docs/source/api/logprob.rst
  docs/source/api/order_stats.rst
  pymc/logprob/order.py
Due: no-relative-imports, no-internal-links

"to" -> "of"
  pymc/distributions/continuous.py
Due: no-relative-imports

Adding description to Gumbel Distribution (#6810)
  pymc/distributions/continuous.py
Due: no-relative-imports

Rephrase 1
  docs/source/api/logprob.rst
  docs/source/api/order_stats.rst
Due: no-internal-links

Add test for broadcastability
  tests/logprob/test_censoring.py
Due: no-relative-imports

Add docstring in test saying discrete is not supported yet
  tests/logprob/test_censoring.py
Due: no-relative-imports

Modify encoding from int to float in tests
  tests/logprob/test_censoring.py
Due: no-relative-imports

update citation
  CITATION.bib
  README.rst
Due: none

added instructions for nutpie
  docs/source/installation.md
Due: no-internal-links

Fix TestMatrixNormal.check_draws
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Make PosDefMatrix Op output type boolean
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Add JAX implementation of PosDefMatrix Op
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Due: no-relative-imports

Remove SpecifyShape from Assert JAX
  pymc/sampling/jax.py
Due: no-relative-imports

Seed flaky TestHSGP.test_prior
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

fix format library citation
  CITATION.bib
  README.rst
Due: none

add methods
  pymc/model.py
Due: no-relative-imports

add test structure
  tests/test_model.py
Due: no-relative-imports

fix docstrings
  pymc/model.py
Due: no-relative-imports

remove networkx method
  pymc/model.py
  tests/test_model.py
Due: no-relative-imports

imptove tests
  tests/test_model.py
Due: no-relative-imports
