Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

rm trailing whitespace
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Also pull version tags
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

update links to Welcome bot images
  .github/config.yml
Due: none

Gitpod instructions: use latest version of pymc (#7106)
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Move 'Implementing a Random Variable' to last position in 'How To' section
  docs/source/contributing/index.md
  requirements-dev.txt
Due: none

Fix progress bar for parallel sampling
  pymc/smc/sampling.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

start adding options for dropping hsgp basis vectors
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

Add a flag to LKJCorr to return the unpacked correlation matrix (#7100)
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
Due: no-relative-imports

Allow jitter boolean to be set through nuts_sampler_kwargs (#7083)
  pymc/sampling/jax.py
  tests/sampling/test_jax.py
Due: no-relative-imports

add drop_first arg to HSGPPeriodic
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

see if this fixes xfailed test
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

remove swapaxes before and after scan
  pymc/sampling/jax.py
Due: no-relative-imports

Enable RUF lints
  pyproject.toml
Due: none

Remove useless str in fstring
  pymc/_version.py
Due: none

Fix RUF015
  pymc/backends/mcbackend.py
  pymc/distributions/truncated.py
  tests/logprob/test_basic.py
  tests/test_pytensorf.py
Due: no-relative-imports

Fix RUF013
  pymc/distributions/shape_utils.py
  pymc/initial_point.py
  pymc/sampling/forward.py
Due: no-relative-imports

Fix RUF005
  pymc/_version.py
  pymc/backends/arviz.py
  pymc/backends/ndarray.py
  pymc/distributions/discrete.py
  pymc/distributions/dist_math.py
  pymc/distributions/distribution.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/timeseries.py
  pymc/distributions/transforms.py
  pymc/logprob/mixture.py
  pymc/logprob/rewriting.py
  pymc/logprob/scan.py
  pymc/model/core.py
  pymc/plots/__init__.py
  pymc/sampling/jax.py
  pymc/stats/__init__.py
  pymc/step_methods/compound.py
  pymc/testing.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  tests/backends/fixtures.py
  tests/backends/test_arviz.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/logprob/utils.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/test_pytensorf.py
  tests/test_util.py
  tests/variational/test_inference.py
Due: no-relative-imports

Started updating pymc.model.core.Model
  pymc/model/core.py
Due: no-relative-imports

removed a fat-fingered line
  pymc/model/core.py
Due: no-relative-imports

missed an ndarray
  pymc/model/core.py
Due: no-relative-imports

drop first removes first cos term, first sine term always removed
  pymc/gp/hsgp_approx.py
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

fix tests
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

Renamed gp.predict to gp.compile_predict
  pymc/gp/gp.py
Due: no-relative-imports

Remove block_diag from pymc.math in favor of alias to pytensor.tensor.slinalg.block_diag
  pymc/math.py
Due: no-relative-imports

Upgrade to ruff 0.2.0 and fix RUF017
  .pre-commit-config.yaml
  pymc/backends/report.py
  pymc/logprob/scan.py
  pymc/variational/opvi.py
  pyproject.toml
  requirements-dev.txt
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

Add logprob for discrete minimum of IID variables
  pymc/logprob/order.py
  pymc/logprob/utils.py
  tests/logprob/test_order.py
Due: no-relative-imports

Support discrete negation and addition
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Add debug print
  pymc/variational/operators.py
Due: no-relative-imports

Fix missing newline
  requirements-dev.txt
Due: none
