Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

removed pymc.backends.tracetabs from _init_.py
  pymc/__init__.py
Due: no-relative-imports

Simplify function
  pymc/sampling_jax.py
Due: no-relative-imports

Refactor get_jaxified_logp
  pymc/sampling_jax.py
Due: no-relative-imports

Fix url
  .github/workflows/jaxtests.yml
Due: none

Add library versions
  pymc/sampling_jax.py
Due: no-relative-imports

Lint fixes
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

Adding NUTS sampler from blackjax to sampling_jax
  pymc/sampling_jax.py
  pymc/tests/test_sampling_jax.py
Due: no-relative-imports

Add documentation
  docs/source/api/samplers.rst
  pymc/sampling_jax.py
Due: no-relative-imports

Move to more appropriate section
  docs/source/api/samplers.rst
Due: none

Install blackjax in workflows
  .github/workflows/jaxtests.yml
Due: none

Fix docstrings
  pymc/sampling_jax.py
Due: no-relative-imports

Add jax to dev environment
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
Due: pip-from-conda

Jax doesn't work on windows, remove it
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
Due: none

Exclude jax
  scripts/generate_pip_deps_from_conda.py
Due: no-relative-imports

Add start of dimensionality notebook doc (#5437)
  docs/source/api.rst
  docs/source/learn/examples.md
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Remove tracetab.py (#5479)
  pymc/__init__.py
  pymc/backends/tracetab.py
  pymc/tests/test_tracetab.py
Due: no-relative-imports

MNT Removes pandas series from point_logps
  pymc/model.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/tests/test_transforms.py
Due: no-relative-imports

Fix the non-tuple indexing deprecated warning for Minibatch
  pymc/data.py
Due: no-relative-imports

add test for get_data function
  pymc/tests/test_data_container.py
Due: no-relative-imports

simplify serveral tests in TestMinibatch
  pymc/tests/test_minibatches.py
Due: no-relative-imports

Fix coverage for test_minibatches
  pymc/tests/test_minibatches.py
Due: no-relative-imports

Fix command to render documentation in build_docs
  docs/source/contributing/build_docs.md
Due: none

Fix linting link in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix command to render documentation in build_docs (#5482)
  docs/source/contributing/build_docs.md
Due: none

MNT Removes pandas dependence in sampling_jax
  pymc/sampling_jax.py
Due: no-relative-imports

Add space between colon in parameters
  pymc/data.py
Due: no-relative-imports

Fix link to Model.set_data function in documentation
  pymc/data.py
Due: no-relative-imports

Fix docstring parameters type
  pymc/data.py
Due: no-relative-imports

Fix link to example notebook
  pymc/data.py
Due: no-relative-imports

Add punctuation to parameter description
  pymc/data.py
Due: no-relative-imports

Move information to extended description
  pymc/data.py
Due: no-relative-imports

Move parameter description to respect parameters order
  pymc/data.py
Due: no-relative-imports

Add double ticks for code references in docstrings
  pymc/data.py
Due: no-relative-imports

Link function in pymc
  pymc/data.py
Due: no-relative-imports

Add default behaviour of optional parameters
  pymc/data.py
Due: no-relative-imports

Add reference to pm.Data in pm.ConstantData and pm.MutableData
  pymc/data.py
Due: no-relative-imports

Update pymc/data.py
  pymc/data.py
Due: no-relative-imports

:wrench: Add check for docs cross-references #5317
  .pre-commit-config.yaml
Due: none
