Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
    - id: black-jupyter
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.0b1
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
    - id: pydocstyle
      args:
      - --ignore=D100,D101,D102,D103,D104,D105,D107,D200,D202,D203,D204,D205,D209,D212,D213,D301,D400,D401,D403,D413,D415,D417
      files: ^pymc/
      exclude: ^pymc/tests/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Deprecate pytensor_config
  pymc/model/core.py
  tests/model/test_core.py
  tests/sampling/test_mcmc.py
  tests/variational/test_approximations.py
Due: no-relative-imports

Remove deprecated model methods
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

Deprecate Model.model property
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

add comment
  pymc/distributions/continuous.py
Due: no-relative-imports

use class attr dtype
  pymc/distributions/continuous.py
Due: no-relative-imports

need else stmt for dtype
  pymc/distributions/continuous.py
Due: no-relative-imports

Update docs/source/api/model/core.rst
  docs/source/api/model/core.rst
Due: no-internal-links

Bump Pytensor dependency to >=2.18.1,<2.19
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-jax.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

actually no need to downcast in this method
  pymc/distributions/continuous.py
Due: no-relative-imports

fix output type
  pymc/logprob/utils.py
Due: no-relative-imports

rm unused import
  pymc/distributions/continuous.py
Due: no-relative-imports

Better float32 sampling support for TruncatedNormal (#7026)
  pymc/distributions/continuous.py
Due: no-relative-imports

Adding add_coords method
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

Fix sampling & jax docs imports
  docs/source/api/samplers.rst
Due: no-internal-links

Another small fixes in docs and imports (#7030)
  docs/source/api/math.rst
  docs/source/api/model/core.rst
  docs/source/api/pytensorf.rst
  docs/source/api/samplers.rst
  pymc/distributions/transforms.py
Due: no-relative-imports, no-internal-links

Update installation instructions to remove incompatibility of JAX on Windows
  docs/source/installation.md
Due: no-internal-links

add InnerGraphRewriter
  pymc/logprob/utils.py
Due: no-relative-imports

replace functions by InnerGraphRewriters
  pymc/logprob/utils.py
Due: no-relative-imports

remove commented code
  pymc/logprob/utils.py
Due: no-relative-imports

Update pymc/logprob/utils.py
  pymc/logprob/utils.py
Due: no-relative-imports

Implement schedulers as function wrappers
  pymc/variational/opvi.py
  pymc/variational/updates.py
  tests/variational/test_callbacks.py
  tests/variational/test_updates.py
Due: no-relative-imports

Implement schedulers as function wrappers
  tests/variational/test_callbacks.py
Due: no-relative-imports

Run pre-commit hooks
  pymc/variational/updates.py
  tests/variational/test_callbacks.py
  tests/variational/test_updates.py
Due: no-relative-imports

Change typehint from `Callable` to `partial` for mypy
  pymc/variational/updates.py
Due: no-relative-imports

call convergence_check after sampling with numpyro
  pymc/sampling/mcmc.py
Due: no-relative-imports

Call `run_convergence_checks` after sampling with blackjax
  pymc/sampling/mcmc.py
Due: no-relative-imports

Improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use dataset.sizes instead of dataset.dims
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
  tests/sampling/test_jax.py
  tests/smc/test_smc.py
Due: no-relative-imports

add helper functions to calculate required M for hsgp
  pymc/gp/cov.py
  tests/gp/test_cov.py
Due: no-relative-imports

Improve PR template (#7052)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

HSGP periodic (#6877)
  pymc/gp/__init__.py
  pymc/gp/cov.py
  pymc/gp/hsgp_approx.py
  tests/gp/test_cov.py
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

Avoid inplace mutation in replace_rvs_by_values
  pymc/logprob/utils.py
  pymc/pytensorf.py
  tests/logprob/test_utils.py
  tests/test_pytensorf.py
Due: no-relative-imports

Add test for Blockwise logp regression
  tests/distributions/test_multivariate.py
Due: no-relative-imports

working on futurewarning for sumto1
  pymc/distributions/transforms.py
Due: no-relative-imports
