Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

fixed version typo
  scripts/Dockerfile
Due: none

target GLM_linear >> glm_linear
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

target GLM_linear >> glm_linear (#6714)
  docs/source/learn/core_notebooks/GLM_linear.ipynb
Due: no-internal-links

Add ICDF function to laplace distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Add ICDF function to pareto distribution
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
Due: no-relative-imports

Type overloading for return_inferencedata in pm.sample() (#6709)
  pymc/sampling/mcmc.py
Due: no-relative-imports

Change logger names from all "pymc" to module name (__name__)
  pymc/__init__.py
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/backends/mcbackend.py
  pymc/backends/report.py
  pymc/distributions/simulator.py
  pymc/ode/ode.py
  pymc/sampling/forward.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/sampling.py
  pymc/stats/convergence.py
  pymc/step_methods/hmc/base_hmc.py
  tests/sampling/test_forward.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

implement oriol's suggestions
  docs/source/learn/core_notebooks/Gaussian_Processes.rst
Due: no-internal-links

Update docs/source/learn/core_notebooks/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/Gaussian_Processes.rst
Due: no-internal-links

update gaussian_processes.rst (#6693)
  docs/source/learn/core_notebooks/Gaussian_Processes.rst
  docs/source/learn/core_notebooks/index.md
Due: no-internal-links

add redirects from old v3 notebooks
  docs/source/conf.py
  docs/source/learn/core_notebooks/index.md
Due: no-relative-imports

fix redirects
  docs/source/conf.py
Due: no-relative-imports

Add redirects from old v3 notebooks (#6719)
  docs/source/conf.py
  docs/source/learn/core_notebooks/index.md
Due: no-relative-imports

Add polyagamma to docs env
  conda-envs/environment-docs.yml
Due: none

Rename _replace_rvs_in_graphs and fix bug when replacing input
  pymc/logprob/utils.py
  pymc/pytensorf.py
  tests/test_pytensorf.py
Due: no-relative-imports

Handle Scan in collect_default_updates
  pymc/distributions/distribution.py
  pymc/pytensorf.py
  tests/distributions/test_distribution.py
  tests/test_pytensorf.py
Due: no-relative-imports

Remove `joint_logprob` function from `tests.logprob.utils` (#6650)
  tests/logprob/test_basic.py
  tests/logprob/test_censoring.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_cumsum.py
  tests/logprob/test_mixture.py
  tests/logprob/test_rewriting.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/test_transforms.py
  tests/logprob/utils.py
Due: no-relative-imports

Introduce isotropic stationary kernels along with a generalized period kernel
  .gitignore
  pymc/gp/cov.py
Due: no-relative-imports

Introduce isotropic stationary kernels along with a generalized period kernel
  pymc/gp/cov.py
  tests/gp/test_cov.py
Due: no-relative-imports

merging upload and merge step together, fixing env error
  .github/workflows/tests.yml
Due: none

Refactor code such that we extend existing periodic kernel instead of creating a new one; and implemented such that the base kernel is passed by class rather than by instance
  pymc/gp/cov.py
  tests/gp/test_cov.py
Due: no-relative-imports

Refactor code such that we extend existing periodic kernel instead of creating a new one; and implemented such that the base kernel is passed by class rather than by instance
  pymc/gp/cov.py
Due: no-relative-imports

Update PyTensor dependency
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Increase type hint coverage for cov funcs
  pymc/gp/cov.py
Due: no-relative-imports

Move isotropic stationary functionality into stationary kernel
  pymc/gp/cov.py
Due: no-relative-imports

Update HSGP prior_linearized example to point to _m_star instead of m_star
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

Avoid cloning of Minibatch values
  pymc/data.py
  pymc/logprob/basic.py
  pymc/logprob/rewriting.py
  tests/variational/test_minibatch_rv.py
Due: no-relative-imports

Fix Minibatch for multiple variables
  pymc/data.py
  tests/test_data.py
Due: no-relative-imports

Remove -> None from init type annotations, and minor cleanup
  pymc/gp/cov.py
Due: no-relative-imports

Fix nested replacement of useless IR conversions
  pymc/logprob/rewriting.py
  tests/logprob/test_composite_logprob.py
Due: no-relative-imports

Remove IR `Op`s from final logprob graph
  pymc/logprob/basic.py
  pymc/logprob/rewriting.py
  pymc/logprob/transforms.py
  tests/logprob/test_rewriting.py
  tests/logprob/test_transforms.py
  tests/test_model.py
Due: no-relative-imports

More informative error message in instantiate_steppers
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
