Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

try admonition
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

try double indent
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Updated Potential docstring as per suggestion
  pymc/model.py
Due: no-relative-imports

resize image
  docs/source/contributing/gitpod/gitpod_integration.png
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

pre-commit error
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

add workspace image
  docs/source/contributing/gitpod/gitpod_integration.png
  docs/source/contributing/gitpod/new_workspace.png
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

clean up formatting
  docs/source/contributing/gitpod/gitpod_workspace.png
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

fix pre-commit error
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Fix no-commit-to-branch pre-commit hook to protect main
  .pre-commit-config.yaml
Due: none

use generic user name
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Updated docstring for Potential function (#6559)
  pymc/model.py
Due: no-relative-imports

Update pymc/gp/hsgp.py
  pymc/gp/hsgp.py
Due: no-relative-imports

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

changed params after sigma to kwarg only
  pymc/distributions/continuous.py
Due: no-relative-imports

fix mypy errors
  pymc/gp/hsgp.py
  tests/gp/test_hsgp.py
Due: no-relative-imports

as_tensor_variable
  pymc/gp/hsgp.py
  tests/gp/test_hsgp.py
Due: no-relative-imports

remove print
  pymc/gp/hsgp.py
Due: no-relative-imports

added tests for uniform icdf
  pymc/distributions/continuous.py
  pymc/tests/distributions/test_continuous.py
Due: no-relative-imports

Adding Mistplay image in the Readme
  README.rst
Due: none

add test_hsgp.py to test runner
  .github/workflows/tests.yml
Due: none

Exclude tests from package discovery (#6552)
  MANIFEST.in
  pymc/data.py
  setup.py
Due: no-relative-imports

Fix bug in transform_scan_values
  pymc/logprob/transforms.py
  tests/logprob/test_transforms.py
Due: no-relative-imports

Bring back testing utilities used in downstream packages
  .github/workflows/tests.yml
  docs/source/contributing/implementing_distribution.md
  pymc/testing.py
  tests/distributions/test_continuous.py
  tests/distributions/test_discrete.py
  tests/distributions/test_distribution.py
  tests/distributions/test_mixture.py
  tests/distributions/test_multivariate.py
  tests/distributions/test_simulator.py
  tests/distributions/test_timeseries.py
  tests/distributions/test_transform.py
  tests/distributions/test_truncated.py
  tests/helpers.py
  tests/logprob/test_censoring.py
  tests/logprob/test_composite_logprob.py
  tests/logprob/test_cumsum.py
  tests/logprob/test_joint_logprob.py
  tests/logprob/test_mixture.py
  tests/logprob/test_scan.py
  tests/logprob/test_tensor.py
  tests/logprob/test_transforms.py
  tests/logprob/test_utils.py
  tests/ode/test_ode.py
  tests/sampler_fixtures.py
  tests/sampling/test_forward.py
  tests/sampling/test_mcmc.py
  tests/smc/test_smc.py
  tests/step_methods/test_compound.py
  tests/step_methods/test_metropolis.py
  tests/test_data.py
  tests/test_math.py
  tests/test_model.py
  tests/test_model_graph.py
  tests/test_pytensorf.py
  tests/test_testing.py
  tests/tuning/test_starting.py
  tests/variational/test_minibatch_rv.py
Due: no-relative-imports, no-internal-links

Fix typos in Potential docstring
  pymc/model.py
Due: no-relative-imports

Adding dims parameter in Potential
  pymc/model.py
Due: no-relative-imports

indent note
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

use console instead of bash for backticks content
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

indent list
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

verb grammar
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

use console instead of bash
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

clean up text
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

clean up text and formatting
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
