Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

fix conda env
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/404.md
  docs/source/conf.py
Due: conda-env-sort, pip-from-conda, no-relative-imports

Add PyMC
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix docstring
  pymc/step_methods/pgbart.py
Due: no-relative-imports

BART: add linear response, increase number of trees fitted per step (#5044)
  pymc/distributions/bart.py
  pymc/distributions/tree.py
  pymc/step_methods/pgbart.py
  pymc/tests/test_bart.py
Due: no-relative-imports

move BART to its own module
  pymc/__init__.py
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/distributions/__init__.py
  pymc/sampling.py
  pymc/step_methods/__init__.py
  pymc/step_methods/hmc/nuts.py
  pymc/tests/test_bart.py
Due: no-relative-imports

add missing file
  pymc/bart/__init__.py
Due: no-relative-imports

fix pre-commit?
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

move BART to its own module (#5058)
  pymc/__init__.py
  pymc/bart/__init__.py
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/distributions/__init__.py
  pymc/sampling.py
  pymc/step_methods/__init__.py
  pymc/step_methods/hmc/nuts.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Add test case for constant_data coords issue #5046
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Don't replace local coords variable inside iterator
  pymc/backends/arviz.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Fix coords in constant_data issue #5046 (#5062)
  pymc/backends/arviz.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Implement method for fast evals of (un)transformed RV shapes
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Simplify _check_start_shape
  pymc/sampling.py
  pymc/tests/test_sampling.py
Due: no-relative-imports

Fix flaky test #5063
  pymc/tests/test_step.py
Due: no-relative-imports

Add regression test for issue #5043
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Manage coord values as tuples
  pymc/backends/arviz.py
  pymc/model.py
  pymc/tests/test_data_container.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

fix pre commit
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  requirements-dev.txt
Due: conda-env-sort, pip-from-conda

remove unused script
  scripts/sort_conda_envs.py
Due: no-relative-imports

Manage coordinates as tuples (#5061)
  pymc/backends/arviz.py
  pymc/model.py
  pymc/tests/test_data_container.py
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Use np.linalg.slogdet
  tests/test_transforms.py
Due: no-relative-imports

Make transform tests handle broadcasting for multivariate distributions
  tests/test_transforms.py
Due: no-relative-imports

Concatenate Simplex backward transform on last axis
  aeppl/transforms.py
Due: no-relative-imports

Use last dimension ordering for multidimensional distributions
  aeppl/logprob.py
  tests/test_logprob.py
Due: no-relative-imports

Rename StickBreaking to Simplex
  aeppl/transforms.py
Due: no-relative-imports

add 404 page to docs (#5057)
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/404.md
  docs/source/conf.py
  requirements-dev.txt
  scripts/sort_conda_envs.py
Due: conda-env-sort, pip-from-conda, no-relative-imports

Update to ArviZ 0.11.4 and fix tests
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  pymc/tests/test_distributions.py
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda, no-relative-imports

Remove dict_to_dataset workaround
  pymc/backends/arviz.py
Due: no-relative-imports

Regenerate rerquirements.
  requirements-dev.txt
Due: none

Fix broken links in README
  README.rst
Due: none

Keep original value variables as keys in factorized_joint_logprob
  aeppl/joint_logprob.py
  aeppl/mixture.py
  aeppl/opt.py
  aeppl/scan.py
  aeppl/transforms.py
  tests/test_joint_logprob.py
  tests/test_transforms.py
Due: no-relative-imports

Map value variables directly to `set_subtensor` random variables
  aeppl/opt.py
  tests/test_joint_logprob.py
Due: no-relative-imports

changes to satisfy pre-commit checks
  docs/source/contributing/index.md
  docs/source/index.md
Due: none

Remove libblas, mkl and m2w64-toolchain dependencies (#4932)
  .github/workflows/pytest.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
  scripts/generate_pip_deps_from_conda.py
Due: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  conda-env-sort: any of: ^conda-envs/environment-dev-py37\.yml$ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/tests/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
