Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Update pymc/tests/test_model.py
  pymc/tests/test_model.py
Due: no-relative-imports

update tests
  pymc/tests/test_model.py
Due: no-relative-imports

Rename `logp_transform` to `_get_default_transform` and move it to transforms.py
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/distributions/logprob.py
  pymc/distributions/transforms.py
  pymc/model.py
Due: no-relative-imports

Add docstrings to transforms.simplex
  pymc/distributions/transforms.py
Due: no-relative-imports

WIP Improve scoped models (#5607)
  pymc/model.py
  pymc/tests/test_data_container.py
  pymc/tests/test_model.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Create helper wrapper around Aeppl IntervalTransform
  docs/source/api/distributions/transforms.rst
  pymc/distributions/continuous.py
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  pymc/tests/test_distributions.py
  pymc/tests/test_sampling.py
  pymc/tests/test_transforms.py
Due: no-relative-imports

Do not make transforms module accessible at root level
  RELEASE-NOTES.md
  docs/source/api/distributions/transforms.rst
  pymc/__init__.py
  pymc/distributions/transforms.py
Due: no-relative-imports

Do not set RNG updates inplace in compile_pymc
  pymc/aesaraf.py
  pymc/tests/test_aesaraf.py
Due: no-relative-imports

Code Review Updates
  pymc/smc/smc.py
  pymc/tests/test_smc.py
Due: no-relative-imports

Change trigger rules to activate paths filter
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Update outdated parts of contributing guide and PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

cange commit hash
  CONTRIBUTING.md
Due: none

break everything and check CI
  pymc/sampling.py
Due: no-relative-imports

Revised community naming/mission
  GOVERNANCE.md
Due: none

try different yaml format
  .github/workflows/arviz_compat.yml
Due: none

Refine trigger filter for both PRs and pushes
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Add section on contribution etiquette
  CONTRIBUTING.md
Due: none

Remove old, unused build script
  buildosx
Due: none

Combine test workflows
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/tests.yml
  scripts/check_all_tests_are_covered.py
Due: no-relative-imports

start private API section
  .gitignore
  Makefile
  docs/source/contributing/index.md
  docs/source/contributing/private_api/index.md
  docs/source/contributing/private_api/tests.rst
Due: none

Drop latest ArviZ tests, upgrade to Ubuntu 20.04 and add MacOS jobs
  .github/workflows/tests.yml
Due: none

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

Update contributing guide with etiquette section (#5611)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

make dist signatures consistent
  pymc/distributions/continuous.py
Due: no-relative-imports

Fix Windows jobs & redistribute to reduce runtime
  .github/workflows/tests.yml
  pymc/tests/test_ode.py
  scripts/check_all_tests_are_covered.py
Due: no-relative-imports

Remove `BaseStochasticGradient` step method
  RELEASE-NOTES.md
  pymc/step_methods/sgmcmc.py
Due: no-relative-imports

Remove XFAILed exact sample comparison test
  pymc/tests/test_step.py
Due: no-relative-imports

Run only selected tests under float32
  .github/workflows/tests.yml
Due: none
