Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Make SMC Op wrappers respect node dtype not config
  pymc/distributions/simulator.py
Due: none

Mark test as xfail
  tests/distributions/test_simulator.py
Due: none

fix: scan derived logprob when observed adds brodcastable axes
  pymc/logprob/scan.py
  tests/distributions/test_custom.py
Due: none

Removed tune stat
  pymc/step_methods/metropolis.py
Due: none

attempt to fix warmup bookkeeping
  pymc/backends/mcbackend.py
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  tests/backends/test_mcbackend.py
  tests/sampling/test_mcmc.py
Due: none

Temporarily run alternative_backends in python 3.13 due to nutpie
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Bump PyTensor dependency and test on 3.14
  .github/workflows/tests.yml
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/smc/sampling.py
  pymc/variational/operators.py
  requirements-dev.txt
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, pip-from-conda

Switch to new Scan API
  pymc/distributions/timeseries.py
  pymc/logprob/transforms.py
  pymc/pytensorf.py
  pymc/variational/approximations.py
  pymc/variational/opvi.py
  tests/distributions/test_custom.py
  tests/logprob/test_scan.py
  tests/logprob/test_transform_value.py
  tests/test_pytensorf.py
Due: none

Added arviz-base dependency in conda-envs/environment-dev.yml
  conda-envs/environment-dev.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Transferred imports of rcParams and requires from arviz to arviz_base
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  pymc/backends/arviz.py
  requirements-dev.txt
Due: pip-from-conda

Fixed UserWarning when converting sample_stats to idata
  pymc/backends/arviz.py
  pymc/smc/sampling.py
Due: none

Added arviz-base to requirements list
  requirements-dev.txt
  requirements.txt
Due: none

Attempting to add arviz-base as a dependency
  conda-envs/environment-docs.yml
Due: none

Bump minor PyTensor dependency
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  pymc/distributions/multivariate.py
  requirements-dev.txt
  requirements.txt
  tests/distributions/test_custom.py
  tests/logprob/test_scan.py
Due: pip-from-conda

Add pre-sampling validation for dims/coords consistency
  pymc/sampling/mcmc.py
  tests/sampling/test_issue_7891.py
Due: none

Added arviz-base to dependency lists
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
Due: none

Added `quiet` argument to `sample()` to suppress all output.
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Due: none

Add pytensor linker matrix ("cvm", "numba") to tests
  .github/workflows/tests.yml
  scripts/check_all_tests_are_covered.py
Due: check-no-tests-are-ignored

Make HalfCauchy a symbolic RV
  pymc/dims/distributions/scalar.py
  pymc/distributions/continuous.py
  tests/distributions/test_continuous.py
  tests/logprob/test_transform_value.py
  tests/test_printing.py
Due: none

Attempt to fix failing CI tests
  pymc/backends/arviz.py
  tests/backends/test_arviz.py
Due: none

Ignore warning that is filtered but erased by pytest
  tests/backends/test_arviz.py
Due: none

Temporary workaround for Dirichlet
  pymc/distributions/multivariate.py
Due: none

Numba RV draws don't always match exactly with numpy/scipy
  pymc/testing.py
  tests/distributions/test_continuous.py
Due: none

Use FAST_COMPILE in test param
  tests/distributions/test_multivariate.py
Due: none

update python version
  .github/workflows/mypy.yml
  .github/workflows/publish-release-notes-to-discourse.yml
  .github/workflows/tests.yml
  pyproject.toml
  setup.py
Due: check-no-tests-are-ignored

add messurable logprob for iid normal to support observe(pm.math.sum)
  pymc/logprob/order.py
  tests/model/transform/test_conditioning.py
Due: none

make warmup/tune driver owned and persist per draw tune marker via backends
  pymc/backends/base.py
  pymc/backends/mcbackend.py
  pymc/backends/ndarray.py
  pymc/backends/zarr.py
  pymc/progress_bar.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
Due: none

Add arviz_base dependency
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
Due: pip-from-conda

Transferred imports of rcParams and requires from arviz to arviz_base
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  pymc/backends/arviz.py
  requirements-dev.txt
Due: pip-from-conda

Final update to function calls in backends/arviz and smc/sampling
  pymc/backends/arviz.py
  pymc/smc/sampling.py
Due: none

persist driver owned warmup marker as in_warmup
  pymc/backends/arviz.py
  pymc/backends/base.py
  pymc/backends/mcbackend.py
  pymc/backends/ndarray.py
  pymc/backends/zarr.py
  pymc/progress_bar.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  tests/backends/test_arviz.py
Due: none

Silence sampling with quiet=True
  pymc/sampling/jax.py
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc.py
Due: none

Trivial change to test PR
  README.rst
Due: none

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
