Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

conda-env-sort:
  additional_dependencies:
  - pyyaml
  entry: python scripts/sort_conda_envs.py
  language: python
  name: Sort dependencies in conda envs

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Revert test_distributions_random to version main
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fix test_distributions_random for idata forward sampling
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Make forward sampling functions return `InferenceData` by default (#5073)
  RELEASE-NOTES.md
  pymc/sampling.py
  pymc/smc/smc.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_idata_conversion.py
  pymc/tests/test_missing.py
  pymc/tests/test_sampling.py
  pymc/tests/test_shared.py
  pymc/tests/test_smc.py
Due: no-relative-imports

make linear response more robust and fix bug with predictions (#5080)
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/tests/test_bart.py
Due: no-relative-imports

fix pylint issues
  pymc/distributions/distribution.py
  pymc/sampling.py
  pymc/tests/test_model.py
Due: no-relative-imports

add team members and voting processes
  GOVERNANCE.md
  docs/community_diagram.png
Due: none

Apply suggestions from code review
  GOVERNANCE.md
Due: none

Fix logo url on v3
  README.rst
Due: none

Fix links in layout.html
  docs/source/semantic_sphinx/layout.html
Due: none

Fix logo urls on v3 (#5081)
  README.rst
  docs/source/semantic_sphinx/layout.html
Due: none

Initial commit - Use Sphinx AutoSummary
  .gitignore
  docs/source/_templates/custom-class-template.rst
  docs/source/_templates/custom-function-template.rst
  docs/source/_templates/custom-module-template.rst
  docs/source/api.rst
  docs/source/api/distributions.rst
  docs/source/api/distributions/continuous.rst
  docs/source/api/distributions/discrete.rst
  docs/source/api/distributions/mixture.rst
  docs/source/api/distributions/multivariate.rst
  docs/source/api/distributions/simulator.rst
  docs/source/api/distributions/timeseries.rst
  docs/source/api/distributions/transforms.rst
  docs/source/api/distributions/utilities.rst
  docs/source/api/glm.rst
  docs/source/api/gp.rst
  docs/source/api/gp/cov.rst
  docs/source/api/gp/implementations.rst
  docs/source/api/gp/mean.rst
  docs/source/api/inference.rst
  docs/source/api/math.rst
  docs/source/api/model.rst
  docs/source/api/ode.rst
  docs/source/api/plots.rst
  docs/source/api/samplers.rst
  docs/source/api/shape_utils.rst
  docs/source/api/smc.rst
  docs/source/api/smc/sample_smc.rst
  docs/source/api/smc/smc.rst
  docs/source/api/stats.rst
  docs/source/conf.py
  docs/source/sphinx_autosummary/custom_generate.py
Due: no-relative-imports

Dont inherit docstring from parent class
  docs/source/conf.py
Due: no-relative-imports

Add api information present in rst files to python modules
  pymc/distributions/bound.py
  pymc/distributions/shape_utils.py
  pymc/math.py
Due: no-relative-imports

Update GOVERNANCE.md
  GOVERNANCE.md
Due: none

Add backports module and backport logp syntax
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  docs/source/developer_guide.rst
  pymc3/__init__.py
  pymc3/backports.py
  pymc3/tests/test_backports.py
Due: check-no-tests-are-ignored, no-relative-imports

Add dims to *Ordered probs variables when appropriate
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

Make black happy
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

For real about black this time
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

Add dims to *Ordered probs variables when appropriate (#5084)
  pymc/distributions/discrete.py
  pymc/distributions/multivariate.py
Due: no-relative-imports

Apply suggestions from code review
  pymc3/backports.py
Due: no-relative-imports

Add backports module and backport logp syntax (#5083)
  .github/workflows/pytest.yml
  RELEASE-NOTES.md
  docs/source/developer_guide.rst
  pymc3/__init__.py
  pymc3/backports.py
  pymc3/tests/test_backports.py
Due: check-no-tests-are-ignored, no-relative-imports

minor changes
  docs/source/contributing/index.md
  docs/source/installation.md
  docs/source/learn/step1.md
  docs/source/learn/step2.md
  docs/source/learn/step3.md
Due: none

Added GEV distribution
  docs/source/api/distributions/continuous.rst
  pymc/distributions/__init__.py
  pymc/distributions/continuous.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

GEV docs tweaks
  pymc/distributions/continuous.py
Due: no-relative-imports

Final doc tweak and reference
  pymc/distributions/continuous.py
Due: no-relative-imports

Docs formatting again <sigh>
  pymc/distributions/continuous.py
Due: no-relative-imports

Edits after first review
  pymc/distributions/continuous.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Raise ValueError when Domain has no values
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Revision following first review
  pymc/distributions/continuous.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

Fixed n_samples
  pymc/tests/test_distributions.py
Due: no-relative-imports

adress comments
  GOVERNANCE.md
Due: none

fix test bart
  pymc/tests/test_bart.py
Due: no-relative-imports

fix interence_data in init
  pymc/sampling.py
Due: no-relative-imports

proofreading
  GOVERNANCE.md
Due: none

add utils for prediction and interpretability
  pymc/bart/__init__.py
  pymc/bart/bart.py
  pymc/bart/pgbart.py
  pymc/bart/tree.py
  pymc/bart/utils.py
  pymc/sampling.py
  pymc/smc/smc.py
  pymc/tests/test_bart.py
Due: no-relative-imports

remove file
  pymc/smc/smc.py
Due: no-relative-imports

add tests
  pymc/bart/utils.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  conda-env-sort: any of: ^conda-envs/environment-dev-py37\.yml$ and \.(yaml|yml)$ and not (^(docs/logos|pymc3/tests/data)/)
  pip-from-conda: any of: ^conda-envs/, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
