Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Refactor `StatsBijection` to expose information about object stats
  pymc/step_methods/compound.py
  tests/step_methods/test_compound.py
Due: no-relative-imports

Add optional McBackend support
  .github/workflows/tests.yml
  pymc/backends/__init__.py
  pymc/backends/mcbackend.py
  pymc/sampling/mcmc.py
  tests/backends/test_mcbackend.py
  tests/sampling/test_mcmc.py
Due: no-relative-imports

test gitpod pr
  temp.txt
Due: none

Revert "Default to using McBackend"
  pymc/backends/__init__.py
Due: no-relative-imports

more instructions on gitpod
  docs/source/contributing/gitpod/gitpod_integration.png
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

new line at end of file
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

fix trailing whitespace
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

fix wording
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

try image
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Updated docstring for Potential function
  pymc/model.py
Due: no-relative-imports

Remove useless option from setup.py
  setup.py
Due: no-relative-imports

Clean up MANIFEST.in
  MANIFEST.in
Due: none

try sphinx image code
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

add link format
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

try html for image
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

add blank line
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

try image code
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

spacing, fix commit errors
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

backticks
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Exclude tests from package discovery
  setup.py
Due: no-relative-imports

try image option again
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Make get_data not look at local files anymore
  pymc/data.py
Due: no-relative-imports

refactor to be usable by outside libraries, add tests
  pymc/gp/hsgp.py
  pymc/tests/gp/test_gp.py
  pymc/tests/gp/test_hsgp.py
Due: no-relative-imports

Updating docstring according to suggestions
  pymc/model.py
Due: no-relative-imports

update copyright to 2023
  pymc/gp/__init__.py
  pymc/gp/gp.py
  pymc/gp/hsgp.py
  pymc/gp/mean.py
  pymc/gp/util.py
  pymc/tests/gp/test_hsgp.py
Due: no-relative-imports

add error messages to cov psd tests
  pymc/gp/cov.py
  pymc/tests/gp/test_cov.py
Due: no-relative-imports

only error if neither c or L are passed, both is OK. also fix precommit issue with cov.py
  pymc/gp/cov.py
  pymc/gp/hsgp.py
Due: no-relative-imports

fail to fix mypy errors
  pymc/gp/hsgp.py
Due: no-relative-imports

clean up
  pymc/gp/hsgp.py
Due: no-relative-imports

add test file using gitpod
  test.md
Due: none

terminal instructions
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

clarify instructions
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

fix image agai
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

fix precommit spacing errors
  docs/source/contributing/using_gitpod.md
Due: no-internal-links

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-relative-imports: any of: \.py$ and not ((?x)(pymc/_version.py|versioneer.py)) and not (^(docs/logos|pymc/tests/data)/)
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
