Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Fix ref in learn/examples.md
  docs/source/learn/examples.md
Due: none

Fix ref in learn/usage_overview.rst
  docs/source/learn/usage_overview.rst
Due: none

:see_no_evil: ignore index.md
  .pre-commit-config.yaml
  docs/source/index.md
Due: none

Upgrade Aesara version pin and unpin SciPy upper limit
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Separate transitive shape checks into separate asserts
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Move stickbreaking tests
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Adapt to new `size` kwarg interpretation
  pymc/aesaraf.py
  pymc/distributions/multivariate.py
  pymc/distributions/shape_utils.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_shape_handling.py
Due: no-relative-imports

Fix Wishart shape inference when there are batched parameters
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Update MatrixNormal shape_inference and remove shape and size restrictions
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fix KroneckerNormal ndim_supp
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

fix arviz cross references in notebooks
  docs/source/learn/examples/posterior_predictive.ipynb
  docs/source/learn/examples/pymc_overview.ipynb
Due: none

Add pre-commit check for docs cross-references (#5486)
  .pre-commit-config.yaml
  docs/source/Advanced_usage_of_Aesara_in_PyMC.rst
  docs/source/PyMC_and_Aesara.rst
  docs/source/api/distributions.rst
  docs/source/contributing/developer_guide.rst
  docs/source/contributing/developer_guide_implementing_distribution.md
  docs/source/glossary.md
  docs/source/learn/examples.md
  docs/source/learn/examples/posterior_predictive.ipynb
  docs/source/learn/examples/pymc_overview.ipynb
  docs/source/learn/usage_overview.rst
Due: none

Update pymc/variational/opvi.py
  pymc/variational/opvi.py
Due: no-relative-imports

Add removed newline
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

Use compile_pymc instead of aesara.function
  pymc/variational/opvi.py
Due: no-relative-imports

add a test for get_data function
  pymc/tests/test_data_container.py
Due: no-relative-imports

simplify serveral tests in TestMinibatch
  pymc/tests/test_minibatches.py
Due: no-relative-imports

Fix the non-tuple indexing deprecated warning for Minibatch
  pymc/data.py
Due: no-relative-imports

update report
  pymc/backends/report.py
Due: no-relative-imports

Replace None by empty list in output
  pymc/variational/opvi.py
Due: no-relative-imports

Updated pr_tutorial.md
  docs/source/contributing/pr_tutorial.md
Due: none

Fix minor typo
  pymc/sampling.py
Due: no-relative-imports

Fix minor typo (#5517)
  pymc/sampling.py
Due: no-relative-imports

update per comments
  pymc/backends/report.py
Due: no-relative-imports

pgbart step arguments (#5458)
  pymc/bart/pgbart.py
  pymc/sampling.py
Due: no-relative-imports

Added assertion that a variable doesn't have the same name as its dimensions.
  pymc/model.py
Due: no-relative-imports

Fixed code format.
  pymc/tests/test_idata_conversion.py
Due: no-relative-imports

Enable users to pass extra options to numpyro.infer.NUTS in sampling_jax
  pymc/sampling_jax.py
Due: no-relative-imports

Apply suggestions from code review
  pymc/distributions/logprob.py
Due: no-relative-imports

Fix whitespace issue causing pre-commmit to fail.
  docs/source/contributing/pr_tutorial.md
Due: none

Updated docstrings for pymc.Beta
  pymc/distributions/continuous.py
Due: no-relative-imports

Marked alpha and beta as optional in pymc.Beta docstring
  pymc/distributions/continuous.py
Due: no-relative-imports

BUG: fixing density dist docstring to be xarray friendly
  pymc/distributions/distribution.py
Due: no-relative-imports

Updated docstrings for pymc.Beta (#5500)
  pymc/distributions/continuous.py
Due: no-relative-imports

update density dist docstring to v4 API (#5523)
  pymc/distributions/distribution.py
Due: no-relative-imports
