Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

add missing compute_initial_point calls
  .coverage
  pymc/tests/test_step.py
Due: no-relative-imports

Renamed `model.recompute_initial_point` to `model.compute_initial_point` (#5360)
  .coverage
  pymc/backends/base.py
  pymc/bart/pgbart.py
  pymc/model.py
  pymc/sampling_jax.py
  pymc/smc/smc.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_data_container.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_distributions_timeseries.py
  pymc/tests/test_initial_point.py
  pymc/tests/test_missing.py
  pymc/tests/test_mixture.py
  pymc/tests/test_model.py
  pymc/tests/test_quadpotential.py
  pymc/tests/test_sampling.py
  pymc/tests/test_step.py
  pymc/tests/test_transforms.py
  pymc/tests/test_variational_inference.py
Due: no-relative-imports

Add additional complier flag to work around GCC bug.
  pymc/__init__.py
Due: no-relative-imports

Fixed conflict in test_distributions
  pymc/distributions/__init__.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

Add conditions to SBW bound
  pymc/distributions/multivariate.py
Due: no-relative-imports

Moment and random tests failing...
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Made progress on SBW class, testing to be done
  pymc/distributions/__init__.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fixed moment test
  pymc/distributions/multivariate.py
  pymc/initial_point.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Fixed pre-commit errors
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Adding 3 sets of tests, some failing
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

All tests are passing 🚀
  pymc/distributions/multivariate.py
  pymc/initial_point.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

Midway adding docstring
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

New distribution tests + Ricardo\'s suggestions
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Revamp our negative binomial explanation (#5300)
  pymc/distributions/discrete.py
Due: no-relative-imports

try using conda
  .readthedocs.yml
Due: none

set core notebooks to autoexecute when building docs
  .readthedocs.yml
  docs/source/conf.py
Due: no-relative-imports

remove gallery generator
  docs/source/sphinxext/gallery_generator.py
Due: no-relative-imports

2nd try
  .readthedocs.yml
Due: none

Test conditional workflow runs
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
Due: check-no-tests-are-ignored

commit that should not trigger costly workflows
  .coverage
  .coveragerc
  build_and_deploy_docs.sh
  fast_build_docs.sh
Due: none

commit that should trigger workflows
  codecov.yml
Due: none

tighten test_normal_scalar bound
  pymc/tests/test_sampling.py
Due: no-relative-imports

Added SBW docstring
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

add pip to conda envs
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
Due: pip-from-conda

work on docs
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  docs/source/_templates/autosummary/class.rst
  docs/source/api/gp.rst
  docs/source/api/gp/cov.rst
  docs/source/api/gp/implementations.rst
  docs/source/api/gp/mean.rst
  docs/source/conf.py
  pymc/distributions/continuous.py
Due: pip-from-conda, no-relative-imports

add examples link
  docs/source/conf.py
  docs/source/index.md
Due: no-relative-imports

run pre-commit
  requirements-dev.txt
Due: none

update release notes
  RELEASE-NOTES.md
Due: none

Add polyagamma to requirements-dev.txt
  requirements-dev.txt
Due: none

Added 2D distribution test + fixes
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
Due: no-relative-imports

Adding parameter checks into make_node
  pymc/distributions/multivariate.py
Due: no-relative-imports

Storing draws in test_distributions_random.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Generate doc + minor fix
  docs/source/api/distributions/multivariate.rst
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Fixed docstring
  pymc/distributions/multivariate.py
Due: no-relative-imports

Fixing pre-commit error
  pymc/distributions/multivariate.py
Due: no-relative-imports

Fixing docstring... again
  pymc/distributions/multivariate.py
Due: no-relative-imports

Add `StickBreakingWeights` distribution (#5200)
  docs/source/api/distributions/multivariate.rst
  pymc/distributions/__init__.py
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

Add issue ticket link to DistributionMeta (#5355)
  pymc/distributions/distribution.py
Due: no-relative-imports

Test conditional workflow runs + config files cleanup (#5364)
  .coverage
  .coveragerc
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
  .github/workflows/pytest.yml
  build_and_deploy_docs.sh
  codecov.yml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  fast_build_docs.sh
Due: check-no-tests-are-ignored, pip-from-conda
