Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: watermark, check-toc, check-no-tests-are-ignored, conda-env-sort, pip-to-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/examples/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.5.4
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==20.8b1]
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
- repo: https://github.com/PyCQA/isort
  rev: 5.6.4
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
    - id: pyupgrade
      args: [--py36-plus]
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: pylint-2.6.0
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC3 Wiki)
      types: [jupyter]
    - id: check-toc
      entry: python scripts/check_toc_is_complete.py
      language: python
      name: Check all notebooks appear in table of contents
      types: [jupyter]
    - id: check-no-tests-are-ignored
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-to-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^(conda-envs/environment-dev-py38\.yml|requirements-dev\.txt)$
      language: python
      name: Generate pip dependency from conda
      pass_filenames: false
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

:pencil2: Update PyMC3 Docs installation by Conda Forge
  README.rst
  docs/source/index.rst
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config (#4402)
  .pre-commit-config.yaml
Due: none

Update README.rst
  README.rst
Due: none

handle changed API of theano.gof.graph.stack_search
  pymc3/model_graph.py
Due: no-relative-imports

convert n and eta to tensors, explicitly list parameters for repr
  pymc3/distributions/multivariate.py
Due: no-relative-imports

improve robustness of get_repr_for_variable
  pymc3/util.py
Due: no-relative-imports

:pencil2: Focus on Theano-PyMC3 instead of Theano for installation
  README.rst
Due: none

Revert "handle changed API of theano.gof.graph.stack_search"
  pymc3/model_graph.py
Due: no-relative-imports

Update docstrings for valid input types. Progress on batch test.
  pymc3/distributions/multivariate.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Add new test to ensure DM matches BetaBinom
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Better handling of variable names in e.g. GraphViz graphs (#4403)
  pymc3/distributions/multivariate.py
  pymc3/util.py
Due: no-relative-imports

Change DM alpha -> a in docstrings.
  pymc3/distributions/multivariate.py
Due: no-relative-imports

Test two additional parameterization shapes in `test_dirichlet_multinomial_random`.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Revert debugging comments.
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Revert unrelated changes.
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

Fix minor Black inconsistency.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Remove redundant log1pexp reimplementation in Logistic CDF
  pymc3/distributions/continuous.py
Due: no-relative-imports

Remove redundant log1pexp reimplementation in Logistic CDF (#4406)
  pymc3/distributions/continuous.py
Due: no-relative-imports

Docs - Update PyMC3 Installation focus via Conda Forge (#4401)
  README.rst
  docs/source/index.rst
Due: none

revert sort_conda changes (will do in separate PR)
  .pre-commit-config.yaml
  scripts/sort_conda_envs.py
Due: no-relative-imports

suggested changes added
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

asymmetric laplace distribution added
  pymc3/distributions/__init__.py
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

continuous.py updated
  pymc3/distributions/continuous.py
Due: no-relative-imports

unit test for random function added
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

updated
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

generate requirements-dev from py37 env
  .pre-commit-config.yaml
  requirements-dev.txt
Due: pip-to-conda

RELEASE-NOTES.md and continuous.rst updated
  RELEASE-NOTES.md
  docs/source/api/distributions/continuous.rst
Due: none

Test on oldest supported versions during end-to-end CI (#4374)
  .codecov.yml
  .github/workflows/arviz_compat.yml
  .github/workflows/pytest.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  pymc3/tests/test_distributions.py
  requirements.txt
  setup.py
Due: check-no-tests-are-ignored, conda-env-sort, no-relative-imports

Asymmetric Laplace distribution added (#4392)
  RELEASE-NOTES.md
  docs/source/api/distributions/continuous.rst
  pymc3/distributions/__init__.py
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
  pymc3/tests/test_distributions_random.py
Due: no-relative-imports

- Remove unused std_cdf
  pymc3/distributions/continuous.py
Due: no-relative-imports

- Improve ExGaussian logcdf and refactor logp
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

- Add release note
  RELEASE-NOTES.md
  pymc3/tests/test_distributions.py
Due: no-relative-imports

- Remove unused import `theano`
  pymc3/distributions/continuous.py
Due: no-relative-imports

Improve ExGaussian logcdf and refactor logp (#4407)
  RELEASE-NOTES.md
  pymc3/distributions/continuous.py
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Drop no-longer-functional reshaping code.
  pymc3/distributions/multivariate.py
Due: no-relative-imports

Assert shape of random samples is as expected.
  pymc3/distributions/multivariate.py
Due: no-relative-imports

Explicitly test random sample shapes, including batch dimensions.
  pymc3/tests/test_distributions.py
Due: no-relative-imports

Sort imports.
  pymc3/tests/test_distributions.py
Due: no-relative-imports
