Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.12.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: conda-env-sorter
      files: ^conda-envs/environment-dev-py.+\.yml$
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev-py.+.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Use more wide default init_dist in GaussianRandomWalk and AR and raise UserWarning when not explicitly defined
  pymc/distributions/timeseries.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_timeseries.py
Due: no-relative-imports

Remove user-facing mentions of size in timeseries distributions
  pymc/distributions/timeseries.py
Due: no-relative-imports

Deprecate remaining VI methods (#5806)
  pymc/tests/test_variational_inference.py
  pymc/variational/__init__.py
  pymc/variational/approximations.py
  pymc/variational/flows.py
  pymc/variational/inference.py
  pymc/variational/opvi.py
Due: no-relative-imports

Update Aesara dependency
  .pre-commit-config.yaml
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

remove v3 mentions
  docs/source/installation.md
Due: none

--pre flag for interim period
  docs/source/installation.md
Due: none

new line
  docs/source/installation.md
Due: none

remove more mentions
  docs/source/installation.md
Due: none

Apply suggestions from code review
  RELEASE-NOTES.md
Due: none

Improve structure again
  RELEASE-NOTES.md
Due: none

Add release announcement
  RELEASE-NOTES.md
Due: none

fix 404 and intersphinx
  docs/source/404.md
  docs/source/conf.py
Due: no-relative-imports

Change cards to use Oriol's proposed format.
  docs/source/learn/books.md
Due: none

fix sphinx build
  docs/source/conf.py
  docs/source/learn/books.md
Due: no-relative-imports

add newline at end of file
  docs/source/learn/books.md
Due: none

ensure img kwarg is in the next line of directive definition
  docs/source/learn/books.md
Due: none

Bring back learn page. (#5833)
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.md
  docs/source/learn.md
  docs/source/learn/books.md
  docs/source/learn/consulting.md
  docs/source/learn/videos_and_podcasts.md
  docs/source/learning.md
Due: no-relative-imports

clean notebook and extract main sections [WIP]
  docs/pymc_aesara.ipynb
Due: none

Add comment to `set_data` condition where the length comes from a `shape[i]` graph
  pymc/model.py
Due: no-relative-imports

Automatically resize independently mutable dims via `set_data`
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Add `Model.set_dim` method for safer dims resizing
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Warn about resizing `MutableData` dims that are not symbolically linked
  pymc/model.py
  pymc/tests/test_model.py
Due: no-relative-imports

Update guide on implementing new distributions
  docs/source/contributing/developer_guide_implementing_distribution.md
Due: none

Add troubleshooting tips on pre-commit
  docs/source/contributing/python_style.md
  docs/source/contributing/review_pr_pymc_examples.md
Due: none

Write instructions on running the test suite
  docs/source/contributing/running_the_test_suite.md
Due: none

fix suggestions part 1
  docs/pymc_aesara.ipynb
Due: none

Move printing-related tests to their own test module
  pymc/tests/test_distributions.py
  pymc/tests/test_printing.py
Due: no-relative-imports

fix suggestions part 2
  docs/pymc_aesara.ipynb
Due: none

Move BMCP to top of book list
  docs/source/learn/books.md
Due: none

Template for latex repr for symbolic dists
  pymc/distributions/discrete.py
  pymc/distributions/distribution.py
  pymc/printing.py
Due: no-relative-imports

Removing raise ValueError
  pymc/printing.py
Due: no-relative-imports

working on weight representation for mixtures
  pymc/printing.py
Due: no-relative-imports

Mixture dists look alright
  pymc/distributions/distribution.py
  pymc/printing.py
Due: no-relative-imports

Fixed printing of mixtures with single component dispatching
  pymc/printing.py
Due: no-relative-imports
