Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, conda-env-sort, pip-from-conda, no-relative-imports

.pre-commit-config.yaml:

exclude: ^(docs/logos|pymc3/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, master]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
      name: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/pylint
  rev: v2.10.2
  hooks:
    - id: pylint
      args: [--rcfile=.pylintrc]
      files: ^pymc3/
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.2.1
  hooks:
    - id: no-print-statements
      files: ^pymc3/
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^\.github/workflows/pytest\.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: conda-env-sort
      additional_dependencies: [pyyaml]
      entry: python scripts/sort_conda_envs.py
      files: ^conda-envs/environment-dev-py37\.yml$
      language: python
      name: Sort dependencies in conda envs
      types: [yaml]
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep

Adding coords, dims, and some optimizations
  pymc/sampling_jax.py
Due: no-relative-imports

Update note about inconsistent interfaces
  pymc3/tests/test_step.py
Due: no-relative-imports

add moment
  pymc/bart/bart.py
  pymc/tests/test_bart.py
Due: no-relative-imports

Add moment for Simulator distribution
  pymc/distributions/simulator.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

simplify
  pymc/bart/bart.py
Due: no-relative-imports

add moment for BART distribution (#5211)
  pymc/bart/bart.py
  pymc/tests/test_bart.py
Due: no-relative-imports

add test for n and p parametrization
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

add mu sigma prefix to previous test name
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

make test smaller
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

disable broadcasting
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

remove is_observed usage from TestMarginalVsLatent
  pymc/tests/test_gp.py
Due: no-relative-imports

remove is_observed usage from TestMarginalVsMarginalSparse
  pymc/tests/test_gp.py
Due: no-relative-imports

Unpin aeppl version
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: conda-env-sort, pip-from-conda

Tweak prior in `test_deterministic_of_observed`
  pymc/tests/test_sampling.py
Due: no-relative-imports

Remove passing xfails
  pymc/tests/sampler_fixtures.py
  pymc/tests/test_posteriors.py
  pymc/tests/test_transforms.py
Due: no-relative-imports

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Due: none

v4 refactor for GP module (#5055)
  RELEASE-NOTES.md
  conda-envs/windows-environment-test-py38.yml
  pymc/gp/cov.py
  pymc/gp/gp.py
  pymc/gp/util.py
  pymc/tests/test_gp.py
Due: pip-from-conda, no-relative-imports

Add MvStudentT and MatrixNormal moment (#5173)
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

add n bound to logcdf
  pymc/distributions/discrete.py
Due: no-relative-imports

n and p parametrization on Zero Inflated Negative Binomial (#5212)
  pymc/distributions/discrete.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_random.py
Due: no-relative-imports

redoing the community page after it got lost in a force push
  docs/source/community.md
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config (#5218)
  .pre-commit-config.yaml
Due: none

minor changes
  docs/source/learn/examples.md
Due: none

update code example
  docs/source/index.md
Due: none

redo community page
  docs/source/community.md
  docs/source/learn/videos_and_podcasts.md
Due: none

try twitter feed on sidebar
  docs/source/_templates/twitter.html
  docs/source/community.md
  docs/source/conf.py
Due: no-relative-imports

restructure contributing docs
  docs/source/about/citing_pymc.md
  docs/source/about/featured_testimonials.md
  docs/source/about/index.md
  docs/source/about/testimonials.md
  docs/source/community.md
  docs/source/conf.py
  docs/source/contributing/build_docs.md
  docs/source/contributing/developer_guide_implementing_distribution.md
  docs/source/contributing/index.md
  docs/source/contributing/jupyter_style.md
  docs/source/contributing/pr_checklist.md
  docs/source/contributing/pr_tutorial.md
  docs/source/contributing/python_style.md
  docs/source/contributing/release_checklist.md
  docs/source/contributing/running_the_test_suite.md
  docs/source/index.md
  docs/source/learn/examples.md
Due: no-relative-imports

fix requirements
  requirements-dev.txt
Due: none

Apply suggestions from code review
  docs/source/contributing/jupyter_style.md
Due: none

minor fixes to docs
  docs/source/conf.py
  docs/source/contributing/jupyter_style.md
Due: no-relative-imports

try fixing pymc-lab logo
  docs/source/conf.py
  docs/source/index.md
Due: no-relative-imports

set first cell language to markdown
  docs/source/contributing/jupyter_style.md
Due: none

adds support for broadcasting dimensions
  pymc/distributions/multivariate.py
  pymc/tests/test_distributions_moments.py
Due: no-relative-imports

make homepage buttons larger
  docs/source/index.md
Due: none

fix sponsor images
  docs/source/index.md
Due: none

add reset, remove particles reweight, small refactor and tidy up
  pymc/bart/pgbart.py
  pymc/bart/tree.py
Due: no-relative-imports

update release notes
  RELEASE-NOTES.md
Due: none

Fix Interpolated Distribution interval transform initialization
  pymc/distributions/continuous.py
  pymc/distributions/dist_math.py
  pymc/tests/test_distributions.py
Due: no-relative-imports
