Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.10
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

added cleaner method using re to escape underscores, added cleaner test to assert underscores are escaped
  pymc/printing.py
  tests/test_printing.py
Due: no-relative-imports

Use GPT o1 to finish PR.
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: no-relative-imports

Linter fixes.
  pymc/distributions/multivariate.py
  pymc/distributions/transforms.py
  tests/distributions/test_transform.py
Due: no-relative-imports

implemented fix for escaping underscores in latex repr and added a un… (#7501)
  pymc/printing.py
  tests/test_printing.py
Due: no-relative-imports

Add jax dispatch for truncated normal
  pymc/dispatch/dispatch_jax.py
Due: no-relative-imports

Add test for jax dispatch
  tests/dispatch/test_jax.py
Due: no-relative-imports

Enable ruff to format code in docstrings
  pymc/backends/__init__.py
  pymc/data.py
  pymc/distributions/continuous.py
  pymc/distributions/custom.py
  pymc/distributions/mixture.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/distributions/transforms.py
  pymc/func_utils.py
  pymc/logprob/basic.py
  pymc/model/core.py
  pymc/model/transform/conditioning.py
  pymc/model_graph.py
  pymc/ode/ode.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/variational/callbacks.py
  pymc/variational/opvi.py
  pymc/variational/updates.py
  pyproject.toml
Due: no-relative-imports

fix returned object when no vars to sample and extend=True
  pymc/sampling/forward.py
  tests/sampling/test_forward.py
Due: no-relative-imports

Updates
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Additional updates
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Fix jax dispatch for TruncatedNormal
  pymc/dispatch/dispatch_jax.py
  tests/dispatch/test_jax.py
Due: no-relative-imports

Fix ruff error
  tests/dispatch/test_jax.py
Due: no-relative-imports

Fix check-no-tests-are-ignored error
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

Updated authorship
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Additional updates to text
  docs/source/contributing/developer_guide.md
Due: no-internal-links

Fix dangling step in test_population
  tests/sampling/test_population.py
Due: no-relative-imports

Fix for issue 7369
  pymc/backends/ndarray.py
Due: no-relative-imports

Detach step methods from numpy global random state
  pymc/math.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/step_methods/arraystep.py
  pymc/step_methods/compound.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/slicer.py
  pymc/util.py
  tests/sampling/test_forward.py
  tests/sampling/test_parallel.py
  tests/step_methods/hmc/test_nuts.py
  tests/step_methods/test_metropolis.py
  tests/step_methods/test_slicer.py
Due: no-relative-imports

Responding to PR comments
  pymc/backends/ndarray.py
Due: no-relative-imports

Add sampling state base classes
  .github/workflows/tests.yml
  pymc/step_methods/state.py
  tests/helpers.py
  tests/step_methods/test_state.py
Due: check-no-tests-are-ignored, no-relative-imports

Add slice sampling state
  pymc/step_methods/slicer.py
Due: no-relative-imports

Add step method state
  pymc/step_methods/arraystep.py
  pymc/step_methods/compound.py
  tests/helpers.py
Due: no-relative-imports

Add HMC sampling state
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/hmc.py
  pymc/step_methods/hmc/nuts.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/step_sizes.py
Due: no-relative-imports

Add metropolis sampling state
  pymc/step_methods/metropolis.py
  tests/models.py
  tests/step_methods/test_metropolis.py
Due: no-relative-imports

simplified conditional for GP variables in fgraph and reverted documentation for clone_model function
  pymc/model/fgraph.py
Due: no-relative-imports

parametrized tests to be more efficient, added test for adding deterministics to clone model, added copy method to Model class
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

updated copy method docs and simplified TestModelCopy tests
  pymc/model/core.py
  tests/model/test_core.py
Due: no-relative-imports

shortened TestModelCopy by removing assigned variables before comparison
  tests/model/test_core.py
Due: no-relative-imports

simplified model in TestModelCopy
  tests/model/test_core.py
Due: no-relative-imports

Build the package with python -m build
  .github/workflows/release.yml
Due: none

Allow copy and deepcopy of PYMC models (#7492)
  pymc/model/core.py
  pymc/model/fgraph.py
  tests/model/test_core.py
Due: no-relative-imports

Remove release test
  .github/workflows/release.yml
Due: none

switch to blackjax run_inference_algorithm
  pymc/sampling/jax.py
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports

fix lint
  tests/sampling/test_mcmc_external.py
Due: no-relative-imports
