Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-internal-links

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-internal-links:
  name: Check no links that should be cross-references are in the docs
  description: '''A quick check for the links in the intersphinx '' ''mapping inside `docs/source/`'' ''See docs/source/conf.py for more information.'''
  ...

Only one warning
  pymc/_deprecations.py
Due: none

Include test_root_namespace.py in test job
  .github/workflows/tests.yml
Due: check-no-tests-are-ignored

sort all
  pymc/exceptions.py
Due: none

Remove re-export of drop_warning_stat
  pymc/__init__.py
  pymc/sampling/mcmc.py
Due: none

Remove re-export of implementation details from step_methods
  docs/source/contributing/developer_guide.md
  pymc/sampling/mcmc.py
  pymc/step_methods/__init__.py
  tests/backends/test_mcbackend.py
  tests/progress_bar/test_manager.py
  tests/sampling/test_mcmc.py
  tests/sampling/test_parallel.py
  tests/step_methods/test_compound.py
Due: no-internal-links

Remove `handler` from root namespace
  pymc/__init__.py
Due: none

Add docs for `stats` submodule
  docs/source/api/stats.rst
Due: no-internal-links

Document compute_log_likelihood in stats.rst (not misc.rst)
  docs/source/api/misc.rst
  docs/source/api/stats.rst
Due: no-internal-links

Remove plots re-export into main namespace
  docs/source/api.rst
  pymc/__init__.py
Due: no-internal-links

Prevent leakage from `sampling.forward` and `sampliong.mcmc` into root via `from sampling import *`
  pymc/sampling/__init__.py
Due: none

Update arviz references in api.rst
  docs/source/api.rst
Due: no-internal-links

Remove remaining math functions from main namespace
  docs/source/learn/usage_overview.rst
  pymc/__init__.py
  pymc/distributions/multivariate.py
  tests/distributions/test_multivariate.py
  tests/sampler_fixtures.py
Due: no-internal-links

Deprecation getter
  pymc/__init__.py
  pymc/_deprecations.py
Due: none

Sampling: allow dynamic tuning steps
  pymc/sampling/mcmc.py
  pymc/step_methods/compound.py
  pymc/step_methods/metropolis.py
  tests/sampling/test_mcmc.py
Due: none

Improve nutpie progressbar handling
  pymc/progress_bar/progress.py
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

Log external sampler and variables
  pymc/sampling/mcmc.py
  tests/sampling/test_mcmc_external.py
Due: none

v6 announcement
  notebooks/pymc_v6_ecosystem_updates.ipynb
  notebooks/pymc_v6_ecosystem_updates.py
Due: none

Depend on PyTensor v3
  .github/workflows/tests.yml
  conda-envs/environment-alternative-backends.yml
  conda-envs/environment-dev.yml
  conda-envs/environment-docs.yml
  conda-envs/environment-test.yml
  conda-envs/windows-environment-dev.yml
  conda-envs/windows-environment-test.yml
  requirements-dev.txt
  requirements.txt
Due: check-no-tests-are-ignored, pip-from-conda

Delay ShapeFeature to logprob rewrites
  pymc/logprob/rewriting.py
Due: none

Make CI run on v[x] targets
  .github/workflows/mypy.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/zizmor.yml
Due: check-no-tests-are-ignored

Use direct xarray imports for Dataset / DataTree / DataArray
  pymc/sampling/deterministic.py
  pymc/sampling/forward.py
  pymc/util.py
  pymc/variational/opvi.py
Due: none

Defer heavy imports to keep `import pymc` fast
  pymc/__init__.py
  pymc/backends/__init__.py
  pymc/backends/arviz.py
  pymc/backends/zarr.py
  pymc/distributions/continuous.py
  pymc/distributions/discrete.py
  pymc/distributions/dist_math.py
  pymc/distributions/multivariate.py
  pymc/distributions/simulator.py
  pymc/func_utils.py
  pymc/gp/util.py
  pymc/math.py
  pymc/model/core.py
  pymc/plots/__init__.py
  pymc/printing.py
  pymc/pytensorf.py
  pymc/sampling/mcmc.py
  pymc/sampling/parallel.py
  pymc/sampling/population.py
  pymc/smc/kernels.py
  pymc/stats/__init__.py
  pymc/stats/convergence.py
  pymc/step_methods/hmc/integration.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/step_sizes.py
  pymc/tuning/starting.py
  tests/test_root_namespace.py
Due: none

fix(hmc): forward dtype to QuadPotentialDiagAdapt in default potential creation
  pymc/step_methods/hmc/base_hmc.py
Due: none

docs: fix RST in Model.debug docstring numbered list
  pymc/model/core.py
Due: none

docs(jax): correct postprocessing_vectorize default in sample_jax_nuts docstring
  pymc/sampling/jax.py
Due: none

Hacks for progress bars
  pymc/progress_bar/progress.py
  pymc/progress_bar/rich_progress.py
Due: none

Updated pymc overview notebook to v6
  docs/source/learn/core_notebooks/pymc_overview.ipynb
Due: no-internal-links

Path conditions:
  check-no-tests-are-ignored: any of: ^.github/workflows/tests.yml$, but not: ^(docs/logos|pymc/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev.yml$, but not: ^(docs/logos|pymc/tests/data)/
  no-internal-links: any of: ^docs/source/ and \.(md|markdown|mdown)$, \.rst$, \.ipynb$ and not ((?x)(index.md|
     404.md|
     contributing/release_checklist.md|
     contributing/versioning_schemes_explanation.md|
     learn/examples.md)
) and not (^(docs/logos|pymc/tests/data)/)
