Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports

check-no-tests-are-ignored:
  additional_dependencies:
  - pandas
  - pyyaml
  entry: python scripts/check_all_tests_are_covered.py
  language: python
  name: Check no tests are ignored
  pass_filenames: false

pip-from-conda:
  additional_dependencies:
  - pyyaml
  entry: python scripts/generate_pip_deps_from_conda.py
  language: python
  name: Generate pip dependency from conda

no-relative-imports:
  name: No relative imports
  entry: from \.[\.\w]* import
  language: pygrep

Add preliminary shapes doc
  docs/source/api.rst
  docs/source/learn/examples.md
  docs/source/learn/examples/shapes.ipynb
Due: none

Update notebook
  docs/source/learn/examples/shapes.ipynb
Due: none

Address comments
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Fix exmaples.md name
  docs/source/learn/examples.md
Due: none

Rename notebook to dimensionality
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Add prime number advice
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Update api.rst
  docs/source/api.rst
Due: none

Update shapes notebook
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Update to mu=[0,0] per comment
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Update docs/source/learn/examples/dimensionality.ipynb
  docs/source/learn/examples/dimensionality.ipynb
Due: none

Update dimensionality notebook
  docs/source/learn/examples/shapes.ipynb
Due: none

Temporarily pin SciPy to `<1.8.0`
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda

Do not exclude scipy in generate_pip_deps_from_conda
  scripts/generate_pip_deps_from_conda.py
Due: no-relative-imports

Harmonize dependencies across environments
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
Due: pip-from-conda

Use conda test environments in jaxtests and arviz_compat workflows
  .github/workflows/arviz_compat.yml
  .github/workflows/jaxtests.yml
Due: none

⬆️ UPGRADE: Autoupdate pre-commit config
  .pre-commit-config.yaml
  benchmarks/benchmarks/benchmarks.py
  pymc/bart/pgbart.py
  pymc/distributions/continuous.py
  pymc/distributions/dist_math.py
  pymc/distributions/multivariate.py
  pymc/distributions/timeseries.py
  pymc/gp/gp.py
  pymc/model.py
  pymc/printing.py
  pymc/sampling.py
  pymc/smc/sample_smc.py
  pymc/smc/smc.py
  pymc/step_methods/hmc/base_hmc.py
  pymc/step_methods/hmc/quadpotential.py
  pymc/step_methods/metropolis.py
  pymc/step_methods/mlda.py
  pymc/step_methods/step_sizes.py
  pymc/tests/models.py
  pymc/tests/test_aesaraf.py
  pymc/tests/test_distributions.py
  pymc/tests/test_distributions_moments.py
  pymc/tests/test_distributions_random.py
  pymc/tests/test_gp.py
  pymc/tests/test_minibatches.py
  pymc/tests/test_model.py
  pymc/tests/test_parallel_sampling.py
  pymc/tests/test_sampling.py
  pymc/tests/test_starting.py
  pymc/tests/test_step.py
  pymc/tests/test_variational_inference.py
  pymc/tuning/starting.py
  pymc/variational/approximations.py
  pymc/variational/flows.py
  pymc/variational/test_functions.py
  pymc/variational/updates.py
Due: no-relative-imports

Pin Aeppl version to 0.0.26
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  pymc/tests/test_distributions.py
  requirements-dev.txt
  requirements.txt
Due: pip-from-conda, no-relative-imports

threshold changed to reduce probability of test failure.
  pymc/tests/test_smc.py
Due: no-relative-imports

Change tests included in arviz_compat workflow
  .github/workflows/arviz_compat.yml
Due: none

pgbart step arguments
  pymc/bart/pgbart.py
  pymc/sampling.py
Due: no-relative-imports

fix predictions with one chain
  pymc/bart/pgbart.py
Due: no-relative-imports

some small improvements to get everything ready for the sprint
  docs/source/conf.py
Due: no-relative-imports

clarify a couple points in the jupyter style guide
  docs/source/contributing/jupyter_style.md
Due: none

add note on diataxis type category
  docs/source/contributing/jupyter_style.md
Due: none

some small improvements to get everything ready for the sprint (#5461)
  docs/source/conf.py
  docs/source/contributing/jupyter_style.md
Due: no-relative-imports

added close-figs context to docstring of weibull distribution
  pymc/distributions/continuous.py
Due: no-relative-imports

fixed docstring for class weibull (#5466)
  pymc/distributions/continuous.py
Due: no-relative-imports

Add watermark to conda environment
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  requirements-dev.txt
Due: pip-from-conda

Add blas dependency temporarily
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  scripts/generate_pip_deps_from_conda.py
Due: pip-from-conda, no-relative-imports

Add blas dependency temporarily (#5478)
  conda-envs/environment-dev-py37.yml
  conda-envs/environment-dev-py38.yml
  conda-envs/environment-dev-py39.yml
  conda-envs/environment-test-py37.yml
  conda-envs/environment-test-py38.yml
  conda-envs/environment-test-py39.yml
  conda-envs/windows-environment-dev-py38.yml
  conda-envs/windows-environment-test-py38.yml
  requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
Due: pip-from-conda, no-relative-imports

deleted tracetab.py and the test
  pymc/tests/test_tracetab.py
Due: no-relative-imports

deleted tracetab.py and the test
  pymc/backends/tracetab.py
Due: no-relative-imports

Path conditions:
  check-no-tests-are-ignored: any of: ^\.github/workflows/pytest\.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  pip-from-conda: any of: ^conda-envs/environment-dev-py.+.yml$, but not: ^(docs/logos|pymc3/tests/data)/
  no-relative-imports: any of: \.py$, but not: ^(docs/logos|pymc3/tests/data)/
