Repository pymc-devs/pymc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-tests-are-ignored, pip-from-conda, no-relative-imports, no-internal-links

.pre-commit-config.yaml:

ci:
  autofix_prs: false

exclude: ^(docs/logos|pymc/tests/data)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main]
    -   id: requirements-txt-fixer
        exclude: ^requirements-dev\.txt$
    -   id: trailing-whitespace
- repo: https://github.com/lucianopaz/head_of_apache
  rev: "0.0.3"
  hooks:
    - id: head_of_apache
      args:
        - --author=The PyMC Developers
        - --exclude=docs/
        - --exclude=scripts/
        - --exclude=binder/
        - --exclude=versioneer.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.2.0
  hooks:
    - id: ruff
      args: ["--fix", "--output-format=full"]
    - id: ruff-format
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.4.1
  hooks:
    - id: no-print-statements
      files: ^pymc/
      exclude: (?x)(pymc/_version.py)
- repo: local
  hooks:
    - id: check-no-tests-are-ignored
      additional_dependencies: [pandas,pyyaml]
      entry: python scripts/check_all_tests_are_covered.py
      files: ^.github/workflows/tests.yml$
      language: python
      name: Check no tests are ignored
      pass_filenames: false
    - id: pip-from-conda
      additional_dependencies: [pyyaml]
      entry: python scripts/generate_pip_deps_from_conda.py
      files: ^conda-envs/environment-dev.yml$
      language: python
      name: Generate pip dependency from conda
    - id: no-relative-imports
      name: No relative imports
      entry: from \.[\.\w]* import
      types: [python]
      language: pygrep
      exclude: (?x)(pymc/_version.py|versioneer.py)
    - id: no-internal-links
      name: Check no links that should be cross-references are in the docs
      description: >-
        'A quick check for the links in the intersphinx '
        'mapping inside `docs/source/`'
        'See docs/source/conf.py for more information.'
      files: ^docs/source/
      # Files that should be ignored:
      # - index.md
      # - 404.md
      # - contributing/release_checklist.md
      # The other files are under development and should be
      # removed from the list once they are revised.
      exclude: >
          (?x)(index.md|
               404.md|
               contributing/release_checklist.md|
               contributing/versioning_schemes_explanation.md|
               learn/examples.md)
      entry: >
          (?x)(arviz-devs.github.io|
               python.arviz.org|
               pytensor.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               www.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               myst-parser.readthedocs.io|
               myst-nb.readthedocs.io|
               docs.python.org|
               xarray.pydata.org)
      language: pygrep
      types_or: [markdown, rst, jupyter]

Allow customizing truncation max_n_steps in Hurdle Mixtures
  pymc/distributions/mixture.py
Due: no-relative-imports

Update __init__.py
  pymc3/__init__.py
Due: no-relative-imports

fix docstrings, fix centering calculations
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

Change Xs to X, because the s indicated scaled, which we dont have to do anymore
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

fix test fails
  pymc/gp/hsgp_approx.py
  tests/gp/test_hsgp_approx.py
Due: no-relative-imports

remove c, HSGPParams tuple, fix docstring
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

add a bit more detail to docstring of set_boundary
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

Add refresh call to progress bar in apply_function_over_dataset
  pymc/backends/arviz.py
Due: no-relative-imports

Add refresh call to progress bar in apply_function_over_dataset (#7343)
  pymc/backends/arviz.py
Due: no-relative-imports

Fix broken links
  docs/source/404.md
  docs/source/contributing/developer_guide.md
  docs/source/learn/books.md
Due: no-internal-links

OrderedLogistic and OrderedProbit no longer subclass Distribution
  pymc/distributions/discrete.py
  tests/distributions/test_discrete.py
Due: no-relative-imports

OrderedLogistic and OrderedProbit no longer subclass Distribution
  tests/distributions/test_discrete.py
Due: no-relative-imports

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Add Scorecard Badge to README.rst
  README.rst
Due: none

Avoid repeated status polling in smc
  pymc/smc/sampling.py
Due: no-relative-imports

Compute S with more generic formula for radius
  pymc/gp/hsgp_approx.py
Due: no-relative-imports

move pytest imports to be local
  pymc/testing.py
Due: no-relative-imports

Update example outputs and test that it works
  README.rst
Due: none

fix: Include `posterior_attrs` in trace dict
  pymc/sampling/jax.py
Due: no-relative-imports

Add experiment background info
  README.rst
Due: none

Add minimal pymc example
  README.rst
Due: none

Update variable names
  README.rst
Due: none

Add summary outputs
  README.rst
Due: none

first draft of Binomial.icdf issue #6612
  pymc/distributions/discrete.py
Due: no-relative-imports
